{%- doc -%}
  Renders an "Add to cart" button with dynamic text and state. It shows different text based on whether the product can be added to the cart and provides visual feedback when an item is added.

  @param {boolean} can_add_to_cart - Whether the product can be added to the cart.
  @param {string} add_to_cart_text - The text to display on the button.
  @param {object} product - The product object to be added to the cart.
  @param {boolean} [icon_only_on_mobile] - If `true`, only the icon is shown on mobile devices.
  @param {string} [class] - Additional CSS classes to apply to the button.
  @param {string} [id] - The ID attribute for the button.
  @param {object} [settings] - The settings
  @param {string} [button_style] - The button style
  @param {string} [style_class] - The style class
{%- enddoc -%}

{%- liquid
  assign default_add_to_cart_text = 'actions.add_to_cart' | t
  assign product_variant_media = product.selected_or_first_available_variant.featured_media.preview_image | image_url: width: 100
  if product.selected_or_first_available_variant.featured_media.preview_image == blank
    assign product_variant_media = product.featured_media.preview_image | image_url: width: 100
  endif
  assign style_class = style_class | default: settings.style_class
  assign button_style = button_style | default: settings.button_style
-%}

<div
  class="add-to-cart-button-container"
  data-product-variant-media="{{ product_variant_media }}"
>
  <button
    id="{{ id }}"
    type="submit"
    name="add"
    class="
      {{ class }}
      size-style
      button {{ style_class }}
      product-form__submit button--full-width
      {% if button_style == 'outline' %}button--outline{% endif %}
    "
    {% unless can_add_to_cart %}
      disabled
    {% endunless %}
    style="
      {% render 'size-style', settings: settings %}
      {% render 'button-style', settings: settings %}
      {% if step_by_step %}display: none;{% endif %}
    "
  >
    <span
      class="add-to-cart-text"
    >
      <span class="add-to-cart-text__content{% if icon_only_on_mobile %} is-visually-hidden-mobile{% endif %}">
        {{- add_to_cart_text | default: default_add_to_cart_text -}}
      </span>
    </span>
    {%- render 'loading-spinner' -%}
  </button>
</div>
