<ul class="editorial-product__grid list-unstyled">
  {% for item in items %}
    {% liquid
      assign current_grid_index = forloop.index0 | divided_by: 8
      assign current_item_index = forloop.index0 | modulo: 8

      case current_item_index
        when 0
          assign grid_column = '1 / span 7'
          assign grid_row = 1
          assign grid_row_span = 6
        when 1
          assign grid_column = '9 / span 4'
          assign grid_row = 5
          assign grid_row_span = 5
        when 2
          assign grid_column = '2 / span 5'
          assign grid_row = 8
          assign grid_row_span = 5
        when 3
          assign grid_column = '5 / span 8'
          assign grid_row = 14
          assign grid_row_span = 6
        when 4
          assign grid_column = '1 / span 7'
          assign grid_row = 21
          assign grid_row_span = 6
        when 5
          assign grid_column = '9 / span 4'
          assign grid_row = 25
          assign grid_row_span = 5
        when 6
          assign grid_column = '2 / span 5'
          assign grid_row = 28
          assign grid_row_span = 5
        when 7
          assign grid_column = '3 / span 8'
          assign grid_row = 34
          assign grid_row_span = 6
      endcase

      assign full_grid_rows = current_grid_index | times: 40
      assign grid_row = grid_row | plus: full_grid_rows
    %}

    <div
      class="editorial-product__item-{{ forloop.index0 | modulo: 4 }}"
      style="grid-column: {{ grid_column }}; grid-row: {{ grid_row }} / span {{ grid_row_span }};"
    >
      {{ item }}
    </div>
  {% endfor %}
</ul>
