
<modal-dialog
  class="edit-cart-popup customPopup-large modal--popup fixed top-0 left-0 z-9 w-screen h-full flex justify-center no-js-hidden"
  data-edit-cart-popup
  id="halo-edit-cart-popup"
>
  <div id="Modal-Overlay" class="modal__overlay fixed inset-0 cursor-pointer"></div>
  <edit-cart-modal
    class="popup__inner w-auto h-full absolute-c-c flex flex-column global-settings-popup"
    role="dialog"
    aria-modal="true"
    aria-label="{{ 'products.product.choose_product_options' | t: product_name: product.title | escape }}"
    tabindex="-1"
    style="--modal-max-height: 85dvh;"
  >
    <button
      class="drawer__close block t-button bor-none rounded-full cursor-pointer"
      type="button"
      onclick="this.closest('modal-dialog').hide()"
      aria-label="{{ 'accessibility.close_dialog' | t }}"
      style="--top: 0.3rem; --right: 0.3rem;"
    >
      {{- 'icon-close.svg' | inline_asset_content -}}
    </button>
    <div class="popup-wrapper">
      <div class="popup-edit-header">
        <h5 class="popup-title">{{ 'content.cart.edit_cart_title' | t }}</h5>
      </div>
      <div class="halo-popup-content halo-popup-scroll custom-scrollbar"></div>
    </div>
  </edit-cart-modal>
</modal-dialog>

{%- if settings.show_cart_quick_edit_plus -%}
  <script src="{{ 'variants-edit-cart.js' | asset_url }}" defer="defer"></script>
{%- endif -%}
