{% comment %}
  Renders facets (filtering and sorting)
  Accepts:
  - results: {Object} Collection or Search object
  - enable_filtering: {Boolean} Show filtering when true
  - enable_sorting: {Boolean} Show sorting when true
  - enable_products_per_page: {Boolean} Show products per page when true
  - enable_grid_view: {Boolean} Show grid view when true
  - filter_type: {String} Type of filter
  - filter_variant_pill: {Object}
  - paginate: {Object}
  Usage:
  {% render 'facets', results: collection, enable_filtering: true, enable_sorting: true, enable_products_per_page: true, enable_grid_view: true, filter_type: 'vertical', filter_variant_pill: 'filter_variant_pill', paginate: paginate %}
{% endcomment %}

{{ 'component-show-more.css' | asset_url | stylesheet_tag }}
{{ 'component-swatch-input.css' | asset_url | stylesheet_tag }}

{%- liquid
  assign sort_by = results.sort_by | default: results.default_sort_by
  assign total_active_values = 0
  assign default_presentation = 'text'
  if results.url
    assign results_url = results.url
  else
    assign terms = results.terms | escape
    assign results_url = '?q=' | append: terms | append: '&options%5Bprefix%5D=last&sort_by=' | append: sort_by
  endif
  assign filter_variant_pill = filter_variant_pill | split: ',' | strip | downcase | handle
  assign filter_swatch = filter_swatch | split: ',' | strip | downcase | handle
  assign filter_label_all = filter_label_all | strip | default: 'More filters'
-%}

<div class="facets-container w-full{% if filter_type == 'drawer' %} facets-container-drawer{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
  {%- if filter_type == 'vertical' or filter_type == 'horizontal' -%}
    {% comment %} Sorting and product count are the last elements when filter type is horizontal {% endcomment %}
    {% if enable_count %}
      <div class="results-count results-count--mobile flex items-center lg:none{% if filter_type == 'vertical' %} hidden{% endif %}">
        <span class="results">
          <span id="ProductCountMobile">
            {%- if results.results_count -%}
              {{ 'content.results_with_count' | t: terms: results.terms, count: results.results_count }}
            {%- elsif results.products_count == results.all_products_count -%}
              {{ 'products.facets.product_count_simple' | t: count: results.products_count }}
            {%- else -%}
              {{
                'products.facets.product_count'
                | t: product_count: results.products_count, count: results.all_products_count
              }}
            {%- endif -%}
          </span>
        </span>
      </div>
    {% endif %}

    <facet-filters-form class="facets">
      <form
        id="FacetFiltersForm"
        class="
          {% if filter_type == 'horizontal' %}
            facets__form
            {% if enable_divider %} facets__form--divider{% endif %}
          {% else %}
            facets__form-vertical
          {% endif %}
        "
        style="{% if filter_type == 'horizontal' %}--divider-color: {{ divider_color }};{% endif %}"
      >
        {%- if results.terms -%}
          <input
            type="hidden"
            name="q"
            value="{{ results.terms | escape }}"
          >
          <input
            name="options[prefix]"
            type="hidden"
            value="last"
          >
        {%- endif -%}

        {% if enable_filtering %}
          {% comment %} Heading is the first tabbable element on filter type horizontal {% endcomment %}
          <div
            id="FacetsWrapperDesktop"
            {% if filter_type == 'horizontal' %}
              class="facets__form-wrapper small-hide medium-hide"
            {% endif %}
          >
            {%- if filter_type == 'horizontal' and results.filters != empty -%}
              <h2
                class="facets__heading caption-large flex items-center gap-lg"
                id="verticalTitle"
                tabindex="-1"
                style="--font-h2--case: {{ heading_label_case }};--p: 1.3rem 0;"
              >
                <span class="svg-wrapper icon-filter">
                  {{- 'icon-filter.svg' | inline_asset_content -}}
                </span>
                {{ 'products.facets.filter_by_label' | t }}
              </h2>
            {%- endif -%}
            <div class="facets__form-wrapper-inner">
              {% comment %} Pills are right below the title for filter type vertical {% endcomment %}
              {%- if filter_type == 'vertical' -%}
                <div class="active-facets flex flex-wrap w-full active-facets-desktop">
                  <div class="active-facets-vertical-filter w-full flex items-center justify-between flex-wrap gap-xs">
                    {%- unless results.filters == empty -%}
                      <h2
                        class="facets__heading facets__heading--vertical"
                        style="--font-h2--case: {{ heading_label_case }};--font-size--h2: {{ heading_label_font_size }};"
                        id="verticalTitle"
                        tabindex="-1"
                      >
                        {{ 'products.facets.filter_by_label' | t }}
                      </h2>
                    {%- endunless -%}
                    <facet-remove class="active-facets__button-wrapper">
                      <a href="{{ results_url }}" class="active-facets__button-remove underlined-link">
                        <span>{{ 'products.facets.clear_all' | t }}</span>
                      </a>
                    </facet-remove>
                    {% if enable_count %}
                      <div class="results-count w-full">
                        {%- if results.results_count -%}
                          {{
                            'content.results_with_count'
                            | t: terms: results.terms, count: results.results_count
                          }}
                        {%- elsif results.products_count == results.all_products_count -%}
                          {{ 'products.facets.product_count_simple' | t: count: results.products_count }}
                        {%- else -%}
                          {{
                            'products.facets.product_count'
                            | t: product_count: results.products_count, count: results.all_products_count
                          }}
                        {%- endif -%}
                      </div>
                    {% endif %}
                  </div>
                  {%- for filter in results.filters -%}
                    {%- for value in filter.active_values -%}
                      <facet-remove>
                        <a
                          href="{{ value.url_to_remove }}"
                          class="active-facets__button block decoration-none active-facets__button--light"
                        >
                          <span class="active-facets__button-inner button button--tertiary button-unstyled">
                            {{ value.label | escape }}
                            <span class="svg-wrapper">
                              {{- 'icon-close-small.svg' | inline_asset_content -}}
                            </span>
                            <span class="visually-hidden">{{ 'products.facets.clear_filter' | t }}</span>
                          </span>
                        </a>
                      </facet-remove>
                    {%- endfor -%}
                    {% if filter.type == 'price_range' %}
                      {% assign min = filter.min_value.value %}
                      {% assign max = filter.max_value.value %}
                      {%- if min != null or max != null -%}
                        <facet-remove>
                          <a
                            href="{{ filter.url_to_remove }}"
                            class="active-facets__button block decoration-none active-facets__button--light"
                          >
                            <span class="active-facets__button-inner button button--tertiary button-unstyled">
                              {{ min | default: 0 | money }} - {{ max | default: filter.range_max | money }}
                              <span class="svg-wrapper">
                                {{- 'icon-close-small.svg' | inline_asset_content -}}
                              </span>
                              <span class="visually-hidden">{{ 'products.facets.clear_filter' | t }}</span>
                            </span>
                          </a>
                        </facet-remove>
                      {%- endif -%}
                    {% endif %}
                  {%- endfor -%}
                </div>
              {%- endif -%}

              <script src="{{ 'show-more.js' | asset_url }}" defer="defer"></script>
              {% comment %} Filters for both horizontal and vertical filter {% endcomment %}
              {%- for filter in results.filters -%}
                {% liquid
                  assign filter_label = filter.label | escape
                  assign filter_label_downcase = filter_label | downcase
                  assign total_active_values = total_active_values | plus: filter.active_values.size
                  assign presentation = filter.presentation | default: default_presentation
                  assign filter_variant_label = filter_label_downcase | handle
                  assign has_variant_pill = false
                  if filter_variant_pill contains filter_variant_label
                    assign has_variant_pill = true
                    assign presentation = 'pill'
                  endif

                  if presentation == 'image'
                    assign show_more_number = 12
                    assign visual_layout_class = 'facets-layout facets-layout-grid facets-layout-grid--' | append: presentation
                  else
                    assign show_more_number = 10
                    assign visual_layout_class = 'facets-layout facets-layout-list facets-layout-list--' | append: presentation
                  endif

                  if filter_type == 'horizontal'
                    assign details_ani = 'dropdown-details'
                  elsif filter_type == 'vertical'
                    assign details_ani = 'collapsible-details'
                  endif

                  assign active_values_size = filter.active_values.size

                  assign is_swatch = false
                  if filter_swatch contains filter_label_downcase
                    assign is_swatch = true
                  endif

                  if filter_type == 'horizontal'
                    assign element_label = 'span'
                  else
                    assign element_label = 'h3'
                  endif
                -%}
                {% case filter.type %}
                  {% when 'boolean', 'list' %}
                    {% if filter_label == filter_label_all and show_filter_by_tags_sidebar %}
                      {%- liquid
                        assign countTag = 0
                        assign indexTag = forloop.index
                      -%}
                      {% for i in (1..number_filters) %}
                        {%- capture heading -%}fbt_heading_{{ i }}{%- endcapture -%}
                        {%- capture tags_list -%}fbt_tags_list_{{ i }}{%- endcapture -%}
                        {%- liquid
                          assign listTagHeading = bl_stts[heading]
                          assign listTags = bl_stts[tags_list] | escape | append: ',' | prepend: ','
                          assign listTagsRender = ''
                          for value in filter.values
                            assign item = value.value | escape | append: ','
                            unless listTagsRender contains item
                              if listTags contains item
                                assign listTagsRender = listTagsRender | append: item
                                assign listRemainingTags = listRemainingTags | append: item
                              endif
                            endunless
                          endfor
                        -%}
                        {% if listTagHeading != blank and listTags != blank and listTagsRender != blank %}
                          {%- liquid
                            assign countTag = countTag | plus: 1
                            assign listTagsRender = listTagsRender
                            assign countTagActive = 0
                            for value in filter.active_values
                              if listTagsRender contains value.value
                                assign countTagActive = countTagActive | plus: 1
                              endif
                            endfor
                          -%}
                          <details
                            id="Details-{{ filter.param_name | escape }}-{{ section.id }}-{{ i }}"
                            class="facets__panel facets__panel--{{ style }} {% if filter_type == 'horizontal' %}details--dropdown disclosure-has-popup relative facets__disclosure{% else %} facets__disclosure-vertical{% endif %} js-filter"
                            data-index="{{ indexTag }}-{{ forloop.index }}"
                            is="{{ details_ani }}"
                            {% if filter_type == 'vertical' and forloop.index == 1 %}
                              open
                            {% endif %}
                            {% if enable_hover_reveal %}
                              activate-event="hover"
                            {% endif %}
                          >
                            <summary
                              class="details__summary facets__summary caption-large focus-offset"
                              aria-label="{{ listTagHeading }} ({{ 'products.facets.filters_selected.one' | t: count: filter.active_values.size }})"
                            >
                              <{{ element_label }}
                                class="facets__label flex items-center"
                                style="
                                {%- if heading_label_case == 'uppercase' -%}
                                  --facet-label-transform: uppercase;
                                {%- endif -%}
                                --font-size: {{ heading_label_font_size }};
                                "
                              >
                                {{- listTagHeading }}
                                <span class="facets__status{% if countTagActive == 0 %} hidden{% endif %}">
                                  <span class="bubble facets__bubble">
                                    {{ countTagActive }}
                                  </span>
                                </span>
                              </{{ element_label }}>
                              {%- if filter_type == 'vertical' and filter.operator == 'AND' -%}
                                <span class="facets__and-helptext">
                                  {{ 'products.facets.filter_and_operator_subtitle' | t }}
                                </span>
                              {%- endif -%}
                              <span class="svg-wrapper icon-caret-wrapper icon-animated">
                                {{- 'icon-caret.svg' | inline_asset_content -}}
                              </span>
                            </summary>
                            <div
                              id="Facet-{{ forloop.index }}-{{ section.id }}"
                              class="details__list parent-display{% if filter_type == 'horizontal' %} facets__display{% else %} facets__display-vertical{% endif %}"
                              {% if filter_type == 'horizontal' %}
                                style="--p: 1rem 0.5rem;"
                              {% endif %}
                              tabindex="-1"
                            >
                              {%- if filter_type == 'horizontal' -%}
                                <div class="w-full h-full overflow-auto cus-scrollbar" style="--p: 0 0.5rem;">
                              {%- endif -%}
                              {%- if filter_type != 'vertical' -%}
                                <div class="facets__header flex justify-between sticky top-0 bg-background z-2">
                                  <div>
                                    {%- if filter.operator == 'AND' -%}
                                      <span class="facets__and-helptext">
                                        {{ 'products.facets.filter_and_operator_subtitle' | t }}
                                      </span>
                                    {%- endif -%}
                                  </div>
                                  <facet-remove>
                                    <a href="{{ filter.url_to_remove }}" class="facets__reset link underlined-link">
                                      {{ 'products.facets.reset' | t }}
                                    </a>
                                  </facet-remove>
                                </div>
                              {%- endif -%}
                              <fieldset class="facets-wrap parent-wrap {% if filter_type == 'vertical' %} facets-wrap-vertical overflow-y-a cus-scrollbar{% endif %}">
                                <legend class="visually-hidden">{{ filter.label | escape }}</legend>
                                {%- liquid
                                  assign sorted_values = filter.values
                                  # Keep the selected values grouped together when operator is AND
                                  if filter.operator == 'AND'
                                    assign active_filter_values = filter.values | where: 'active', true
                                    assign inactive_filter_values = filter.values | where: 'active', false
                                    assign sorted_values = active_filter_values | concat: inactive_filter_values
                                  endif
                                  assign valueIndex = 0
                                -%}
                                <ul
                                  class="{{ visual_layout_class }}{% if filter_type == 'vertical' %} facets__list--vertical {% else %} facets__list{% endif %} list-unstyled{% if is_swatch %} flex flex-wrap gap-xs{% endif %} "
                                  role="list"
                                >
                                  {%- for value in sorted_values -%}
                                    {% liquid
                                      assign input_id = 'Filter-' | append: filter.param_name | escape | append: '-' | append: forloop.index
                                      assign is_disabled = false
                                      if value.count == 0 and value.active == false
                                        assign is_disabled = true
                                      endif

                                      assign item = value.value | append: ','
                                    %}
                                    {%- capture label_class -%}
                                      facets__label facet-checkbox {% if is_swatch or has_variant_pill %} input--primary{% endif %}{% if is_disabled %} disabled{% endif %}{% if value.active %} active{% endif %}
                                    {%- endcapture -%}

                                    {%- capture text_value -%}
                                      <span class="facet-checkbox__text" aria-hidden="true">
                                        <span class="facet-checkbox__text-label {{ text_label_case }}{% if is_swatch %} lowercase{% endif %}">{{- value.label | escape }}</span>
                                        {% if block.settings.show_filter_count %}
                                          ({{- value.count -}})
                                        {% endif %}
                                      </span>
                                      <span class="visually-hidden">
                                        {{- value.label | escape }} (
                                        {%- if value.count == 1 -%}
                                          {{- 'products.facets.product_count_simple.one' | t: count: value.count -}}
                                        {%- else -%}
                                          {{- 'products.facets.product_count_simple.other' | t: count: value.count -}}
                                        {%- endif -%}
                                        )
                                      </span>
                                    {%- endcapture -%}
                                    {%- if listTagsRender contains item -%}
                                      {%- assign valueIndex = valueIndex | plus: 1 -%}
                                      <li class="list-menu__item facets__item{% if valueIndex > show_more_number and filter_type == 'vertical' %} show-more-item hidden{% endif %}{% if is_swatch %} swatch-item{% endif %}">
                                        {%- if is_swatch -%}
                                          <div class="{{ label_class }}" style="--font-size: {{ text_label_font_size }};">
                                            <div class="swatch-input-wrapper {{ value.swatch }}">
                                              <input
                                                type="checkbox"
                                                id="{{ input_id }}"
                                                name="{{ value.param_name }}"
                                                value="{{ value.value }}"
                                                form="FacetFiltersForm"
                                                class="swatch-input__input{% if is_disabled %} visually-disabled{% endif %}"
                                                {% if value.active %}
                                                  checked
                                                {% endif %}
                                                {% if disabled %}
                                                  disabled
                                                {% endif %}
                                                {% if additional_props %}
                                                  {{ additional_props }}
                                                {% endif %}
                                              >

                                              <label
                                                for="{{ input_id }}"
                                                class="swatch-input__label"
                                                title="{{ value.label | escape }}"
                                              >
                                                {% liquid
                                                  assign background_image = value.value | strip | handleize | handle | append: '.' | append: png
                                                  if images[background_image] != blank
                                                    assign background_image = background_image | file_url
                                                  else
                                                    assign background_image = ''
                                                  endif
                                                %}
                                                <span
                                                  class="swatch block color-swacth-color--{{ value.value | handle }}"
                                                  style="
                                                    --swatch--background-color: {{ value.value | split: ' ' | last | handle }};
                                                    {% if background_image != blank %}--swatch--background: url({{ background_image }});{% endif %}
                                                  "
                                                ></span>
                                                <span class="visually-hidden">{{ text_value }}</span>
                                              </label>
                                            </div>
                                          </div>
                                        {%- else -%}
                                          <label for="{{ input_id }}" class="{{ label_class }}" style="--font-size: {{ text_label_font_size }};">
                                            <input
                                              type="checkbox"
                                              name="{{ value.param_name }}"
                                              value="{{ value.value }}"
                                              id="{{ input_id }}"
                                              {% if value.active %}
                                                checked
                                              {% endif %}
                                              {% if is_disabled %}
                                                disabled
                                              {% endif %}
                                            >

                                            {%- if presentation == 'image' -%}
                                              <div class="facets__image-wrapper">
                                                {%- if value.image -%}
                                                  {{
                                                    value.image
                                                    | image_url: width: 300
                                                    | image_tag: class: 'facets__image', alt: value.alt
                                                  }}
                                                {%- endif -%}
                                              </div>
                                            {%- else -%}
                                              {% unless has_variant_pill %}
                                                {{- 'square.svg' | inline_asset_content -}}

                                                <div class="svg-wrapper">
                                                  {{- 'icon-checkmark.svg' | inline_asset_content -}}
                                                </div>
                                              {% endunless %}
                                            {%- endif -%}

                                            {{ text_value }}
                                          </label>
                                        {%- endif -%}
                                      </li>
                                    {%- endif -%}
                                  {%- endfor -%}
                                </ul>
                              </fieldset>
                              {%- if valueIndex > show_more_number and filter_type == 'vertical' -%}
                                <show-more-button>
                                  <button
                                    class="button-show-more link underlined-link"
                                    id="Show-More-{{ valueIndex }}-{{ section.id }}"
                                    type="button"
                                  >
                                    <span class="label-show-more label-text">
                                      <span aria-hidden="true">+ </span>
                                      {{ 'products.facets.show_more' | t -}}
                                    </span>
                                    <span class="label-show-less label-text hidden">
                                      <span aria-hidden="true">- </span>
                                      {{ 'products.facets.show_less' | t -}}
                                    </span>
                                  </button>
                                </show-more-button>
                              {%- endif %}
                              {%- if filter_type == 'horizontal' -%}
                                </div>
                              {%- endif -%}
                            </div>
                          </details>
                        {% endif %}
                      {% endfor %}
                    {% endif %}

                    {%- liquid
                      assign listRemainingTags = listRemainingTags
                      assign listAllTags = filter.values | map: 'value'
                      assign forloopIndex = countTag | plus: 1
                      assign countTagActive = 0
                      for value in filter.active_values
                        unless listRemainingTags contains value.value
                          if listAllTags contains value.value
                            assign countTagActive = countTagActive | plus: 1
                          endif
                        endunless
                      endfor
                      assign active_values_size = countTagActive
                    -%}

                    <details
                      id="Details-{{ filter.param_name | escape }}-{{ section.id }}"
                      class="facets__panel facets__panel--{{ style }} {% if filter_type == 'horizontal' %}details--dropdown disclosure-has-popup relative facets__disclosure{% else %} facets__disclosure-vertical{% endif %} js-filter"
                      data-index="{{ forloop.index }}"
                      is="{{ details_ani }}"
                      {% if filter_type == 'vertical' and forloop.index == 1 %}
                        open
                      {% endif %}
                      {% if enable_hover_reveal %}
                        activate-event="hover"
                      {% endif %}
                    >
                      <summary
                        class="details__summary facets__summary caption-large focus-offset"
                        aria-label="{{ filter_label }} ({{ 'products.facets.filters_selected.one' | t: count: filter.active_values.size }})"
                      >
                        <{{ element_label }}
                          class="facets__label flex items-center"
                          style="
                          {%- if heading_label_case == 'uppercase' -%}
                            --facet-label-transform: uppercase;
                          {%- endif -%}
                            --font-size: {{ heading_label_font_size }};
                          "
                        >
                          {{- filter_label }}
                          <span class="facets__status{% if active_values_size == 0 %} hidden{% endif %}">
                            <span class="bubble facets__bubble">
                              {{ active_values_size }}
                            </span>
                          </span>
                        </{{ element_label }}>
                        {%- if filter_type == 'vertical' and filter.operator == 'AND' -%}
                          <span class="facets__and-helptext">
                            {{ 'products.facets.filter_and_operator_subtitle' | t }}
                          </span>
                        {%- endif -%}
                        <span class="svg-wrapper icon-caret-wrapper icon-animated">
                          {{- 'icon-caret.svg' | inline_asset_content -}}
                        </span>
                      </summary>
                      <div
                        id="Facet-{{ forloop.index }}-{{ section.id }}"
                        class="details__list parent-display{% if filter_type == 'horizontal' %} facets__display{% else %} facets__display-vertical{% endif %}"
                        {% if filter_type == 'horizontal' %}
                          style="--p: 1rem 0.5rem;"
                        {% endif %}
                        tabindex="-1"
                      >
                        {%- if filter_type == 'horizontal' -%}
                          <div class="w-full h-full overflow-auto cus-scrollbar" style="--p: 0 0.5rem;">
                        {%- endif -%}
                        {%- if filter_type != 'vertical' -%}
                          <div class="facets__header flex justify-between sticky top-0 bg-background z-2">
                            <div>
                              {%- if filter.operator == 'AND' -%}
                                <span class="facets__and-helptext">
                                  {{ 'products.facets.filter_and_operator_subtitle' | t }}
                                </span>
                              {%- endif -%}
                            </div>
                            <facet-remove>
                              <a href="{{ filter.url_to_remove }}" class="facets__reset link underlined-link">
                                {{ 'products.facets.reset' | t }}
                              </a>
                            </facet-remove>
                          </div>
                        {%- endif -%}
                        <fieldset class="facets-wrap parent-wrap {% if filter_type == 'vertical' %} facets-wrap-vertical overflow-y-a cus-scrollbar{% endif %}">
                          <legend class="visually-hidden">{{ filter.label | escape }}</legend>
                          {%- liquid
                            assign sorted_values = filter.values
                            # Keep the selected values grouped together when operator is AND
                            if filter.operator == 'AND'
                              assign active_filter_values = filter.values | where: 'active', true
                              assign inactive_filter_values = filter.values | where: 'active', false
                              assign sorted_values = active_filter_values | concat: inactive_filter_values
                            endif
                            assign valueIndex = 0
                          -%}
                          <ul
                            class="{{ visual_layout_class }}{% if filter_type == 'vertical' %} facets__list--vertical {% else %} facets__list{% endif %} list-unstyled{% if is_swatch %} flex flex-wrap gap-xs{% endif %} "
                            role="list"
                          >
                            {%- for value in sorted_values -%}
                              {% liquid
                                assign input_id = 'Filter-' | append: filter.param_name | escape | append: '-' | append: forloop.index
                                assign is_disabled = false
                                if value.count == 0 and value.active == false
                                  assign is_disabled = true
                                endif

                                assign item = value.value | append: ','
                              %}
                              {%- capture label_class -%}
                                facets__label facet-checkbox {% if is_swatch or has_variant_pill %} input--primary{% endif %}{% if is_disabled %} disabled{% endif %}{% if value.active %} active{% endif %}
                              {%- endcapture -%}

                              {%- capture text_value -%}
                                <span class="facet-checkbox__text" aria-hidden="true">
                                  <span class="facet-checkbox__text-label {{ text_label_case }}{% if is_swatch %} lowercase{% endif %}">{{- value.label | escape }}</span>
                                  {% if block.settings.show_filter_count %}
                                    ({{- value.count -}})
                                  {% endif %}
                                </span>
                                <span class="visually-hidden">
                                  {{- value.label | escape }} (
                                  {%- if value.count == 1 -%}
                                    {{- 'products.facets.product_count_simple.one' | t: count: value.count -}}
                                  {%- else -%}
                                    {{- 'products.facets.product_count_simple.other' | t: count: value.count -}}
                                  {%- endif -%}
                                  )
                                </span>
                              {%- endcapture -%}

                              {%- unless listRemainingTags contains item -%}
                              {%- assign valueIndex = valueIndex | plus: 1 -%}
                              <li class="list-menu__item facets__item{% if valueIndex > show_more_number and filter_type == 'vertical' %} show-more-item hidden{% endif %}{% if is_swatch %} swatch-item{% endif %}">
                                {%- if is_swatch -%}
                                  <div class="{{ label_class }}" style="--font-size: {{ text_label_font_size }};">
                                    <div class="swatch-input-wrapper {{ value.swatch }}">
                                      <input
                                        type="checkbox"
                                        id="{{ input_id }}"
                                        name="{{ value.param_name }}"
                                        value="{{ value.value }}"
                                        form="FacetFiltersForm"
                                        class="swatch-input__input{% if is_disabled %} visually-disabled{% endif %}"
                                        {% if value.active %}
                                          checked
                                        {% endif %}
                                        {% if disabled %}
                                          disabled
                                        {% endif %}
                                        {% if additional_props %}
                                          {{ additional_props }}
                                        {% endif %}
                                      >

                                      <label
                                        for="{{ input_id }}"
                                        class="swatch-input__label"
                                        title="{{ value.label | escape }}"
                                      >
                                        {% liquid
                                          assign background_image = value.value | strip | handleize | handle | append: '.' | append: png
                                          if images[background_image] != blank
                                            assign background_image = background_image | file_url
                                          else
                                            assign background_image = ''
                                          endif
                                        %}
                                        <span
                                          class="swatch block color-swacth-color--{{ value.value | handle }}"
                                          style="
                                            --swatch--background-color: {{ value.value | split: ' ' | last | handle }};
                                            {% if background_image != blank %}--swatch--background: url({{ background_image }});{% endif %}
                                          "
                                        ></span>
                                        <span class="visually-hidden">{{ text_value }}</span>
                                      </label>
                                    </div>
                                  </div>
                                {%- else -%}
                                  <label for="{{ input_id }}" class="{{ label_class }}" style="--font-size: {{ text_label_font_size }};">
                                    <input
                                      type="checkbox"
                                      name="{{ value.param_name }}"
                                      value="{{ value.value }}"
                                      id="{{ input_id }}"
                                      {% if value.active %}
                                        checked
                                      {% endif %}
                                      {% if is_disabled %}
                                        disabled
                                      {% endif %}
                                    >

                                    {%- if presentation == 'image' -%}
                                      <div class="facets__image-wrapper">
                                        {%- if value.image -%}
                                          {{
                                            value.image
                                            | image_url: width: 300
                                            | image_tag: class: 'facets__image', alt: value.alt
                                          }}
                                        {%- endif -%}
                                      </div>
                                    {%- else -%}
                                      {% unless has_variant_pill %}
                                        {{- 'square.svg' | inline_asset_content -}}

                                        <div class="svg-wrapper">
                                          {{- 'icon-checkmark.svg' | inline_asset_content -}}
                                        </div>
                                      {% endunless %}
                                    {%- endif -%}

                                    {{ text_value }}
                                  </label>
                                {%- endif -%}
                              </li>
                              {%- endunless -%}
                            {%- endfor -%}
                          </ul>
                        </fieldset>
                        {%- if valueIndex > show_more_number and filter_type == 'vertical' -%}
                          <show-more-button>
                            <button
                              class="button-show-more link underlined-link"
                              id="Show-More-{{ valueIndex }}-{{ section.id }}"
                              type="button"
                            >
                              <span class="label-show-more label-text">
                                <span aria-hidden="true">+ </span>
                                {{ 'products.facets.show_more' | t -}}
                              </span>
                              <span class="label-show-less label-text hidden">
                                <span aria-hidden="true">- </span>
                                {{ 'products.facets.show_less' | t -}}
                              </span>
                            </button>
                          </show-more-button>
                        {%- endif %}
                        {%- if filter_type == 'horizontal' -%}
                          </div>
                        {%- endif -%}
                      </div>
                    </details>
                  {% when 'price_range' %}
                    <details
                      id="Details-{{ filter.param_name | escape }}-{{ section.id }}"
                      class="facets__panel facets__panel--{{ style }} {% if filter_type == 'horizontal' %}details--dropdown disclosure-has-popup relative facets__disclosure{% else %}facets__disclosure-vertical{% endif %} js-filter"
                      data-index="{{ forloop.index }}"
                      is="{{ details_ani }}"
                      {% if filter_type == 'vertical' and forloop.index == 1 %}
                        open
                      {% endif %}
                      {% if enable_hover_reveal %}
                        activate-event="hover"
                      {% endif %}
                    >
                      <summary class="details__summary facets__summary caption-large focus-offset">
                        <{{ element_label }}
                          class="facets__label"
                          style="
                          {%- if heading_label_case == 'uppercase' -%}
                            --facet-label-transform: uppercase;
                          {%- endif -%}
                          --font-size: {{ heading_label_font_size }};
                          "
                        >
                          {{- filter.label | escape -}}
                        </{{ element_label }}>
                        <span class="svg-wrapper icon-caret-wrapper icon-animated">
                          {{- 'icon-caret.svg' | inline_asset_content -}}
                        </span>
                      </summary>
                      <div
                        id="Facet-{{ forloop.index }}-{{ section.id }}"
                        class="details__list{% if filter_type == 'horizontal' %} facets__display{% else %} facets__display-vertical{% endif %}"
                        {% if filter_type == 'horizontal' %}
                          style="--p: 1rem 0.5rem;"
                        {% endif %}
                        tabindex="-1"
                      >
                        {%- if filter_type == 'horizontal' -%}
                          <div class="w-full h-full overflow-auto cus-scrollbar" style="--p: 0 0.5rem;">
                        {%- endif -%}
                        <div class="{% if filter_type == 'horizontal' %}facets__header{% else %}facets__header-vertical{% endif %} flex justify-between">
                          {%- assign max_price_amount = filter.range_max | money | strip_html | escape -%}
                          <span class="facets__status">
                            {{- 'products.facets.max_price' | t: price: max_price_amount -}}
                          </span>
                          {%- if filter_type != 'vertical' -%}
                            <facet-remove>
                              <a href="{{ filter.url_to_remove }}" class="facets__reset link underlined-link">
                                {{ 'products.facets.reset' | t }}
                              </a>
                            </facet-remove>
                          {%- endif -%}
                        </div>
                        <price-range class="facets__priceblock">
                          {% render 'price-facet', filter: filter, id_prefix: 'Filter-', filter_type: filter_type %}
                        </price-range>
                        {%- if filter_type == 'horizontal' -%}
                          </div>
                        {%- endif -%}
                      </div>
                    </details>
                {% endcase %}
              {%- endfor -%}

              {% comment %} Pills after filtes on filter type horizontal {% endcomment %}
              {%- if filter_type == 'horizontal' -%}
                <div class="active-facets flex flex-wrap items-center w-full active-facets-desktop">
                  <facet-remove class="active-facets__button-wrapper">
                    <a href="{{ results_url }}" class="active-facets__button-remove underlined-link">
                      <span>{{ 'products.facets.clear_all' | t }}</span>
                    </a>
                  </facet-remove>
                  {%- for filter in results.filters -%}
                    {%- for value in filter.active_values -%}
                      <facet-remove>
                        <a
                          href="{{ value.url_to_remove }}"
                          class="active-facets__button block decoration-none active-facets__button--light"
                        >
                          <span class="active-facets__button-inner button button--tertiary button-unstyled">
                            {{ value.label | escape }}
                            <span class="svg-wrapper">
                              {{- 'icon-close-small.svg' | inline_asset_content -}}
                            </span>
                            <span class="visually-hidden">{{ 'products.facets.clear_filter' | t }}</span>
                          </span>
                        </a>
                      </facet-remove>
                    {%- endfor -%}
                    {% if filter.type == 'price_range' %}
                      {% assign min = filter.min_value.value %}
                      {% assign max = filter.max_value.value %}
                      {%- if min != null or max != null -%}
                        <facet-remove>
                          <a
                            href="{{ filter.url_to_remove }}"
                            class="active-facets__button block decoration-none active-facets__button--light"
                          >
                            <span class="active-facets__button-inner button button--tertiary button-unstyled">
                              {{ min | default: 0 | money }} - {{ max | default: filter.range_max | money }}
                              <span class="svg-wrapper">
                                {{- 'icon-close-small.svg' | inline_asset_content -}}
                              </span>
                              <span class="visually-hidden">{{ 'products.facets.clear_filter' | t }}</span>
                            </span>
                          </a>
                        </facet-remove>
                      {%- endif -%}
                    {% endif %}
                  {%- endfor -%}
                </div>
              {%- endif -%}
            </div>
          </div>
        {% endif %}

        {% if results.current_vendor or results.current_type %}
          <input
            type="hidden"
            name="q"
            value="{{ results.current_vendor }}{{ results.current_type }}"
          >
        {% endif %}

        {%- if filter_type == 'horizontal' -%}
          {% if enable_divider %}
            {% capture style_settings %}
              --padding-block-start: {{ divider_spacing_top }}px;
              --padding-block-end: {{ divider_spacing_bottom }}px;
              --color-border: {{ divider_color }};
            {% endcapture %}
            {% render 'divider', id: 'facets-divider', attributes: true, style_settings: style_settings %}
          {% endif %}

          <div class="sorting-wrapper flex items-center gap-lg">
            {% comment %} Sorting and product count are the last elements when filter type is horizontal {% endcomment %}
            {% if enable_count %}
              <div class="results-count none lg:block">
                <span class="results">
                  <span id="ProductCount">
                    {%- if results.results_count -%}
                      {{ 'content.results_with_count' | t: terms: results.terms, count: results.results_count }}
                    {%- elsif results.products_count == results.all_products_count -%}
                      {{ 'products.facets.product_count_simple' | t: count: results.products_count }}
                    {%- else -%}
                      {{
                        'products.facets.product_count'
                        | t: product_count: results.products_count, count: results.all_products_count
                      }}
                    {%- endif -%}
                  </span>
                </span>
              </div>
            {% endif %}
            {%- if enable_grid_view -%}
              {% render 'switcher-grid',
                columns_desktop: section.settings.columns_desktop,
                filter_type: filter_type,
                style: style,
                enable_hover_reveal: enable_hover_reveal,
                heading_label_case: heading_label_case,
                heading_label_font_size: heading_label_font_size,
                text_label_font_size: text_label_font_size
              %}
            {%- endif -%}

            <div class="sorting-wrapper-rightcol flex justify-end gap-lg small-hide medium-hide">
              {%- if enable_products_per_page -%}
                <div class="facet-per-page products-per-page caption">
                  {% render 'products-per-page',
                    limit: limit,
                    style: style,
                    enable_hover_reveal: enable_hover_reveal,
                    heading_label_case: heading_label_case,
                    text_label_case: text_label_case,
                    heading_label_font_size: heading_label_font_size,
                    text_label_font_size: text_label_font_size
                  %}
                </div>
              {%- endif -%}

              {%- if enable_sorting -%}
                {% render 'facets-sort-by',
                  results: results,
                  sort_by: sort_by,
                  selected_sort_by: selected_sort_by,
                  enable_hover_reveal: enable_hover_reveal,
                  style: style,
                  filter_type: filter_type,
                  heading_label_case: heading_label_case,
                  text_label_case: text_label_case,
                  heading_label_font_size: heading_label_font_size,
                  text_label_font_size: text_label_font_size
                %}
              {%- endif -%}
            </div>
          </div>
        {%- else -%}
        {%- endif -%}
      </form>
    </facet-filters-form>

    {% comment %}  Drawer and mobile filter {% endcomment %}
    <menu-drawer
      class="mobile-facets__wrapper flex{% if filter_type == 'horizontal' or filter_type == 'vertical' %} large-up-hide{% endif %}"
      data-breakpoint="mobile"
    >
      <details class="mobile-facets__disclosure{% if filter_type == 'drawer' %} facets__disclosure-drawer{% endif %} disclosure-has-popup relative flex justify-end">
        <summary class="mobile-facets__open-wrapper focus-offset">
          <side-drawer-opener
            class="mobile-facets__open{% if filter_type == 'drawer' and enable_filtering == false %} large-up-hide{% endif %}"
            data-toggle-drawer="Drawer-Facets"
          >
            <span class="svg-wrapper">
              {{- 'icon-filter.svg' | inline_asset_content -}}
            </span>
            <span class="mobile-facets__open-label button-label small-hide large-up-hide">
              {%- if enable_filtering and enable_sorting -%}
                {{ 'products.facets.filter_and_sort' | t }}
              {%- elsif enable_filtering -%}
                {{ 'products.facets.filter_button' | t }}
              {%- elsif enable_sorting -%}
                {{ 'products.facets.sort_button' | t }}
              {%- endif -%}
            </span>
            <span class="mobile-facets__open-label button-label medium-hide">
              {%- if enable_filtering -%}
                {{ 'products.facets.filter_button' | t }}
              {%- endif -%}
            </span>
          </side-drawer-opener>
        </summary>
        <facet-filters-form>
          <form
            id="FacetFiltersFormMobile"
            class="mobile-facets drawer__container fixed inset-0 z-9 pointer-events-none"
            data-drawer-target="Drawer-Facets"
            data-drawer-direction="right"
          >
            <div
              id="Drawer-Facets-Overlay"
              data-drawer-overlay
              class="drawer__overlay fixed inset-0 cursor-pointer lg:none"
            ></div>
            <div class="mobile-facets__inner" data-drawer-content>
              <div class="mobile-facets__header flex sticky top-0 z-2">
                <div class="mobile-facets__header-inner relative flex justify-between items-center relative">
                  <h5 class="mobile-facets__heading large-up-hide">
                    {%- if enable_filtering and enable_sorting -%}
                      {{ 'products.facets.filter_and_sort' | t }}
                    {%- elsif enable_filtering -%}
                      {{ 'products.facets.filter_button' | t }}
                    {%- elsif enable_sorting -%}
                      {{ 'products.facets.sort_button' | t }}
                    {%- endif -%}
                  </h5>
                  <h5 class="mobile-facets__heading small-hide medium-hide">
                    {%- if enable_filtering -%}
                      {{ 'products.facets.filter_button' | t }}
                    {%- endif -%}
                  </h5>
                  <button
                    class="drawer__close block t-button bor-none cursor-pointer"
                    type="button"
                    data-close-drawer="Drawer-Facets"
                    onclick="this.closest('facet-filters-form').closeDrawer()"
                    aria-label="{{ 'accessibility.close_dialog' | t }}"
                  >
                    <span class="svg-wrapper">
                      {{- 'icon-close.svg' | inline_asset_content -}}
                    </span>
                  </button>
                </div>
              </div>

              {%- if enable_sorting -%}
                <div
                  id="Details-Mobile-SortBy-{{ section.id }}"
                  class="mobile-facets__details js-filter{% if filter_type == 'drawer' %} large-up-hide{% endif %}"
                  data-index="mobile-{{ forloop.index }}"
                >
                  <div class="mobile-facets__summary">
                    <div class="mobile-facets__sort">
                      <label for="SortBy-mobile">{{ 'products.facets.sort_by_label' | t }}</label>
                      <div class="select global-settings-popup">
                        <select
                          name="sort_by"
                          class="select__select"
                          id="SortBy-mobile"
                          aria-describedby="a11y-refresh-page-message"
                        >
                          {%- for option in results.sort_options -%}
                            <option
                              value="{{ option.value | escape }}"
                              {% if option.value == sort_by %}
                                selected="selected"
                              {% endif %}
                            >
                              {{ option.name | escape }}
                            </option>
                          {%- endfor -%}
                        </select>
                        <span class="svg-wrapper">
                          {{- 'icon-caret.svg' | inline_asset_content -}}
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              {%- endif -%}

              {%- if filter_type == 'vertical' -%}
                <div class="active-facets flex flex-wrap w-full active-facets-mobile large-up-hide">
                  <facet-remove class="active-facets__button-wrapper w-full flex justify-between items-center">
                    <span>{{ 'products.facets.filter_by_label' | t }}</span>
                    <a href="{{ results_url }}" class="active-facets__button-remove underlined-link">
                      <span>{{ 'products.facets.clear_all' | t }}</span>
                    </a>
                  </facet-remove>

                  <p class="mobile-facets__count w-full">
                    {{ 'content.results_with_count' | t: terms: results.terms, count: results.products_count }}
                  </p>

                  {%- for filter in results.filters -%}
                    {%- for value in filter.active_values -%}
                      <facet-remove>
                        <a
                          href="{{ value.url_to_remove }}"
                          class="active-facets__button block decoration-none active-facets__button--light"
                        >
                          <span class="active-facets__button-inner button button--tertiary button-unstyled">
                            {{ value.label | escape }}
                            <span class="svg-wrapper">
                              {{- 'icon-close-small.svg' | inline_asset_content -}}
                            </span>
                            <span class="visually-hidden">{{ 'products.facets.clear_filter' | t }}</span>
                          </span>
                        </a>
                      </facet-remove>
                    {%- endfor -%}

                    {%- if filter.type == 'price_range' -%}
                      {% assign min = filter.min_value.value %}
                      {% assign max = filter.max_value.value %}
                      {%- if min != null or max != null -%}
                        <facet-remove>
                          <a
                            href="{{ filter.url_to_remove }}"
                            class="active-facets__button block decoration-none active-facets__button--light"
                          >
                            <span class="active-facets__button-inner button button--tertiary button-unstyled">
                              {{ min | default: 0 | money }} - {{ max | default: filter.range_max | money }}
                              <span class="svg-wrapper">
                                {{- 'icon-close-small.svg' | inline_asset_content -}}
                              </span>
                              <span class="visually-hidden">{{ 'products.facets.clear_filter' | t }}</span>
                            </span>
                          </a>
                        </facet-remove>
                      {%- endif -%}
                    {%- endif -%}
                  {%- endfor -%}
                </div>
              {%- endif -%}
              <div id="FacetsWrapperMobile" class="mobile-facets__main has-submenu cus-scrollbar">
                {{ sidebar_categories }}
                {%- if enable_filtering -%}
                  {%- for filter in results.filters -%}
                    {% liquid
                      assign filter_label = filter.label | escape
                      assign filter_label_downcase = filter_label | downcase
                      assign presentation = filter.presentation | default: default_presentation
                      assign filter_variant_label = filter.label | downcase | handle
                      assign has_variant_pill = false
                      if filter_variant_pill contains filter_variant_label
                        assign has_variant_pill = true
                        assign presentation = 'pill'
                      endif

                      if presentation == 'image'
                        assign visual_layout_class = 'facets-layout facets-layout-grid facets-layout-grid--' | append: presentation
                      else
                        assign visual_layout_class = 'facets-layout facets-layout-list facets-layout-list--' | append: presentation
                      endif

                      assign is_swatch = false
                      if filter_swatch contains filter_label_downcase
                        assign is_swatch = true
                      endif
                    %}

                    {% case filter.type %}
                      {% when 'boolean', 'list' %}
                        <accordion-custom>
                          <details
                            id="Details-Mobile-{{ filter.param_name | escape }}-{{ section.id }}"
                            class="mobile-facets__details js-filter"
                            data-index="mobile-{{ forloop.index }}"
                          >
                            <summary class="mobile-facets__summary focus-inset">
                              <div class="flex items-center justify-between w-full"
                                style="
                                {%- if heading_label_case == 'uppercase' -%}
                                  --facet-label-transform: uppercase;
                                {%- endif -%}
                                --font-size: {{ heading_label_font_size }};
                                "
                              >
                                <span>{{ filter.label | escape }}</span>
                                <span class="mobile-facets__arrow svg-wrapper">
                                  {{- 'icon-caret.svg' | inline_asset_content -}}
                                </span>
                              </div>
                            </summary>
                            <div
                              id="FacetMobile-{{ forloop.index }}-{{ section.id }}"
                              class="mobile-facets__submenu details-content"
                            >
                              <ul
                                class="{{ visual_layout_class }} mobile-facets__list list-unstyled cus-scrollbar{% if is_swatch %} facets-layout-list--swatch flex flex-wrap gap-xs{% endif %}"
                                role="list"
                              >
                                {%- liquid
                                  assign sorted_values = filter.values
                                  # Keep the selected values grouped together when operator is AND
                                  if filter.operator == 'AND'
                                    assign active_filter_values = filter.values | where: 'active', true
                                    assign inactive_filter_values = filter.values | where: 'active', false
                                    assign sorted_values = active_filter_values | concat: inactive_filter_values
                                  endif
                                -%}
                                {%- for value in sorted_values -%}
                                  {% liquid
                                    assign input_id = 'Filter-' | append: filter.param_name | escape | append: '-mobile-' | append: forloop.index
                                    assign is_disabled = false
                                    if value.count == 0 and value.active == false
                                      assign is_disabled = true
                                    endif
                                  %}

                                  {%- capture label_class -%}
                                  facets__label mobile-facets__label{% if presentation == 'swatch' or has_variant_pill %} input--primary{% endif %}{% if is_disabled %} disabled{% endif %}{% if value.active %} active{% endif %}
                                  {%- endcapture -%}

                                  {%- capture text_value -%}
                                    <span class="facet-checkbox__text" aria-hidden="true">
                                      <span class="facet-checkbox__text-label {{ text_label_case }}{% if presentation == 'swatch' %} lowercase{% endif %}">{{- value.label | escape }}</span>
                                      {% if block.settings.show_filter_count %}
                                        ({{- value.count -}})
                                      {% endif %}
                                    </span>
                                    <span class="visually-hidden">
                                      {{- value.label | escape }} (
                                      {%- if value.count == '1' -%}
                                        {{- 'products.facets.product_count_simple.one' | t: count: value.count -}}
                                      {%- else -%}
                                        {{- 'products.facets.product_count_simple.other' | t: count: value.count -}}
                                      {%- endif -%}
                                      )
                                    </span>
                                  {%- endcapture -%}

                                  <li class="mobile-facets__item list-menu__item{% if is_swatch %} swatch-item{% endif %}">
                                    {%- if is_swatch -%}
                                      <div class="{{ label_class }}" style="--font-size: {{ text_label_font_size }};">
                                        <div class="swatch-input-wrapper {{ value.swatch }}">
                                          <input
                                            type="checkbox"
                                            id="{{ input_id }}"
                                            name="{{ value.param_name }}"
                                            value="{{ value.value }}"
                                            form="FacetFiltersFormMobile"
                                            class="swatch-input__input{% if is_disabled %} visually-disabled{% endif %}"
                                            {% if value.active %}
                                              checked
                                            {% endif %}
                                            {% if disabled %}
                                              disabled
                                            {% endif %}
                                            {% if additional_props %}
                                              {{ additional_props }}
                                            {% endif %}
                                          >

                                          <label
                                            for="{{ input_id }}"
                                            class="swatch-input__label"
                                            title="{{ value.label | escape }}"
                                          >
                                            {% liquid
                                              assign background_image = value.value | strip | handleize | handle | append: '.' | append: png
                                              if images[background_image] != blank
                                                assign background_image = background_image | file_url
                                              else
                                                assign background_image = ''
                                              endif
                                            %}
                                            <span
                                              class="swatch block color-swacth-color--{{ value.value | handle }}"
                                              style="
                                                --swatch--background-color: {{ value.value | split: ' ' | last | handle }};
                                                {% if background_image != blank %}--swatch--background: url({{ background_image }});{% endif %}
                                              "
                                            ></span>
                                            <span class="visually-hidden">{{ text_value }}</span>
                                          </label>
                                        </div>
                                      </div>
                                    {% else %}
                                      <label for="{{ input_id }}" class="{{ label_class }}" style="--font-size: {{ text_label_font_size }};">
                                        <input
                                          class="mobile-facets__checkbox"
                                          type="checkbox"
                                          name="{{ value.param_name }}"
                                          value="{{ value.value }}"
                                          id="{{ input_id }}"
                                          {% if value.active %}
                                            checked
                                          {% endif %}
                                          {% if is_disabled %}
                                            disabled
                                          {% endif %}
                                        >

                                        {%- if presentation == 'image' -%}
                                          <div class="facets__image-wrapper">
                                            {%- if value.image -%}
                                              {{
                                                value.image
                                                | image_url: width: 300
                                                | image_tag: class: 'facets__image', alt: value.alt
                                              }}
                                            {%- endif -%}
                                          </div>
                                        {%- else -%}
                                          {% unless has_variant_pill %}
                                            <span class="mobile-facets__highlight"></span>
                                            {{- 'square.svg' | inline_asset_content -}}
                                            {{- 'icon-checkmark.svg' | inline_asset_content -}}
                                          {% endunless %}
                                        {%- endif %}

                                        {{ text_value }}
                                      </label>
                                    {% endif %}
                                  </li>
                                {%- endfor -%}
                              </ul>
                            </div>
                          </details>
                        </accordion-custom>

                      {% when 'price_range' %}
                        <accordion-custom>
                          <details
                            id="Details-Mobile-{{ filter.param_name | escape }}-{{ section.id }}"
                            class="mobile-facets__details js-filter"
                            data-index="mobile-{{ forloop.index }}"
                          >
                            <summary class="mobile-facets__summary focus-inset">
                              <div class="flex items-center justify-between w-full"
                              {%- if heading_label_case == 'uppercase' -%}
                                style="--font-heading--case: uppercase;"
                              {%- endif -%}
                              >
                                <span>{{ filter.label | escape }}</span>
                                <span class="mobile-facets__arrow svg-wrapper">
                                  {{- 'icon-caret.svg' | inline_asset_content -}}
                                </span>
                              </div>
                            </summary>
                            <div
                              id="FacetMobile-{{ forloop.index }}-{{ section.id }}"
                              class="mobile-facets__submenu details-content"
                            >
                              {%- assign max_price_amount = filter.range_max | money | strip_html | escape -%}
                              <p class="mobile-facets__info">
                                {{ 'products.facets.max_price' | t: price: max_price_amount }}
                              </p>

                              <price-range class="facets__priceblock">
                                {% render 'price-facet', filter: filter, id_prefix: 'Mobile-Filter-' %}
                              </price-range>
                            </div>
                          </details>
                        </accordion-custom>
                    {% endcase %}
                  {%- endfor -%}
                {%- endif -%}

                {{ children }}

                <div class="mobile-facets__footer">
                  <facet-remove class="mobile-facets__clear-wrapper items-center flex justify-center">
                    <a href="{{ results_url }}" class="mobile-facets__clear underlined-link">
                      {{- 'products.facets.clear_all' | t -}}
                    </a>
                  </facet-remove>
                  <button
                    type="button"
                    class="button button--primary"
                    onclick="this.closest('.mobile-facets__wrapper').querySelector('summary').click()"
                  >
                    {{ 'products.facets.apply' | t }}
                  </button>
                </div>
              </div>

              {% if results.current_vendor or results.current_type %}
                <input
                  type="hidden"
                  name="q"
                  value="{{ results.current_vendor }}{{ results.current_type }}"
                >
              {% endif %}

              {%- if results.terms -%}
                <input
                  type="hidden"
                  name="q"
                  value="{{ results.terms | escape }}"
                >
                <input
                  name="options[prefix]"
                  type="hidden"
                  value="last"
                >
              {%- endif -%}
            </div>
          </form>
        </facet-filters-form>
      </details>
    </menu-drawer>
  {%- endif -%}

  {%- if filter_type == 'horizontal' -%}
    <div class="active-facets flex flex-wrap w-full active-facets-mobile large-up-hide">
      <facet-remove class="active-facets__button-wrapper">
        <a href="{{ results_url }}" class="active-facets__button-remove underlined-link">
          <span>{{ 'products.facets.clear_all' | t }}</span>
        </a>
      </facet-remove>
      {%- for filter in results.filters -%}
        {%- for value in filter.active_values -%}
          <facet-remove>
            <a
              href="{{ value.url_to_remove }}"
              class="active-facets__button block decoration-none active-facets__button--light"
            >
              <span class="active-facets__button-inner button button--tertiary button-unstyled">
                {{ filter.label | escape }}: {{ value.label | escape }}
                <span class="svg-wrapper">
                  {{- 'icon-close-small.svg' | inline_asset_content -}}
                </span>
                <span class="visually-hidden">{{ 'products.facets.clear_filter' | t }}</span>
              </span>
            </a>
          </facet-remove>
        {%- endfor -%}

        {%- if filter.type == 'price_range' -%}
          {% assign min = filter.min_value.value %}
          {% assign max = filter.max_value.value %}
          {%- if min != null or max != null -%}
            <facet-remove>
              <a
                href="{{ filter.url_to_remove }}"
                class="active-facets__button block decoration-none active-facets__button--light"
              >
                <span class="active-facets__button-inner button button--tertiary button-unstyled">
                  {{ min | default: 0 | money }} - {{ max | default: filter.range_max | money }}
                  <span class="svg-wrapper">
                    {{- 'icon-close-small.svg' | inline_asset_content -}}
                  </span>
                  <span class="visually-hidden">{{ 'products.facets.clear_filter' | t }}</span>
                </span>
              </a>
            </facet-remove>
          {%- endif -%}
        {%- endif -%}
      {%- endfor -%}
    </div>
  {%- endif -%}
  {% comment %} Sort, product count and filter pills at the end when filter is type of Drawer for the correct tabbing order {% endcomment %}
  {%- if filter_type == 'drawer' -%}
    {%- if enable_products_per_page -%}
      <div class="facet-per-page products-per-page caption small-hide medium-hide">
        {% render 'products-per-page',
          limit: limit,
          heading_label_case: heading_label_case,
          dropdown_content_case: dropdown_content_case,
          heading_label_font_size: heading_label_font_size,
          text_label_font_size: text_label_font_size
        %}
      </div>
    {%- endif -%}

    {%- if enable_sorting -%}
      <facet-filters-form class="facets facets--{{ filter_type }} small-hide medium-hide">
        <form
          id="FacetSortDrawerForm"
          class="facets__form{% if filter_type == 'drawer' %} facets__disclosure-drawer{% endif %}"
        >
          {% render 'facets-sort-by',
            results: results,
            sort_by: sort_by,
            selected_sort_by: selected_sort_by,
            enable_hover_reveal: enable_hover_reveal,
            style: style,
            filter_type: filter_type,
            heading_label_case: heading_label_case,
            text_label_case: text_label_case,
            heading_label_font_size: heading_label_font_size,
            text_label_font_size: text_label_font_size
          %}
          {% if results.current_vendor or results.current_type %}
            <input
              type="hidden"
              name="q"
              value="{{ results.current_vendor }}{{ results.current_type }}"
            >
          {% endif %}

          {%- if results.terms -%}
            <input
              type="hidden"
              name="q"
              value="{{ results.terms | escape }}"
            >
            <input
              name="options[prefix]"
              type="hidden"
              value="last"
            >
          {%- endif -%}
        </form>
      </facet-filters-form>
    {%- endif -%}

    {%- if enable_grid_view -%}
      {% render 'switcher-grid',
        columns_desktop: section.settings.columns_desktop,
        filter_type: filter_type,
        style: style,
        heading_label_case: heading_label_case,
        heading_label_font_size: heading_label_font_size,
        text_label_font_size: text_label_font_size
      %}
    {%- endif -%}

    <facet-filters-form class="facets facets-pill small-hide medium-hide">
      <form id="FacetFiltersPillsForm" class="facets__form">
        <div class="active-facets flex flex-wrap w-full active-facets-desktop">
          {%- for filter in results.filters -%}
            {%- for value in filter.active_values -%}
              <facet-remove>
                <a
                  href="{{ value.url_to_remove }}"
                  class="active-facets__button block decoration-none active-facets__button--light"
                >
                  <span class="active-facets__button-inner button button--tertiary button-unstyled">
                    {{ filter.label | escape }}: {{ value.label | escape }}
                    <span class="svg-wrapper">
                      {{- 'icon-close-small.svg' | inline_asset_content -}}
                    </span>
                    <span class="visually-hidden">{{ 'products.facets.clear_filter' | t }}</span>
                  </span>
                </a>
              </facet-remove>
            {%- endfor -%}

            {%- if filter.type == 'price_range' -%}
              {% assign min = filter.min_value.value %}
              {% assign max = filter.max_value.value %}
              {%- if min != null or max != null -%}
                <facet-remove>
                  <a
                    href="{{ filter.url_to_remove }}"
                    class="active-facets__button block decoration-none active-facets__button--light"
                  >
                    <span class="active-facets__button-inner button button--tertiary button-unstyled">
                      {{ min | default: 0 | money }} - {{ max | default: filter.range_max | money }}
                      <span class="svg-wrapper">
                        {{- 'icon-close-small.svg' | inline_asset_content -}}
                      </span>
                      <span class="visually-hidden">{{ 'products.facets.clear_filter' | t }}</span>
                    </span>
                  </a>
                </facet-remove>
              {%- endif -%}
            {%- endif -%}
          {%- endfor -%}
          <facet-remove class="active-facets__button-wrapper">
            <a href="{{ results_url }}" class="active-facets__button-remove underlined-link">
              <span>{{ 'products.facets.clear_all' | t }}</span>
            </a>
          </facet-remove>
        </div>
      </form>
    </facet-filters-form>
  {%- endif -%}
</div>

{%- if filter_type == 'vertical' -%}
  {{ children }}
{%- endif -%}
