{%- doc -%}
  Renders the facets actions

  @param {string} results_url - the url to remove the filters
  @param {boolean} is_active - whether the clear all button is active
  @param {number} products_count - the number of products in the results
  @param {string} [form_component] - the form component to use for the clear all button
  @param {boolean} [should_show_clear_all] - whether to show the clear all button
{%- enddoc -%}

<div
  class="facets__actions{% if is_active %} facets__actions--active{% endif %}"
  style="--color-shadow: var(--color-shadow);"
>
  {% if should_show_clear_all %}
    <facet-remove-component
      data-url="{{ results_url }}"
    >
      <button
        type="button"
        class="button-secondary facets__clear-all{% if is_active %} active{% endif %}"
        ref="clearButton"
        {% if form_component != blank %}
          on:click="/removeFilter?form={{ form_component }}"
          on:keydown="/removeFilter?form={{ form_component }}"
        {% else %}
          on:click="/removeFilter?form="
          on:keydown="/removeFilter?form="
        {% endif %}
      >
        {{- 'actions.clear_all' | t -}}
      </button>
    </facet-remove-component>
  {% endif %}

  {% if products_count > 0 %}
    <button
      class="button facets__see-results"
      type="button"
      on:click="dialog-component/closeDialog"
    >
      {{- 'actions.see_items' | t: count: products_count -}}
    </button>
  {% endif %}
</div>
