{%- doc -%}
  Renders block content for all blocks that extend the group block.

  @param {string} children - The DOM content of the group block.
  @param {object} settings - The settings of the group block.
  @param {string} shopify_attributes - String with Shopify attributes for the editor.
  @param {string} [class] - Custom classes for the group block.
  @param {string} [style] - Custom inline styles for the group block.

  @example
  {% render 'group', children: children, settings: block.settings, shopify_attributes: block.shopify_attributes %}
{%- enddoc -%}

{%- liquid
  assign ratio = 1

  case settings.image_ratio
    when 'landscape'
      assign ratio = '16 / 9'
    when 'portrait'
      assign ratio = '4 / 5'
    when 'adapt'
      if settings.background_image != blank
        assign ratio = settings.background_image.aspect_ratio
        else
        assign ratio = settings.video.aspect_ratio
      endif
  endcase

  if ratio == 0 or ratio == null
    assign ratio = 1
  endif

  assign element = 'div'
  if settings.enable_parallax == 'parallax_items'
    assign element = 'parallax-element'
    assign class_content = ' parallax--target'
  endif
-%}

{% capture attributes %}
  {{ shopify_attributes }}
  {% if settings.enable_parallax == 'parallax_items' %}
    is="content"
    data-parallax="true"
    data-speed="{{ settings.parallax_speed }}"
    data-horizontal-position="{{ settings.horizontal_position }}% {{ settings.horizontal_position }}%"
    data-vertical-position="{{ settings.vertical_position }}% {{ settings.vertical_position }}%"
  {% endif %}
{% endcapture %}

{%- capture group_block_class -%}
  group-block relative
  group-block--height-{{ settings.height }}
  group-block--width-{{ settings.width }}
  {% if settings.border != 'none' %}border-style{% endif %}
  spacing-style
  size-style
  shadow-style
  {% if settings.content_overlay %}group-block--content-overlay{% endif %}
  {% if settings.inherit_color_scheme == false %}color-{{ settings.color_scheme }}{% endif %}
  {% if settings.inherit_color_scheme == false %}color-scheme-custom{% endif %}
  {{ class }}
{%- endcapture -%}

<{{ element }}
  class="{{ group_block_class | strip | strip_newlines }}"
  style="
    {% if settings.border != 'none' %}
      {% render 'border-override', settings: settings %}
    {% endif %}
    {% render 'spacing-style', settings: settings %}
    {% render 'size-style', settings: settings %}
    {% render 'shadow-style', settings: settings %}
    {% if settings.inherit_color_scheme == false %}
      {% render 'color-scheme-style', settings: settings %}
    {% endif %}
    {{ style }}
  "
  {{ attributes }}
  data-testid="group-block"
  {% if settings.enable_parallax == 'parallax_items' and settings.disable_parallax_mobile %}
    data-disable-parallax-mobile="true"
  {% endif %}
>
  {%- if settings.link != blank -%}
    <a
      href="{{ settings.link }}"
      class="group-block__link"
      aria-label="Group Block Link"
      {% if settings.open_in_new_tab %}
        target="_blank" rel="noopener"
      {% endif %}
    ></a>
  {%- endif -%}

  <div class="group-block__media-wrapper{% if settings.background_image == blank %} media--empty{% endif %}{% if settings.background_media == 'none' %} none{% endif %}">
    {% render 'background-media',
      background_media: settings.background_media,
      background_video: settings.video,
      background_video_position: settings.video_position,
      background_image: settings.background_image,
      background_image_position: settings.background_image_position,
      placeholder: settings.placeholder,
      ratio: ratio,
      enable_parallax: settings.enable_parallax,
    %}
  </div>
  {% if settings.toggle_overlay %}
    {% render 'overlay', settings: settings, layer: '0' %}
  {% endif %}

  <div
    class="
      group-block-content relative
      {%- if request.design_mode %} group-block-content--design-mode{% endif %}
      layout-panel-flex
      layout-panel-flex--{{ settings.content_direction | default: 'column' }}
      {% if settings.content_direction_tablet %}
        tablet-layout-panel-flex--{{ settings.content_direction_tablet | default: 'column' }}
      {% endif %}
      mobile-{{ settings.content_direction_mobile | default: 'column' }}
      {{ class_content }}
    "
    style="{%- render 'layout-panel-style', settings: settings, scale_min: 0 -%}"
  >
    {{- children -}}
  </div>
</{{ element }}>
