{% comment %}
  Renders a megamenu for the header.

  Usage:
  {% render 'header-mega-menu' %}
{% endcomment %}

{%- liquid
  assign bl_stts = block.settings
  assign divider = bl_stts.divider

  assign section_fetch = section_fetch | default: false
  if section.index == nil
    assign section_fetch = true
  endif
-%}

{%- unless section_fetch -%}
  <div
    id="MegaMenu-Content-{{ section.id }}-{{ forloopIndex }}-{{ block_id }}"
    class="list-menu--wrapper"
    tabindex="-1"
    style="--columns-count: {{ bl_stts.grid }}; --gap-x: 1.6rem; --gap-y: 1.6rem"
  ></div>
{%- else -%}
  <div
    id="MegaMenu-Content-{{ section.id }}-{{ forloopIndex }}-{{ block_id }}"
    class="list-menu--wrapper mega-menu--2"
    tabindex="-1"
    style="--columns-count: {{ bl_stts.grid }}; --gap-x: 1.6rem; --gap-y: 1.6rem"
  >
    <div class="mega-menu__container page-width page-width--{{ bl_stts.width }}">
      <ul
        class="mega-menu__list header__mega-submenu{% if link.levels == 1 %} mega-menu__list--condensed{% endif %}"
        role="list"
      >
        {% if bl_stts.megamenu_submenu != blank %}
          <li class="mega-menu__submenu" role="list">
            <ul class="list-unstyled" role="list">
              {% for link in bl_stts.megamenu_submenu.links %}
                <li>
                  <a
                    href="{{ link.url }}"
                    title="{{ link.title | escape }}"
                    class="
                      header__menu-item mega-menu__link mega-menu__link--level-2 link link--hover-underline
                      {% render 'highlight-class', order: '2', keys: keys, compare: link.title, settings: sec_settings %}
                    "
                    style="{%  render 'highlight-style', order: '2', keys: keys, compare: link.title, color: highlight_color, settings: sec_settings %}"
                  >
                    <span class="text">
                      {{ link.title | escape }}
                    </span>
                    {% render 'highlight-label-menu',
                      order: '2',
                      keys: keys,
                      compare: link.title,
                      settings: sec_settings
                    %}
                  </a>
                </li>
              {% endfor %}
            </ul>
          </li>
        {% endif %}
        {%- for childlink in link.links -%}
          <li>
            <a
              id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}"
              href="{{ childlink.url }}"
              class="
                header__menu-item mega-menu__link mega-menu__link--level-2 link link--hover-underline
                {% if childlink.current %} list-menu__item--active{% endif %}
                {% render 'highlight-class', order: '2', keys: keys, compare: childlink.title, settings: sec_settings %}
              "
              {% if childlink.current %}
                aria-current="page"
              {% endif %}
              style="{%  render 'highlight-style', order: '2', keys: keys, compare: childlink.title, color: highlight_color, settings: sec_settings %}"
            >
              <span class="text">
                {{ childlink.title | escape }}
              </span>
              {% render 'highlight-label-menu',
                order: '2',
                keys: keys,
                compare: childlink.title,
                settings: sec_settings
              %}
            </a>
            {%- if childlink.links != blank -%}
              <ul class="list-unstyled" role="list">
                {%- for grandchildlink in childlink.links -%}
                  <li>
                    <a
                      id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}-{{ grandchildlink.handle }}"
                      href="{{ grandchildlink.url }}"
                      class="
                        header__menu-item mega-menu__link link link--hover-underline mega-menu__link--level-3
                        {% if grandchildlink.current %} list-menu__item--active{% endif %}
                        {% render 'highlight-class', order: '3', keys: keys, compare: grandchildlink.title, settings: sec_settings %}
                      "
                      {% if grandchildlink.current %}
                        aria-current="page"
                      {% endif %}
                      style="{%  render 'highlight-style', order: '3', keys: keys, compare: grandchildlink.title, color: highlight_color, settings: sec_settings %}"
                    >
                      <span class="text">
                        {{ grandchildlink.title | escape }}
                      </span>
                      {% render 'highlight-label-menu',
                        order: '3',
                        keys: keys,
                        compare: grandchildlink.title,
                        settings: sec_settings
                      %}
                    </a>
                  </li>
                {%- endfor -%}
              </ul>
            {%- endif -%}
          </li>
        {%- endfor -%}
      </ul>
    </div>
    {%- liquid
      assign has_mega_menu_images = false
      if bl_stts.show_promotion_banner
        if bl_stts.image_1 != blank or bl_stts.image_2 != blank
          assign has_mega_menu_images = true
          assign mega_menu_images_size = 0
          assign image_index = 0
        endif
      endif
    -%}
    {%- for i in (1..2) -%}
      {%- capture capture_image -%}image_{{ i }}{%- endcapture -%}
      {%- liquid
        assign image = bl_stts[capture_image]
        if image != blank
          assign mega_menu_images_size = mega_menu_images_size | plus: 1
        endif
      -%}
    {%- endfor -%}
    {%- if has_mega_menu_images == true or bl_stts.show_brand -%}
      <div class="mega-menu__collage-wrapper{% if bl_stts.inherit_color_scheme == false %} color-{{ bl_stts.color_scheme }}{% endif %}{% if divider %} mega-menu__collage-wrapper--divider{% endif %}">
        <div class="page-width page-width--{{ bl_stts.width }}">
          <div
            class="mega-menu__collage collage collage-3-columns collage--{{ mega_menu_images_size }}-items grid"
            style="
              --border-radius: {{ bl_stts.image_corner_radius | divided_by: 10.0 }}rem;
              --border-width: {{ bl_stts.image_border_thickness | divided_by: 10.0 }}rem;
              --gap-x: 1rem;
              --gap-y: 1rem;
            "
          >
            {%- if has_mega_menu_images == true -%}
              {%- for i in (1..2) -%}
                {%- capture capture_image -%}image_{{ i }}{%- endcapture -%}
                {%- capture capture_link_url -%}link_url_{{ i }}{%- endcapture -%}
                {%- liquid
                  assign image = bl_stts[capture_image]
                  assign link_url = bl_stts[capture_link_url]
                -%}
                {%- if image != blank -%}
                  {%- assign image_index = image_index | plus: 1 -%}
                  <div
                    class="
                      overflow-hidden
                      collage__item
                      collage__item--image
                      collage__item--{{ image_index }}
                    "
                  >
                    <a
                      class="block"
                      {% if link_url != blank %}
                        href="{{ link_url }}"
                      {% else %}
                        role="link" aria-disabled="true"
                      {% endif %}
                    >
                      {%- liquid
                        assign ratio = image.aspect_ratio | default: 1
                        assign image_alt = image.alt | default: shop.name | escape
                        assign widths = '275, 550, 710'
                        assign sizes = 'auto, (min-width: 750px) 50vw, 100vw'
                        assign class = 'motion-reduce'
                      -%}
                      <div
                        class="media media--transparent media--adapt"
                        style="--media-adapt-ratio: {{ ratio }};"
                      >
                        {%- render 'image',
                          image: image,
                          sizes: sizes,
                          widths: widths,
                          loading: 'lazy',
                          alt: image_alt,
                          class: class
                        -%}
                      </div>
                    </a>
                  </div>
                {%- endif -%}
              {%- endfor -%}
            {%- endif -%}
            {%- if bl_stts.show_brand -%}
              <div
                class="menu-dropdown__block menu-dropdown__brand collage__item collage__item--3"
              >
                {%- if bl_stts.brand_title -%}
                  <h3 class="menu-dropdown__block--title h6">
                    {{ bl_stts.brand_title | escape }}
                  </h3>
                {%- endif -%}
                <div class="menu-dropdown__block--content">
                  <ul class="azbrandsTable list-unstyled">
                    {% assign brand_letters = '' %}
                    {% assign alphabet = 'A|B|C|D|E|F|G|H|I|J|K|L|M|N|O|P|Q|R|S|T|U|V|W|X|Y|Z|1-9' | split: '|' %}
                    {% for vendor in shop.vendors %}
                      {% assign first = vendor | strip_html | slice: 0, 1 | upcase %}
                      {% unless brand_letters contains first %}
                        {% assign brand_letters = brand_letters | append: first %}
                      {% endunless %}
                    {% endfor %}
                    {% for letter in alphabet %}
                      <li>
                        <a
                          href="{{ bl_stts.brand_url | default: '' }}#{{ letter | downcase }}"
                          class="link link--hover-underline{% if brand_letters contains letter %} is-active{% endif %}"
                        >
                          {{ letter }}
                        </a>
                      </li>
                    {% endfor %}
                  </ul>
                </div>
                {%- if bl_stts.brand_text -%}
                  <div style="--mt: var(--margin-md);">
                    <a
                      {% if bl_stts.brand_url == blank %}
                        role="link" aria-disabled="true"
                      {% else %}
                        href="{{ bl_stts.brand_url }}"
                      {% endif %}
                      class="link link--underline"
                    >
                      {{ bl_stts.brand_text | escape }}
                    </a>
                  </div>
                {%- endif -%}
              </div>
            {%- endif -%}
          </div>
        </div>
      </div>
    {%- endif -%}
  </div>
{%- endunless -%}
