{% comment %}
  Renders a standard dropdown style menu for the header.

  Usage:
  {% render 'header-dropdown-menu' %}
{% endcomment %}
{%- liquid
  assign section_fetch = section_fetch | default: false
  if section.index == nil
    assign section_fetch = true
  endif
-%}
{%- unless section_fetch -%}
  <div
    class="header__submenu-wrapper list-menu--wrapper cus-scrollbar"
    tabindex="-1"
    id="MegaMenu-Content-{{ section.id }}-{{ forloopIndex }}-{{ block_id }}"
  ></div>
{%- else -%}
  <div
    class="header__submenu-wrapper list-menu--wrapper cus-scrollbar"
    tabindex="-1"
    id="MegaMenu-Content-{{ section.id }}-{{ forloopIndex }}-{{ block_id }}"
  >
    <ul
      id="HeaderMenu-MenuList-{{ forloopIndex }}"
      class="header__submenu list-menu caption-large motion-reduce"
      role="list"
    >
      {%- for childlink in link.links -%}
        <li>
          {%- if childlink.links == blank -%}
            <a
              id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}"
              href="{{ childlink.url }}"
              class="header__menu-item list-menu__item link link--text focus-inset link--hover-underline caption-large mega-menu__link--level-3 {{ class_item_hover_reveal }}{% if childlink.current %} list-menu__item--active{% endif %}{% render 'highlight-class', order: '2', keys: keys, compare: childlink.title, settings: sec_settings %}"
              {% if childlink.current %}
                aria-current="page"
              {% endif %}
              style="{%  render 'highlight-style', order: '2', keys: keys, compare: childlink.title, color: highlight_color, settings: sec_settings %}"
            >
              {{ childlink.title | escape }}
              {% render 'highlight-label-menu',
                order: '2',
                keys: keys,
                compare: childlink.title,
                settings: sec_settings
              %}
            </a>
          {%- else -%}
            <details
              id="Details-HeaderSubMenu-{{ link.handle }}-{{ childlink.handle }}"
              class="relative details--dropdown"
              is="dropdown-details"
              activate-event="hover"
              data-index="0"
            >
              <summary
                id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}"
                class="details__summary header__menu-item link link--text list-menu__item link--hover-underline focus-inset caption-large mega-menu__link--level-3 {{ class_item_hover_reveal }}{% render 'highlight-class', order: '2', keys: keys, compare: childlink.title, settings: sec_settings %}"
                style="{%  render 'highlight-style', order: '2', keys: keys, compare: childlink.title, color: highlight_color, settings: sec_settings %}"
              >
                {{ childlink.title | escape }}
                {% if icon_type == 'caret' %}
                  <span class="svg-wrapper">
                    {{- 'icon-caret.svg' | inline_asset_content -}}
                  </span>
                {% endif %}
                {% render 'highlight-label-menu',
                  order: '2',
                  keys: keys,
                  compare: childlink.title,
                  settings: sec_settings
                %}
              </summary>
              <div class="details__list header__submenu-wrapper header__submenu-wrapper-grandchild list-menu--wrapper list-menu list-menu--disclosure top-0 left-full z-1 motion-reduce global-settings-popup">
                <ul
                  id="HeaderMenu-SubMenuList-{{ link.handle }}-{{ childlink.handle }}-{{ grandchildlink.handle }}"
                  class="header__submenu list-menu"
                >
                  {%- for grandchildlink in childlink.links -%}
                    <li>
                      <a
                        id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}-{{ grandchildlink.handle }}"
                        href="{{ grandchildlink.url }}"
                        class="
                          header__menu-item header__menu-item--last list-menu__item link link--text focus-inset link--hover-underline caption-large mega-menu__link--level-3 {{ class_item_hover_reveal }}{% if grandchildlink.current %} list-menu__item--active{% endif %}
                          {% render 'highlight-class', order: '3', keys: keys, compare: grandchildlink.title, settings: sec_settings %}
                        "
                        {% if grandchildlink.current %}
                          aria-current="page"
                        {% endif %}
                        style="{%  render 'highlight-style', order: '3', keys: keys, compare: grandchildlink.title, color: highlight_color, settings: sec_settings %}"
                      >
                        {{ grandchildlink.title | escape }}
                        {% render 'highlight-label-menu',
                          order: '3',
                          keys: keys,
                          compare: grandchildlink.title,
                          settings: sec_settings
                        %}
                      </a>
                    </li>
                  {%- endfor -%}
                </ul>
              </div>
            </details>
          {%- endif -%}
        </li>
      {%- endfor -%}
    </ul>
  </div>
{%- endunless -%}
