{%- doc -%}
  Renders a slideshow slide component.

  @param {number} index - the index of the slide
  @param {string} [children] - The content of the slideshow slide
  @param {string} [class] - HTML class attribute of the slideshow slide
  @param {string} [style] - HTML style attribute of the slideshow slide
  @param {string} [attributes] - Additional HTML attributes to add to the slideshow slide
  @param {object} [block] - The block of the slideshow slide

  @example
  {% render 'slideshow-slide', index: 0, children: imageElement, slide_id: 'slide-1', hidden: false, media_fit: 'cover' %}
{%- enddoc -%}

{%- liquid
  assign class = class | strip | strip_newlines
  assign style = style | strip | strip_newlines
-%}

{% if children contains 'product-media' %}
  <div
    class="swiper-slide {{ class }}"
    {% if style != blank %}
      style="{{ style }}"
    {% endif %}
    {{ attributes }}
  >
    <div
      id="slide-{{ block.id }}-{{ index }}"
      class="slideshow__slide flex relative justify-center size-full"
      aria-hidden="{% if index == 0 %}false{% else %}true{% endif %}"
      {{ block.shopify_attributes }}
      {% if style != blank %}
        style="{{ style }}"
      {% endif %}
    >
      <div class="flex size-full overflow-hidden absolute">
        <div class="slide__img-wrapper grid w-full">
          {{ children }}
        </div>
      </div>
    </div>
  </div>
{% endif %}
