{% comment %}
  Renders social icons.
  Accepts:
  - class: {String} a class to be added to the <ul> element (optional).

  Usage:
  {% render 'social-icons',
    class: 'my-class'
  %}
{% endcomment %}

{%- liquid
  if settings.social_twitter_link != blank or settings.social_facebook_link != blank or settings.social_pinterest_link != blank or settings.social_instagram_link != blank or settings.social_youtube_link != blank or settings.social_vimeo_link != blank or settings.social_tiktok_link != blank or settings.social_tumblr_link != blank or settings.social_snapchat_link != blank
    assign social_links = true
  endif
-%}

{%- capture class_item -%}
  list-social__item social__item--effect
{%- endcapture -%}

{%- if social_links -%}
  {{ 'component-list-social.css' | asset_url | stylesheet_tag }}
  <div class="flex flex-wrap justify-center flex-column h-full">
    <ul
      class="list-unstyled list-social flex flex-wrap justify-end sm\:justify-center{% if class %} {{ class}}{% endif %}"
      role="list"
      style="--gap-x: 1.1rem; --gap-y: 1.1rem;"
    >
      {%- if settings.social_twitter_link != blank -%}
        <li class="{{ class_item }}">
          <a href="{{ settings.social_twitter_link }}" class="list-social__link link">
            <span class="svg-wrapper">
              {{- 'icon-twitter.svg' | inline_asset_content -}}
              {{- 'icon-twitter.svg' | inline_asset_content -}}
            </span>
            <span class="visually-hidden">{{ 'content.social.twitter' | t }}</span>
          </a>
        </li>
      {%- endif -%}
      {%- if settings.social_facebook_link != blank -%}
        <li class="{{ class_item }}">
          <a href="{{ settings.social_facebook_link }}" class="list-social__link link">
            <span class="svg-wrapper">
              {{- 'icon-facebook.svg' | inline_asset_content -}}
              {{- 'icon-facebook.svg' | inline_asset_content -}}
            </span>
            <span class="visually-hidden">{{ 'content.social.facebook' | t }}</span>
          </a>
        </li>
      {%- endif -%}
      {%- if settings.social_pinterest_link != blank -%}
        <li class="{{ class_item }}">
          <a href="{{ settings.social_pinterest_link }}" class="list-social__link link">
            <span class="svg-wrapper">
              {{- 'icon-pinterest.svg' | inline_asset_content -}}
              {{- 'icon-pinterest.svg' | inline_asset_content -}}
            </span>
            <span class="visually-hidden">{{ 'content.social.pinterest' | t }}</span>
          </a>
        </li>
      {%- endif -%}
      {%- if settings.social_instagram_link != blank -%}
        <li class="{{ class_item }}">
          <a href="{{ settings.social_instagram_link }}" class="list-social__link link">
            <span class="svg-wrapper">
              {{- 'icon-instagram.svg' | inline_asset_content -}}
              {{- 'icon-instagram.svg' | inline_asset_content -}}
            </span>
            <span class="visually-hidden">{{ 'content.social.instagram' | t }}</span>
          </a>
        </li>
      {%- endif -%}
      {%- if settings.social_tiktok_link != blank -%}
        <li class="{{ class_item }}">
          <a href="{{ settings.social_tiktok_link }}" class="list-social__link link">
            <span class="svg-wrapper">
              {{- 'icon-tiktok.svg' | inline_asset_content -}}
              {{- 'icon-tiktok.svg' | inline_asset_content -}}
            </span>
            <span class="visually-hidden">{{ 'content.social.tiktok' | t }}</span>
          </a>
        </li>
      {%- endif -%}
      {%- if settings.social_tumblr_link != blank -%}
        <li class="{{ class_item }}">
          <a href="{{ settings.social_tumblr_link }}" class="list-social__link link">
            <span class="svg-wrapper">
              {{- 'icon-tumblr.svg' | inline_asset_content -}}
              {{- 'icon-tumblr.svg' | inline_asset_content -}}
            </span>
            <span class="visually-hidden">{{ 'content.social.tumblr' | t }}</span>
          </a>
        </li>
      {%- endif -%}
      {%- if settings.social_snapchat_link != blank -%}
        <li class="{{ class_item }}">
          <a href="{{ settings.social_snapchat_link }}" class="list-social__link link">
            <span class="svg-wrapper">
              {{- 'icon-snapchat.svg' | inline_asset_content -}}
              {{- 'icon-snapchat.svg' | inline_asset_content -}}
            </span>
            <span class="visually-hidden">{{ 'content.social.snapchat' | t }}</span>
          </a>
        </li>
      {%- endif -%}
      {%- if settings.social_youtube_link != blank -%}
        <li class="{{ class_item }}">
          <a href="{{ settings.social_youtube_link }}" class="list-social__link link">
            <span class="svg-wrapper">
              {{- 'icon-youtube.svg' | inline_asset_content -}}
              {{- 'icon-youtube.svg' | inline_asset_content -}}
            </span>
            <span class="visually-hidden">{{ 'content.social.youtube' | t }}</span>
          </a>
        </li>
      {%- endif -%}
      {%- if settings.social_vimeo_link != blank -%}
        <li class="{{ class_item }}">
          <a href="{{ settings.social_vimeo_link }}" class="list-social__link link">
            <span class="svg-wrapper">
              {{- 'icon-vimeo.svg' | inline_asset_content -}}
              {{- 'icon-vimeo.svg' | inline_asset_content -}}
            </span>
            <span class="visually-hidden">{{ 'content.social.vimeo' | t }}</span>
          </a>
        </li>
      {%- endif -%}
    </ul>
  </div>
{%- endif -%}
