{%- doc -%}
  Renders the sorting component.

  @param {object} results - The results of the search
  @param {string} sort_by - The current sort by
  @param {string} filter_style - The filter style
  @param {string} [suffix] - { 'desktop' | 'mobile' | 'overflow' } Used on `form` attributes to connect inputs to a form[id]
  @param {string} [sort_position] - { 'desktop' | 'mobile' } Used in a data-testID selector for automated testing
  @param {boolean} should_use_select_on_mobile - Whether to use a select element for the sorting component on mobile
  @param {string} section_id - The section ID
{%- enddoc -%}

<sorting-filter-component
  class="sorting-filter{% if filter_style == 'horizontal' %} sorting-filter__horizontal{% endif %}"
  on:change="/updateFilterAndSorting"
  on:keydown="/handleKeyDown"
  {% if sort_position != blank %}
    data-testid="sorting-filter-component-{{ sort_position }}"
  {% endif %}
  data-should-use-select-on-mobile="{{ should_use_select_on_mobile }}"
>
  {% liquid
    assign default_sort_by = results.default_sort_by
    for option in results.sort_options
      if option.value == sort_by
        assign status = option.name
      endif
    endfor
  %}

  <div class="sorting-filter__container {% if should_use_select_on_mobile %} desktop:hidden {% else %} hidden {% endif %}">
    <label
      for="sort-select-{{ section_id }}"
      class="facets__label"
    >
      {{- 'actions.sort' | t -}}
    </label>
    <div class="sorting-filter__select-wrapper">
      <select
        id="sort-select-{{ section_id }}"
        name="sort_by"
        class="sorting-filter__select"
        {% if should_use_select_on_mobile == false %}
          disabled
        {% endif %}
      >
        {% for option in results.sort_options %}
          <option
            value="{{ option.value }}"
            {% if option.value == sort_by %}
              selected
            {% endif %}
          >
            {{ option.name }}
          </option>
        {% endfor %}
      </select>
      <svg
        aria-hidden="true"
        focusable="false"
        class="icon icon-caret"
        width="8"
        height="13"
        viewBox="0 0 8 13"
      >
        {%- render 'icon', icon: 'double-sided-caret' -%}
      </svg>
    </div>
  </div>

  <accordion-custom
    data-auto-close-details="desktop,mobile"
    {% if filter_style == 'horizontal' %}
      data-disable-animation-on-desktop="true"
      data-close-with-escape="true"
    {% endif %}
  >
    <details
      ref="details"
      id="Sorting-{{ section_id }}"
      data-default-sort-by="{{ default_sort_by }}"
      class="facets__panel {% if should_use_select_on_mobile %} mobile:hidden {% endif %}"
      data-auto-close-details="desktop,mobile"
      on:toggle="/handleToggle"
    >
      <summary
        class="facets__summary"
        role="button"
        aria-expanded="false"
        aria-controls="sorting-options-{{ section_id }}"
        ref="summary"
      >
        <span
          class="facets__label"
          id="sort-label-{{ section_id }}"
        >
          {{- 'actions.sort' | t -}}
        </span>
        <span
          class="facets__status h6 desktop:hidden"
        >
          {{- status -}}
        </span>
        <span class="svg-wrapper icon-caret icon-animated">
          {{- 'icon-caret.svg' | inline_asset_content -}}
        </span>
      </summary>
      <floating-panel-component
        id="sorting-options-{{ section_id }}"
        class="sorting-filter__options color-{{ settings.popover_color_scheme }} floating-panel-component"
        role="listbox"
        aria-labelledby="sort-label-{{ section_id }}"
        ref="listbox"
        style="--facets-upper-z-index: 1;"
      >
        {% for option in results.sort_options %}
          <label
            for="sort-option-{{ option.value }}-{{ section_id }}"
          >
            <div
              class="sorting-filter__option"
              role="option"
              aria-selected="{% if option.value == sort_by %}true{% else %}false{% endif %}"
              tabindex="{% if option.value == sort_by %}0{% else %}-1{% endif %}"
            >
              <input
                type="radio"
                name="sort_by"
                id="sort-option-{{ option.value }}-{{ section_id }}"
                {% if suffix != blank %}
                  form="FacetFiltersForm--{{ section_id }}-{{ suffix }}"
                {% endif %}
                value="{{ option.value }}"
                class="sorting-filter__input"
                data-option-name="{{ option.name }}"
                {% if option.value == sort_by %}
                  checked
                {% endif %}
                aria-hidden="true"
              >
              <span class="svg-wrapper icon-checkmark sorting-filter__checkmark">
                {{- 'icon-checkmark.svg' | inline_asset_content -}}
              </span>
              <span class="sorting-filter__label">{{ option.name }}</span>
            </div>
          </label>
        {% endfor %}
      </floating-panel-component>
    </details>
  </accordion-custom>
</sorting-filter-component>
