{%- doc -%}
  Renders a category list for a blog post sidebar in filters.

  @param {boolean} in_facets - whether the category list is in a facets panel
  @param {string} heading_label_case - the case of the heading label
  @param {string} text_label_case - the case of the text label
{%- enddoc -%}

{%- liquid
  assign bl_stts = block.settings
  assign text = bl_stts.text
  assign type = bl_stts.type

  assign collapse = bl_stts.collapse
  assign collapse_default = bl_stts.collapse_default
  assign collapse_icon = bl_stts.collapse_icon
  if collapse == true
    assign element = 'accordion-custom'
    if collapse_default == 'open'
      assign is_open = true
    else
      assign is_open = false
    endif
  else
    assign element = 'div'
  endif

  assign limit = bl_stts.collections_to_show
-%}

{%- capture class_item -%}
  blog-post__category-list-item
{%- endcapture -%}

{%- capture class_link -%}
  blog-post__category-list-link link link--hover-underline
{%- endcapture -%}

{%- capture class_item_current -%}
  current-cate is-clicked
{%- endcapture -%}

<{{ element }}
  class="blog-post__category blog-posts__sidebar-item"
  style="
  {% if in_facets %}
  --font-h3--case: {{ heading_label_case }};
  --font-size: {{ heading_label_font_size }};
  --text-transform: {{ text_label_case }};
  --button-font-size-link: var(--font-size, var(--body-xs-font-size));
  {% endif %}"
  {% if is_open %}
    open-by-default-on-desktop
    open-by-default-on-mobile
  {% endif %}
>
  {% if collapse %}
    <details
      {% if is_open %}
        open
      {% endif %}
    >
      <summary>
  {% endif %}

  {% if text != blank %}
    <h3 class="blog-posts__sidebar-heading{% if collapse %} blog-posts__sidebar-collapse-button cursor-pointer{% endif %}">
      {{ text }}
    </h3>
  {%- elsif text == blank and collapse == true -%}
    <h3 class="blog-posts__sidebar-heading blog-posts__sidebar-collapse-button cursor-pointer">
      {{ 'content.collapse_row' | t }}
    </h3>
  {% endif %}

  {% if collapse %}
    {% if collapse_icon != 'none' %}
      <span class="svg-wrapper icon-caret-wrapper">
        {{- 'icon-caret.svg' | inline_asset_content -}}
      </span>
    {% endif %}
    </summary>
  {% endif %}

  {% if collapse %}
    <div class="details-content">
  {% endif %}

  <ul
    class="blog-post__category-list list-unstyled cus-scrollbar"
    role="menu"
  >
    {% assign collection_list = block.settings.link_list | handleize %}
    {%- if type == 'show_all' -%}
      {%- for collection_list in collections limit: limit -%}
        <li
          class="{{ class_item }}{% if collection.handle == collection_list.handle %} {{ class_item_current }}{% endif %}"
          role="menuitem"
        >
          <a class="{{ class_link }}" href="{{ collection_list.url }}" aria-label="link" style="{% if in_facets %}--font-size: {{ text_label_font_size }};{% endif %}">
            <span class="text">{{ collection_list.title | escape }}</span>
          </a>
        </li>
      {%- endfor -%}
    {%- elsif type == '1_level' -%}
      {%- for link in linklists[collection_list].links limit: 9 -%}
        <li
          class="{{ class_item }}{% if link.active or link.child_active %} {{ class_item_current }}{% endif %}"
          role="menuitem"
        >
          <a class="{{ class_link }}" href="{{ link.url }}" aria-label="link" style="{% if in_facets %}--font-size: {{ text_label_font_size }};{% endif %}">
            <span class="text">{{ link.title | escape }}</span>
          </a>
        </li>
      {%- endfor -%}
    {%- else -%}
      {%- for link in linklists[collection_list].links -%}
        <li class="{{ class_item }}{% if link.active %} {{ class_item_current }}{% endif %}" role="menuitem">
          {%- if linklists[link.handle] == empty -%}
            <a class="{{ class_link }}" href="{{ link.url }}" aria-label="link" style="{% if in_facets %}--font-size: {{ text_label_font_size }};{% endif %}">
              <span class="text">{{ link.title | escape }}</span>
            </a>
          {%- else -%}
            <a class="{{ class_link }} has-subMenu" href="{{ link.url }}" aria-label="link" style="{% if in_facets %}--font-size: {{ text_label_font_size }};{% endif %}">
              <span class="text">{{ link.title }}</span>
            </a>
            <span class="icon-dropdown" role="button" aria-label="{{ 'accessibility.dropdown' | t }}" tabindex="0">
              <span class="icon-plus"></span>
            </span>
            <ul class="dropdown-category-list navPages-level-2 list-unstyled" role="list">
              {%- for link_child_item in linklists[link.handle].links -%}
                <li class="navPage-subMenu-item{% if link_child_item.active or link_child_item.child_active %} {{ class_item_current }}{% endif %}">
                  {%- if linklists[link_child_item.handle] == empty -%}
                    <a
                      class="{{ class_link }} navPage-subMenu-action"
                      href="{{ link_child_item.url }}"
                      aria-label="link"
                      style="{% if in_facets %}--font-size: {{ text_label_font_size }};{% endif %}"
                    >
                      {{ link_child_item.title }}
                    </a>
                  {%- else -%}
                    <a
                      class="{{ class_link }} navPage-subMenu-action has-subMenu"
                      href="{{ link_child_item.url }}"
                      aria-label="link"
                      style="{% if in_facets %}--font-size: {{ text_label_font_size }};{% endif %}"
                    >
                      <span class="text">{{ link_child_item.title }}</span>
                    </a>
                    <span
                      class="icon-dropdown"
                      role="button"
                      aria-label="{{ 'accessibility.dropdown' | t }}"
                      tabindex="0"
                    >
                      <span class="icon-plus"></span>
                    </span>
                    <ul class="dropdown-category-list navPages-level-3 list-unstyled" role="list">
                      {%- for n in linklists[link_child_item.handle].links -%}
                        <li class="navPage-subMenu-item{% if n.active %} {{ class_item_current }}{% endif %}">
                          <a
                            class="{{ class_link }} navPage-subMenu-action"
                            href="{{ n.url }}"
                            aria-label="link"
                            style="{% if in_facets %}--font-size: {{ text_label_font_size }};{% endif %}"
                          >
                            {{- n.title -}}
                          </a>
                        </li>
                      {%- endfor -%}
                    </ul>
                  {%- endif -%}
                </li>
              {%- endfor -%}
            </ul>
          {%- endif -%}
        </li>
      {%- endfor -%}
    {%- endif -%}
  </ul>
  {% if collapse %}
    </div>
    </details>
  {% endif %}
</{{ element }}>

<style>
  .mobile-facets__inner .blog-post__category.blog-posts__sidebar-item {
    padding-inline: var(--padding-md);
  }

  @media screen and (max-width: 1024px) {
    .mobile-facets__inner .blog-post__category.blog-posts__sidebar-item {
      .details-content {
        margin: 0;
        padding-bottom: 0;
      }

      .blog-post__category-list {
        padding-top: var(--padding-sm);
        overflow-y: auto;
        max-height: 50rem;
      }
    }
  }

  .blog-post__category-list {
    .dropdown-category-list {
      padding-left: 1rem;
    }

    .navPages-level-3 {
      border-color: rgba(var(--color-foreground-rgb) / var(--opacity-20));
    }
  }

  .blog-post__category-list-link {
    padding-block: calc(var(--padding-sm) - var(--padding-3xs));
    font-size: var(--font-size, var(--body-s-font-size));
    color: rgba(var(--color-foreground-rgb) / var(--opacity-80));
    letter-spacing: var(--letter-spacing--display-loose);
    transition: padding-left var(--animation-speed-slow) var(--ease-out-smooth);
    position: relative;
    display: block;

    &::before {
      content: '';
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(-100%, -50%);
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512' style='fill: %23adadad'%3E%3Cpath d='M96 480c-8.188 0-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L242.8 256L73.38 86.63c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l192 192c12.5 12.5 12.5 32.75 0 45.25l-192 192C112.4 476.9 104.2 480 96 480z'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: center;
      width: 6px;
      height: 9px;
      visibility: hidden;
      opacity: 0;
      transition: opacity var(--animation-speed-slow) var(--ease-out-smooth),
        transform var(--animation-speed-slow) calc(var(--animation-speed-slow) * 0.5) var(--ease-out-smooth);
    }

    &:hover {
      padding-left: var(--padding-md);
      &::before {
        visibility: visible;
        opacity: 1;
        transform: translate(0%, -50%);
      }
    }

    &.link--hover-underline:not(:has(.text)) {
      padding-block: 0;
      margin: 1rem 0;
      display:-webkit-box;
      -webkit-line-clamp:1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      word-break: break-word;
      transition: background-size var(--animation-values-slow),opacity var(--animation-speed) var(--animation-delay, 0s) var(--animation-easing),color var(--animation-speed) var(--animation-delay, 0s) var(--animation-easing), padding-left var(--animation-speed-slow) var(--ease-out-smooth);
      width: fit-content;
    }
  }
</style>


{% schema %}
{
  "name": "t:names.category",
  "tag": null,
  "settings": [
    {
      "type": "checkbox",
      "id": "collapse",
      "label": "t:settings.collapse",
      "default": false
    },
    {
      "type": "select",
      "id": "collapse_default",
      "label": "t:settings.collapse_style",
      "visible_if": "{{ block.settings.collapse == true }}",
      "options": [
        {
          "value": "open",
          "label": "t:settings.collapse_open"
        },
        {
          "value": "close",
          "label": "t:settings.collapse_close"
        }
      ],
      "default": "close"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "t:settings.heading",
      "default": "<p>Categories</p>"
    },
    {
      "type": "select",
      "id": "type",
      "label": "t:settings.menu_depth",
      "default": "1_level",
      "options": [
        {
          "value": "1_level",
          "label": "t:options.one_level"
        },
        {
          "value": "3_level",
          "label": "t:options.all_levels"
        },
        {
          "value": "show_all",
          "label": "t:options.all_collections"
        }
      ]
    },
    {
      "type": "range",
      "id": "collections_to_show",
      "min": 1,
      "max": 20,
      "step": 1,
      "label": "t:settings.limit",
      "default": 20
    },
    {
      "type": "paragraph",
      "content": "This setting will render all collections in your store.",
      "visible_if": "{{ block.settings.type == 'show_all' }}"
    },
    {
      "type": "link_list",
      "id": "link_list",
      "label": "t:settings.menu",
      "default": "main-menu",
      "visible_if": "{{ block.settings.type != 'show_all' }}"
    }
  ],
  "presets": [
    {
      "name": "t:names.category"
    }
  ]
}
{% endschema %}
