{%- capture card_product_information_class -%}
  card-product-information group-block w-full flex
  group-block--{{block.id}}
  {% if block.settings.inherit_color_scheme == false %}color-scheme-custom{% endif %}
  layout-panel-flex
  layout-panel-flex--{{ block.settings.content_direction | default: 'column' }}
  mobile-{{ block.settings.content_direction_mobile | default: 'column' }}
{%- endcapture -%}

<div
  class="{{ card_product_information_class | strip | strip_newlines }}"
  style="
    {%- render 'block-padding', settings: block.settings -%}
    {%- if block.settings.width_option == 'custom' -%}
      --globalGroupWidth: {{ block.settings.custom_width }}%;
    {%- endif -%}
    {%- render 'gap-style', value: block.settings.gap_x, name: 'gap-x' -%}
    {%- render 'gap-style', value: block.settings.gap_y, name: 'gap-y' -%}
    {%- render 'layout-panel-style', settings: block.settings, scale_min: 8 -%}
    {%- if block.settings.inherit_color_scheme == false -%}
      {%- render 'color-scheme-style', settings: block.settings -%}
    {%- endif -%}
  "
>
  {% content_for 'block', type: '_bundle-card-product-title', id: 'bundle-card-product-title' %}
  {% content_for 'block', type: '_card-product-price-flex', id: 'bundle-card-product-price' %}
  {% content_for 'block', type: '_bundle-card-product-button', id: 'bundle-card-product-button' %}
</div>

{% schema %}
{
  "name": "t:names.group_product_information",
  "tag": null,
  "settings": [
    {
      "type": "header",
      "content": "t:content.size"
    },
    {
      "type": "select",
      "id": "width_option",
      "label": "t:settings.width",
      "options": [
        {
          "value": "full",
          "label": "t:options.full_width"
        },
        {
          "value": "custom",
          "label": "t:options.custom"
        }
      ],
      "default": "full"
    },
    {
      "type": "range",
      "id": "custom_width",
      "label": "t:settings.custom_percent",
      "min": 1,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 80,
      "visible_if": "{{ block.settings.width_option == 'custom' }}"
    },
    {
      "type": "header",
      "content": "t:content.text_alignment"
    },
    {
      "type": "select",
      "id": "alignment",
      "label": "t:settings.text_alignment_desktop",
      "default": "left",
      "options": [
        {
          "value": "left",
          "label": "t:options.left"
        },
        {
          "value": "center",
          "label": "t:options.center"
        },
        {
          "value": "right",
          "label": "t:options.right"
        }
      ]
    },
    {
      "type": "select",
      "id": "alignment_mb",
      "label": "t:settings.text_alignment_mobile",
      "default": "left",
      "info": "t:info.alignment_info",
      "options": [
        {
          "value": "left",
          "label": "t:options.left"
        },
        {
          "value": "center",
          "label": "t:options.center"
        },
        {
          "value": "right",
          "label": "t:options.right"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:content.layout"
    },
    {
      "type": "select",
      "id": "content_direction",
      "label": "t:settings.direction",
      "options": [
        {
          "value": "column",
          "label": "t:options.vertical"
        },
        {
          "value": "row",
          "label": "t:options.horizontal"
        }
      ],
      "default": "column"
    },
    {
      "type": "select",
      "id": "content_direction_mobile",
      "label": "t:settings.direction_on_mobile",
      "options": [
        {
          "value": "column",
          "label": "t:options.vertical"
        },
        {
          "value": "row",
          "label": "t:options.horizontal"
        }
      ],
      "default": "column"
    },
    {
      "type": "select",
      "id": "wrap",
      "label": "t:settings.wrap",
      "default": "wrap",
      "options": [
        {
          "value": "nowrap",
          "label": "t:options.no"
        },
        {
          "value": "wrap",
          "label": "t:options.yes"
        }
      ]
    },
    {
      "type": "select",
      "id": "vertical_alignment",
      "label": "t:settings.position",
      "options": [
        {
          "value": "stretch",
          "label": "t:options.stretch"
        },
        {
          "value": "flex-start",
          "label": "t:options.top"
        },
        {
          "value": "center",
          "label": "t:options.center"
        },
        {
          "value": "flex-end",
          "label": "t:options.bottom"
        }
      ],
      "default": "center",
      "visible_if": "{{ block.settings.content_direction == 'row' }}"
    },
    {
      "type": "select",
      "id": "horizontal_alignment",
      "label": "t:settings.alignment",
      "options": [
        {
          "value": "flex-start",
          "label": "t:options.left"
        },
        {
          "value": "center",
          "label": "t:options.center"
        },
        {
          "value": "flex-end",
          "label": "t:options.right"
        },
        {
          "value": "space-between",
          "label": "t:options.space_between"
        }
      ],
      "default": "flex-start",
      "visible_if": "{{ block.settings.content_direction == 'row' }}"
    },
    {
      "type": "select",
      "id": "horizontal_alignment_flex_direction_column",
      "label": "t:settings.alignment",
      "options": [
        {
          "value": "flex-start",
          "label": "t:options.left"
        },
        {
          "value": "center",
          "label": "t:options.center"
        },
        {
          "value": "flex-end",
          "label": "t:options.right"
        }
      ],
      "default": "flex-start",
      "visible_if": "{{ block.settings.content_direction != 'row' }}"
    },
    {
      "type": "select",
      "id": "vertical_alignment_flex_direction_column",
      "label": "t:settings.position",
      "options": [
        {
          "value": "flex-start",
          "label": "t:options.top"
        },
        {
          "value": "center",
          "label": "t:options.center"
        },
        {
          "value": "flex-end",
          "label": "t:options.bottom"
        },
        {
          "value": "space-between",
          "label": "t:options.space_between"
        }
      ],
      "default": "center",
      "visible_if": "{{ block.settings.content_direction == 'column' }}"
    },
    {
      "type": "range",
      "id": "gap_x",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 10,
      "label": "t:settings.horizontal_gap"
    },
    {
      "type": "range",
      "id": "gap_y",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 10,
      "label": "t:settings.vertical_gap"
    },
    {
      "type": "header",
      "content": "t:content.colors"
    },
    {
      "type": "checkbox",
      "id": "inherit_color_scheme",
      "label": "t:settings.inherit_color_scheme",
      "default": true
    },
    {
      "type": "color",
      "id": "scheme_background",
      "label": "t:settings.background",
      "default": "#FFFFFF",
      "alpha": true,
      "visible_if": "{{ block.settings.inherit_color_scheme == false }}"
    },
    {
      "type": "color_background",
      "id": "scheme_background_gradient",
      "label": "t:settings.background_gradient",
      "info": "t:info.background_gradient_info",
      "visible_if": "{{ block.settings.inherit_color_scheme == false }}"
    },
    {
      "type": "color",
      "id": "scheme_foreground_heading",
      "label": "t:settings.headings",
      "default": "#000000",
      "alpha": true,
      "visible_if": "{{ block.settings.inherit_color_scheme == false }}"
    },
    {
      "type": "color",
      "id": "scheme_foreground",
      "label": "t:settings.text",
      "default": "#000000",
      "alpha": true,
      "visible_if": "{{ block.settings.inherit_color_scheme == false }}"
    },
    {
      "type": "color",
      "id": "scheme_primary",
      "label": "t:settings.primary_color",
      "default": "#000F9F",
      "alpha": true,
      "visible_if": "{{ block.settings.inherit_color_scheme == false }}"
    },
    {
      "type": "color",
      "id": "scheme_primary_hover",
      "label": "t:settings.primary_hover_color",
      "default": "#000000",
      "alpha": true,
      "visible_if": "{{ block.settings.inherit_color_scheme == false }}"
    },
    {
      "type": "color",
      "id": "scheme_border",
      "label": "t:settings.borders",
      "default": "#E6E6E6",
      "alpha": true,
      "visible_if": "{{ block.settings.inherit_color_scheme == false }}"
    },
    {
      "type": "color",
      "id": "scheme_shadow",
      "label": "t:settings.shadow_color",
      "default": "#000000",
      "alpha": true,
      "visible_if": "{{ block.settings.inherit_color_scheme == false }}"
    },
    {
      "type": "header",
      "content": "t:content.padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 0,
      "label": "t:settings.top"
    },
    {
      "type": "range",
      "id": "padding_right",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 0,
      "label": "t:settings.right"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 0,
      "label": "t:settings.bottom"
    },
    {
      "type": "range",
      "id": "padding_left",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 0,
      "label": "t:settings.left"
    }
  ],
  "blocks": [
    { "type": "@app" },
    { "type": "spacer" },
    { "type": "icon" },
    { "type": "_card-product-button-flex" },
    { "type": "_card-product-vendor-flex" },
    { "type": "_card-product-title-flex" },
    { "type": "_card-product-price-flex" },
    { "type": "_card-product-variant-flex" },
    { "type": "_card-product-marquee-flex" },
    { "type": "_card-product-countdown-flex" }
  ],
  "presets": [
    {
      "name": "t:names.group_product_information"
    }
  ]
}
{% endschema %}
