{%- liquid
  assign section_id = section.id
  assign card_product = block.settings.product
  assign enable_quick_view = settings.enable_quick_view
  assign enable_wishlist = settings.enable_wishlist
  assign enable_compare = settings.enable_compare

  if settings.quick_add_type == 'icon' and block.blocks.size > 0
    assign quick_add_is_icon = true
    assign class_group = 'md:absolute top-0 right-0 z-2'
    assign class_group_inner = 'max-sm:absolute top-0 right-0 z-2'
  elsif settings.quick_add_type == 'text' or settings.quick_add_type == 'icon' and block.blocks.size == 0
    assign quick_add_hidden = true
    assign class_group = 'absolute top-0 right-0 z-2'
  endif
-%}

{%- if card_product and card_product != empty -%}
  <div class="card-product__group-wrapper{% if quick_add_is_icon %} {{ class_group }} quick-add-type-icon{% endif %}">
    <div 
      class="card--block-group card-product__group flex flex-column spacing-style{% if quick_add_hidden %} {{ class_group }}{% endif %}{% if quick_add_is_icon %} {{ class_group_inner }}{% endif %}" 
      style="--gap-y: 1rem;--border_radius:{{ block.settings.border_radius }}px; {% render 'spacing-style', settings: block.settings, scale_min: 10 %}">
      {%- assign class_button = 'card-product__group-btn rounded-full bor-none center cursor-pointer flex items-center justify-center relative leading-none' -%}
      {%- assign class_text = 'text whitespace-nowrap overflow-hidden pointer-events-none absolute-c-y z--1 opacity-0' -%}
      {%- assign class_text_inner = 'text-inner text-sm inline-block' -%}

      {% comment %} ------ Wishlist ------ {% endcomment %}
      {%- if enable_wishlist -%}
        {% render 'product-wishlist-button', card_product: card_product, class_button: class_button, class_text: class_text, class_text_inner: class_text_inner %}
      {%- endif -%}

      {% comment %} ------ Quick view ------ {% endcomment %}
      {%- if enable_quick_view -%}
        {% render 'quick-view-button', card_product: card_product, class_button: class_button, class_text: class_text, class_text_inner: class_text_inner %}
      {%- endif -%}

      {% comment %} ------ Compare ------ {% endcomment %}
      {%- if enable_compare -%}
        {% render 'product-compare-button', card_product: card_product, class_button: class_button, sectionId: section_id, class_text: class_text, class_text_inner: class_text_inner %}
      {%- endif -%}
    </div>

    {% comment %} ------ Quick add ------ {% endcomment %}
    {% content_for 'blocks' %}
  </div>
{%- endif -%}

{% schema %}
{
  "name": "Button group",
  "tag": null,
  "blocks": [
    { "type": "_card-product-button-flex" }
  ],
  "settings": [
    {
      "type": "product",
      "id": "product",
      "label": "t:settings.product"
    },
    {
      "type": "header",
      "content": "t:content.appearance"
    },
    {
      "type": "range",
      "id": "border_radius",
      "label": "t:settings.border_radius",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 50
    },
    {
      "type": "header",
      "content": "t:content.padding"
    },
    {
      "type": "range",
      "id": "padding-block-start",
      "label": "t:settings.top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 8
    },
    {
      "type": "range",
      "id": "padding-block-end",
      "label": "t:settings.bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 16
    },
    {
      "type": "range",
      "id": "padding-inline-start",
      "label": "t:settings.left",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 8
    },
    {
      "type": "range",
      "id": "padding-inline-end",
      "label": "t:settings.right",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 8
    }
  ],
  "presets": [
    {
      "name": "Button group",
      "settings": {
        "product": "{{ closest.product }}"
      }
    }
  ]
}
{% endschema %}