{% assign bl_stts = block.settings %}

<div
  class="cart-countdown spacing-style {{ bl_stts.alignment }}{% if bl_stts.inherit_color_scheme == false %} color-scheme-custom{% endif %}"
  style="
    {% render 'spacing-style', settings: bl_stts %}
    {% if bl_stts.inherit_color_scheme == false %}
      {% render 'color-scheme-style', settings: bl_stts %}
    {% endif %}
  "
  {{ block.shopify_attributes }}
>
  <cart-countdown-component
    data-minutes="{{ bl_stts.countdown_time }}" 
    role="alert" 
    aria-live="assertive"
  >
    {% capture icon %}
      <svg
        class="svg-wrapper"
        aria-hidden="true"
        focusable="false"
        xmlns="http://www.w3.org/2000/svg"
        width="20"
        height="20"
        viewBox="0 0 20 20"
        stroke="none"
        fill="currentColor"
        {{ block.shopify_attributes }}
      >
        {%- render 'icon', icon: bl_stts.icon -%}
      </svg>
    {% endcapture %}

    {%- capture time -%}
      <span class="time font-bold">{{ bl_stts.countdown_time | prepend: '0' | slice: -2, 2 }}:00</span>
    {%- endcapture -%}

    {%- capture product -%}
      {% if bl_stts.cart_countdown_product != blank %}
        <a href="{{ bl_stts.cart_countdown_product.url }}" class="cart-countdown-product">
          <span class="text"> {{ bl_stts.cart_countdown_product.title }} </span>
        </a>
      {% endif %}
    {%- endcapture -%}

    <div class="cart-countdown-message">
      {%- if cart.empty? -%}
        {{ bl_stts.cart_countdown_text_empty | replace: "[icon]", icon | replace: "[time]", time | replace: "[product]", product }}
      {%- else -%}
        {{ bl_stts.cart_countdown_text | replace: "[icon]", icon | replace: "[time]", time }}
      {%- endif -%}
    </div>
  </cart-countdown-component>
</div>

<script src="{{ 'cart-countdown.js' | asset_url }}" defer="defer"></script>

{% schema %}
{
  "name": "t:names.cart_countdown",
  "tag": null,
  "settings": [
    {
      "type": "select",
      "id": "alignment",
      "label": "t:settings.alignment",
      "options": [
        {
          "value": "left",
          "label": "t:options.left"
        },
        {
          "value": "center",
          "label": "t:options.center"
        },
        {
          "value": "right",
          "label": "t:options.right"
        }
      ],
      "default": "left"
    },
    {
      "type": "inline_richtext",
      "id": "cart_countdown_text",
      "label": "t:settings.cart_countdown_with_items",
      "default": "[icon] Please, hurry! Someone has placed an order on one of the items you have in the cart. We'll keep it for you for [time] minutes.",
      "info": "You can use [icon], [time] in the text. Example: [icon] Please, hurry! Someone has placed an order on one of the items you have in the cart. We'll keep it for you for [time] minutes."
    },
    {
      "type": "inline_richtext",
      "id": "cart_countdown_text_empty",
      "label": "t:settings.cart_countdown_empty_cart",
      "default": "[icon] Please, hurry! The [product] product is being sold at a shocking promotional price. We'll keep it for you for [time] minutes.",
      "info": "You can use [icon], [product], [time] in the text. Example: [icon] Please, hurry! The [product] product is being sold at a shocking promotional price. We'll keep it for you for [time] minutes."
    },
    {
      "type": "select",
      "id": "icon",
      "label": "t:settings.icon",
      "options": [
        {
          "value": "none",
          "label": "t:options.none"
        },
        {
          "value": "security",
          "label": "t:options.security"
        },
        {
          "value": "alert",
          "label": "t:options.alert"
        },
        {
          "value": "shopping-bag",
          "label": "t:options.shopping_bag"
        },
        {
          "value": "cart",
          "label": "t:options.cart"
        },
        {
          "value": "apple",
          "label": "t:options.apple"
        },
        {
          "value": "arrow",
          "label": "t:options.arrow"
        },
        {
          "value": "banana",
          "label": "t:options.banana"
        },
        {
          "value": "bottle",
          "label": "t:options.bottle"
        },
        {
          "value": "box",
          "label": "t:options.box"
        },
        {
          "value": "carrot",
          "label": "t:options.carrot"
        },
        {
          "value": "circle",
          "label": "t:options.circle"
        },
        {
          "value": "chat_bubble",
          "label": "t:options.chat_bubble"
        },
        {
          "value": "check_mark",
          "label": "t:options.check_mark"
        },
        {
          "value": "clipboard",
          "label": "t:options.clipboard"
        },
        {
          "value": "dairy",
          "label": "t:options.dairy"
        },
        {
          "value": "dairy_free",
          "label": "t:options.dairy_free"
        },
        {
          "value": "dryer",
          "label": "t:options.dryer"
        },
        {
          "value": "eye",
          "label": "t:options.eye"  
        },
        {
          "value": "facebook",
          "label": "t:options.facebook"
        },
        {
          "value": "fire",
          "label": "t:options.fire"
        },
        {
          "value": "gluten_free",
          "label": "t:options.gluten_free"
        },
        {
          "value": "heart",
          "label": "t:options.heart"
        },
        {
          "value": "instagram",
          "label": "t:options.instagram"
        },
        {
          "value": "iron",
          "label": "t:options.iron"
        },
        {
          "value": "leaf",
          "label": "t:options.leaf"
        },
        {
          "value": "leather",
          "label": "t:options.leather"
        },
        {
          "value": "lightning_bolt",
          "label": "t:options.lightning_bolt"
        },
        {
          "value": "lipstick",
          "label": "t:options.lipstick"
        },
        {
          "value": "lock",
          "label": "t:options.lock"
        },
        {
          "value": "map_pin",
          "label": "t:options.map_pin"
        },
        {
          "value": "nut_free",
          "label": "t:options.nut_free"
        },
        {
          "value": "pants",
          "label": "t:options.pants"
        },
        {
          "value": "paw_print",
          "label": "t:options.paw_print"
        },
        {
          "value": "pepper",
          "label": "t:options.pepper"
        },
        {
          "value": "perfume",
          "label": "t:options.perfume"
        },
        {
          "value": "pinterest",
          "label": "t:options.pinterest"
        },
        {
          "value": "plane",
          "label": "t:options.plane"
        },
        {
          "value": "plant",
          "label": "t:options.plant"
        },
        {
          "value": "price_tag",
          "label": "t:options.price_tag"
        },
        {
          "value": "question_mark",
          "label": "t:options.question_mark"
        },
        {
          "value": "recycle",
          "label": "t:options.recycle"
        },
        {
          "value": "return",
          "label": "t:options.return"
        },
        {
          "value": "ruler",
          "label": "t:options.ruler"
        },
        {
          "value": "serving_dish",
          "label": "t:options.serving_dish"
        },
        {
          "value": "shirt",
          "label": "t:options.shirt"
        },
        {
          "value": "shoe",
          "label": "t:options.shoe"
        },
        {
          "value": "silhouette",
          "label": "t:options.silhouette"
        },
        {
          "value": "snapchat",
          "label": "t:options.snapchat"
        },
        {
          "value": "snowflake",
          "label": "t:options.snowflake"
        },
        {
          "value": "star",
          "label": "t:options.star"
        },
        {
          "value": "stopwatch",
          "label": "t:options.stopwatch"
        },
        {
          "value": "tiktok",
          "label": "t:options.tiktok"
        },
        {
          "value": "truck",
          "label": "t:options.truck"
        },
        {
          "value": "tumblr",
          "label": "t:options.tumblr"
        },
        {
          "value": "twitter",
          "label": "t:options.twitter"
        },
        {
          "value": "vimeo",
          "label": "t:options.vimeo"
        },
        {
          "value": "washing",
          "label": "t:options.washing"
        }
      ],
      "default": "alert"
    },
    {
      "type": "product",
      "id": "cart_countdown_product",
      "label": "t:settings.product"
    },
    {
      "type": "range",
      "id": "countdown_time",
      "label": "t:settings.countdown_time",
      "default": 30,
      "min": 1,
      "max": 60,
      "step": 1,
      "unit": "min"
    },
    {
      "type": "header",
      "content": "t:content.appearance"
    },
    {
      "type": "checkbox",
      "id": "inherit_color_scheme",
      "label": "t:settings.inherit_color_scheme",
      "default": false
    },
    {
      "type": "color",
      "id": "scheme_background",
      "label": "t:settings.background",
      "default": "#FBF8E5",
      "alpha": true,
      "visible_if": "{{ block.settings.inherit_color_scheme == false }}"
    },
    {
      "type": "color_background",
      "id": "scheme_background_gradient",
      "label": "t:settings.background_gradient",
      "info": "t:info.background_gradient_info",
      "visible_if": "{{ block.settings.inherit_color_scheme == false }}"
    },
    {
      "type": "color",
      "id": "scheme_foreground_heading",
      "label": "t:settings.headings",
      "default": "#000000",
      "alpha": true,
      "visible_if": "{{ block.settings.inherit_color_scheme == false }}"
    },
    {
      "type": "color",
      "id": "scheme_foreground",
      "label": "t:settings.text",
      "default": "#8B714A",
      "alpha": true,
      "visible_if": "{{ block.settings.inherit_color_scheme == false }}"
    },
    {
      "type": "color",
      "id": "scheme_primary",
      "label": "t:settings.primary_color",
      "default": "#000F9F",
      "alpha": true,
      "visible_if": "{{ block.settings.inherit_color_scheme == false }}"
    },
    {
      "type": "color",
      "id": "scheme_primary_hover",
      "label": "t:settings.primary_hover_color",
      "default": "#000000",
      "alpha": true,
      "visible_if": "{{ block.settings.inherit_color_scheme == false }}"
    },
    {
      "type": "header",
      "content": "t:content.margin"
    },
    {
      "type": "range",
      "id": "margin-block-start",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:settings.top",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin-block-end",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:settings.bottom",
      "default": 45
    },
    {
      "type": "range",
      "id": "margin-inline-start",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:settings.left",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin-inline-end",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:settings.right",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:content.padding"
    },
    {
      "type": "range",
      "id": "padding-block-start",
      "label": "t:settings.top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 7
    },
    {
      "type": "range",
      "id": "padding-block-end",
      "label": "t:settings.bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 14
    },
    {
      "type": "range",
      "id": "padding-inline-start",
      "label": "t:settings.left",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 10
    },
    {
      "type": "range",
      "id": "padding-inline-end",
      "label": "t:settings.right",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 10
    }
  ],
  "presets": [
    {
      "name": "t:names.cart_countdown"
    }
  ]
}
{% endschema %}
