{% liquid
  assign bl_stts = block.settings

  capture text_block_classes
    if bl_stts.type_preset == 'custom'
      echo ' custom-typography '
      if bl_stts.font_size != ''
        echo ' custom-font-size '
      endif
      if bl_stts.color != ''
        echo ' custom-color '
      endif
    endif
  endcapture

  assign product_swatch_option = settings.swatch | downcase
  assign is_color = false
  for option in product.options_with_values
    assign option_name = option.name | downcase
    if product_swatch_option contains option_name
      assign is_color = true
      if option.values.size > 1
        assign show_compare_color = true
      endif
    endif
  endfor
%}

{%- if show_compare_color and is_color -%}
  <side-drawer-opener
    class="popup color-comparison product-popup-modal__opener--keep"
    {{ block.shopify_attributes }}
    data-side-drawer="#PopupModal-{{ block.id }}"
  >
    <button
      id="PopupModalButton-{{ block.id }}"
      class="button button-unstyled popup__button spacing-style"
      type="button"
      style="
        {% render 'spacing-style', settings: bl_stts %}
      "
    >
      {{- 'icon-color-comparison.svg' | inline_asset_content -}}
      <span
        class="{{ bl_stts.type_preset }} {{ text_block_classes }}" style="{% render 'typography-style', settings: bl_stts %}"
      >
        {{- bl_stts.heading }}
      </span>
    </button>
  </side-drawer-opener>

  <side-drawer
    class="popup__content product-popup-modal__drawer--keep drawer fixed top-0 left-0 z-10 w-screen h-full flex-center no-js-hidden"
    element-s-popup
    id="PopupModal-{{ block.id }}"
    data-drawer-direction="center"
  >
    <div id="Drawer-Overlay-{{ block.id }}" class="drawer__overlay fixed inset-0 cursor-pointer"></div>
    <div
      class="popup__inner color-{{ settings.popover_color_scheme }} w-full h-auto flex flex-column global-settings-popup"
      role="dialog"
      aria-modal="true"
      aria-label="Color comparison"
      tabindex="-1"
      style="--modal-max-width: 97rem;"
      data-drawer-content
    >
      <button
        onclick="this.closest('side-drawer').close()"
        class="drawer__close block t-button bor-none rounded-full cursor-pointer absolute button-close-circle"
        type="button"
        aria-label="{{ 'accessibility.close_dialog' | t }}"
        style="--top: 1rem; --right: 1rem;"
      >
        {{- 'icon-close.svg' | inline_asset_content -}}
      </button>
      <compare-color
        class="popup__inner--content block relative w-full h-full overflow-auto cus-scrollbar"
        data-url-script-compare-color="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"
      >
        {% content_for 'block', type: 'text', id: 'heading' %}
        {% content_for 'block', type: '_color-comparison-content', id: 'color-comparison-content' %}
        {% content_for 'block', type: 'text', id: 'compare-colors-text' %}
        {% content_for 'blocks' %}
      </compare-color>
    </div>
  </side-drawer>
{%- endif -%}

{% schema %}
{
  "name": "t:names.product_color_comparison",
  "blocks": [
    {
      "type": "@theme"
    },
    {
      "type": "@app"
    }
  ],
  "tag": null,
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "t:settings.text",
      "default": "Color comparison"
    },
    {
      "type": "select",
      "id": "type_preset",
      "label": "t:settings.preset",
      "options": [
        {
          "value": "",
          "label": "t:options.default"
        },
        {
          "value": "paragraph",
          "label": "t:options.paragraph"
        },
        {
          "value": "h1",
          "label": "t:options.h1"
        },
        {
          "value": "h2",
          "label": "t:options.h2"
        },
        {
          "value": "h3",
          "label": "t:options.h3"
        },
        {
          "value": "h4",
          "label": "t:options.h4"
        },
        {
          "value": "h5",
          "label": "t:options.h5"
        },
        {
          "value": "h6",
          "label": "t:options.h6"
        },
        {
          "value": "custom",
          "label": "t:options.custom"
        }
      ],
      "default": "",
      "info": "t:info.edit_presets_in_theme_settings"
    },
    {
      "type": "select",
      "id": "font",
      "label": "t:settings.font",
      "options": [
        {
          "value": "var(--font-body--family)",
          "label": "t:options.body"
        },
        {
          "value": "var(--font-subheading--family)",
          "label": "t:options.subheading"
        },
        {
          "value": "var(--font-heading--family)",
          "label": "t:options.heading"
        }
      ],
      "default": "var(--font-body--family)",
      "visible_if": "{{ block.settings.type_preset == 'custom' }}"
    },
    {
      "type": "select",
      "id": "font_size",
      "label": "t:settings.size",
      "options": [
        {
          "value": "",
          "label": "t:options.default"
        },
        {
          "value": "1.0rem",
          "label": "10px"
        },
        {
          "value": "1.2rem",
          "label": "12px"
        },
        {
          "value": "1.4rem",
          "label": "14px"
        },
        {
          "value": "1.6rem",
          "label": "16px"
        },
        {
          "value": "1.8rem",
          "label": "18px"
        },
        {
          "value": "2.0rem",
          "label": "20px"
        },
        {
          "value": "2.2rem",
          "label": "22px"
        },
        {
          "value": "2.4rem",
          "label": "24px"
        },
        {
          "value": "2.6rem",
          "label": "26px"
        },
        {
          "value": "2.8rem",
          "label": "28px"
        },
        {
          "value": "3.0rem",
          "label": "30px"
        },
        {
          "value": "3.2rem",
          "label": "32px"
        },
        {
          "value": "3.4rem",
          "label": "34px"
        },
        {
          "value": "3.6rem",
          "label": "36px"
        },
        {
          "value": "4.0rem",
          "label": "40px"
        },
        {
          "value": "5.0rem",
          "label": "50px"
        },
        {
          "value": "6.0rem",
          "label": "60px"
        },
        {
          "value": "7.0rem",
          "label": "70px"
        },
        {
          "value": "8.0rem",
          "label": "80px"
        },
        {
          "value": "9.0rem",
          "label": "90px"
        },
        {
          "value": "10.0rem",
          "label": "100px"
        },
        {
          "value": "12.0rem",
          "label": "120px"
        }
      ],
      "default": "1.6rem",
      "visible_if": "{{ block.settings.type_preset == 'custom' }}"
    },
    {
      "type": "select",
      "id": "line_height",
      "label": "t:settings.line_height",
      "options": [
        {
          "value": "tight",
          "label": "t:options.tight"
        },
        {
          "value": "normal",
          "label": "t:options.normal"
        },
        {
          "value": "loose",
          "label": "t:options.loose"
        }
      ],
      "default": "normal",
      "visible_if": "{{ block.settings.type_preset == 'custom' }}"
    },
    {
      "type": "select",
      "id": "letter_spacing",
      "label": "t:settings.letter_spacing",
      "options": [
        {
          "value": "tight",
          "label": "t:options.tight"
        },
        {
          "value": "normal",
          "label": "t:options.normal"
        },
        {
          "value": "loose",
          "label": "t:options.loose"
        }
      ],
      "default": "normal",
      "visible_if": "{{ block.settings.type_preset == 'custom' }}"
    },
    {
      "type": "select",
      "id": "case",
      "label": "t:settings.case",
      "options": [
        {
          "value": "none",
          "label": "t:options.default"
        },
        {
          "value": "uppercase",
          "label": "t:options.uppercase"
        },
        {
          "value": "capitalize",
          "label": "t:options.capitalize"
        }
      ],
      "default": "none",
      "visible_if": "{{ block.settings.type_preset == 'custom' }}"
    },
    {
      "type": "select",
      "id": "wrap",
      "label": "t:settings.wrap",
      "options": [
        {
          "value": "pretty",
          "label": "t:options.pretty"
        },
        {
          "value": "balance",
          "label": "t:options.balance"
        },
        {
          "value": "nowrap",
          "label": "t:options.none"
        }
      ],
      "visible_if": "{{ block.settings.type_preset == 'custom' }}"
    },
    {
      "type": "select",
      "id": "color",
      "label": "t:settings.color",
      "options": [
        {
          "value": "var(--color-foreground)",
          "label": "t:options.text"
        },
        {
          "value": "var(--color-foreground-heading)",
          "label": "t:options.heading"
        },
        {
          "value": "var(--color-primary)",
          "label": "t:options.link"
        }
      ],
      "default": "var(--color-foreground)",
      "visible_if": "{{ block.settings.type_preset != 'rte' }}"
    },
    {
      "type": "header",
      "content": "t:content.padding"
    },
    {
      "type": "range",
      "id": "padding-block-start",
      "label": "t:settings.top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-block-end",
      "label": "t:settings.bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-inline-start",
      "label": "t:settings.left",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-inline-end",
      "label": "t:settings.right",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    }
  ],
  "presets": [
    {
      "name": "t:names.product_color_comparison",
      "category": "t:categories.product",
      "settings": {
        "heading": "Color comparison",
        "type_preset": "custom",
        "font": "var(--font-body--family)",
        "font_size": "1.4rem",
        "line_height": "normal",
        "letter_spacing": "normal",
        "case": "none",
        "wrap": "pretty",
        "color": "var(--color-foreground)",
        "padding-block-start": 0,
        "padding-block-end": 0,
        "padding-inline-start": 0,
        "padding-inline-end": 0
      },
      "blocks": {
        "heading": {
          "type": "text",
          "static": true,
          "settings": {
            "text": "<h5>Compare color</h5>",
            "typing_text": false,
            "primary_text": "Welcome to our store!",
            "secondary_text": "Exclusive offers just for you.",
            "third_text": "Shop now and enjoy deals!",
            "highlight_text": false,
            "highlight_text_content": "",
            "highlight_text_type": "text",
            "underline_height": 18,
            "underline_offset": 20,
            "highlight_text_color": "#000000",
            "highlight_underline_color": "#000000",
            "spacing_text": false,
            "spacing_text_content": "",
            "spacing_text_left": 0,
            "spacing_text_right": 0,
            "stroke_text": false,
            "stroke_text_content": "",
            "width": "fit-content",
            "unit": "percent",
            "custom_width": 100,
            "custom_width_pixel": 500,
            "inherit_text_alignment": true,
            "justify_alignment": false,
            "alignment": "left",
            "width_tablet": "fit-content",
            "unit_tablet": "percent",
            "custom_width_tablet": 100,
            "custom_width_tablet_pixel": 100,
            "inherit_text_alignment_tablet": true,
            "justify_alignment_tablet": false,
            "alignment_tablet": "left",
            "width_mobile": "fit-content",
            "unit_mobile": "percent",
            "custom_width_mobile": 100,
            "custom_width_mobile_pixel": 100,
            "inherit_text_alignment_mobile": true,
            "justify_alignment_mobile": false,
            "alignment_mobile": "left",
            "type_preset": "rte",
            "font": "var(--font-body--family)",
            "font_size": "1.6rem",
            "line_height": "normal",
            "letter_spacing": "normal",
            "case": "none",
            "wrap": "pretty",
            "color": "var(--color-foreground)",
            "background": false,
            "background_color": "#00000026",
            "enable_border": false,
            "enable_border_bottom": false,
            "border": "none",
            "border_width": 0,
            "border_width_type": "100%",
            "border_custom_width": 100,
            "border_radius": 0,
            "text_effect": "none",
            "animation_repeat": false,
            "padding-block-start": 0,
            "padding-block-end": 10,
            "padding-inline-start": 0,
            "padding-inline-end": 0
          },
          "blocks": {}
        },
        "color-comparison-content": {
          "type": "_color-comparison-content",
          "static": true,
          "settings": {
            "padding-block-start": 0,
            "padding-block-end": 0,
            "padding-inline-start": 0,
            "padding-inline-end": 0
          },
          "blocks": {}
        },
        "compare-colors-text": {
          "type": "text",
          "static": true,
          "settings": {
            "text": "<p><em>Click on color/pattern to compare, click and drag images to reorder</em></p>",
            "typing_text": false,
            "primary_text": "Welcome to our store!",
            "secondary_text": "Exclusive offers just for you.",
            "third_text": "Shop now and enjoy deals!",
            "highlight_text": false,
            "highlight_text_content": "",
            "highlight_text_type": "text",
            "underline_height": 18,
            "underline_offset": 20,
            "highlight_text_color": "#000000",
            "highlight_underline_color": "#000000",
            "spacing_text": false,
            "spacing_text_content": "",
            "spacing_text_left": 0,
            "spacing_text_right": 0,
            "stroke_text": false,
            "stroke_text_content": "",
            "width": "100%",
            "unit": "percent",
            "custom_width": 100,
            "custom_width_pixel": 500,
            "inherit_text_alignment": false,
            "justify_alignment": false,
            "alignment": "center",
            "width_tablet": "100%",
            "unit_tablet": "percent",
            "custom_width_tablet": 100,
            "custom_width_tablet_pixel": 100,
            "inherit_text_alignment_tablet": false,
            "justify_alignment_tablet": false,
            "alignment_tablet": "center",
            "width_mobile": "100%",
            "unit_mobile": "percent",
            "custom_width_mobile": 100,
            "custom_width_mobile_pixel": 100,
            "inherit_text_alignment_mobile": false,
            "justify_alignment_mobile": false,
            "alignment_mobile": "center",
            "type_preset": "rte",
            "font": "var(--font-body--family)",
            "font_size": "1.6rem",
            "line_height": "normal",
            "letter_spacing": "normal",
            "case": "none",
            "wrap": "pretty",
            "color": "var(--color-foreground)",
            "background": false,
            "background_color": "#00000026",
            "enable_border": false,
            "enable_border_bottom": false,
            "border": "none",
            "border_width": 0,
            "border_width_type": "100%",
            "border_custom_width": 100,
            "border_radius": 0,
            "text_effect": "none",
            "animation_repeat": false,
            "padding-block-start": 30,
            "padding-block-end": 0,
            "padding-inline-start": 0,
            "padding-inline-end": 0
          },
          "blocks": {}
        }
      },
      "block_order": []
    }
  ]
}
{% endschema %}
