{% capture text %}
  {%- liquid
    assign delivery_time_icon = block.settings.delivery_time_icon
    assign text = block.settings.text
    assign hr = block.settings.hr
    assign min = block.settings.min
    assign frm_day = block.settings.frm_day
    assign exclude_day = block.settings.exclude_day
    assign d_start = block.settings.d_start
    assign d_end = block.settings.d_end
    assign time = block.settings.time
  -%}
  <delivery-time class="productView-dlvr d-none"
    data-delivery-time
    data-frm-day="{{frm_day}}"
    data-exclude-day="{{exclude_day}}"
    data-estimate-start="{{d_start}}"
    data-estimate-end="{{d_end}}"
    data-time="{{time}}"
  >
    <span class="productView-dlvr__text">
      {%- capture remainHTML -%}
        <span data-hour-delivery class="productView-dlvr__remaining">
          <span class="productView-dlvr__remaining-hr"></span> {{hr}} <span class="productView-dlvr__remaining-mins"></span> {{min}}
        </span>
      {%- endcapture -%}
      {{ text
        | replace:'[hour]',remainHTML
        | replace:'[date_start]','<span data-start-delivery class="productView-dlvr__date-start txt-d-underline"></span>'
        | replace:'[date_end]','<span data-end-delivery class="productView-dlvr__date-end txt-d-underline"></b>'
      }}
    </span>
  </delivery-time>
{% endcapture %}

{% render 'text', text: text, block: block %}

<script src="{{ "delivery-time.js" | asset_url }}" defer="defer"></script>

{% schema %}
{
  "name": "t:names.delivery_time",
  "tag": null,
  "settings": [
    {
      "type": "richtext",
      "id": "text",
      "label": "t:settings.delivery_time_text",
      "default": "<p>Order within the next [hour] to receive it. Estimated delivery is between [date_start] and [date_end]</p>",
      "info": "t:info.delivery_time_text_info"
    },
    {
      "type": "range",
      "id": "d_start",
      "min": 0,
      "max": 99,
      "step": 1,
      "label": "t:settings.date_start",
      "default": 10
    },
    {
      "type": "range",
      "id": "d_end",
      "min": 0,
      "max": 99,
      "step": 1,
      "label": "t:settings.date_end",
      "default": 15
    },
    {
      "type": "text",
      "id": "exclude_day",
      "label": "t:settings.exclude_days",
      "default": "SAT,SUN",
      "info": "t:info.exclude_day_info"
    },
    {
      "type": "select",
      "id": "frm_day",
      "default": "d, DD MMM",
      "options": [
        {
          "value": "d, DDth MMM",
          "label": "Friday, 12th May"
        },
        {
          "value": "d, DD MMM",
          "label": "Friday, 12 May"
        },
        {
          "value": "d, DDth MMM YYYY",
          "label": "Friday, 12th May 2024"
        },
        {
          "value": "d, DDth MMM, YYYY",
          "label": "Friday, 12th May, 2024"
        },
        {
          "value": "d, MMM DDth, YYYY",
          "label": "Friday, May 12th, 2024"
        },
        {
          "value": "d, MMM DDth",
          "label": "Friday, May 12th"
        },
        {
          "value": "d, MMM DDth YYYY",
          "label": "Friday, May 12th 2024"
        },
        {
          "value": "d, MMM DD",
          "label": "Friday, May 12"
        },
        {
          "value": "d, MMM DD YYYY",
          "label": "Friday, May 12 2024"
        },
        {
          "value": "d, MM/DD/YYYY",
          "label": "Friday, 05/12/2024"
        },
        {
          "value": "d, DD/M/YYYY",
          "label": "Friday, 12/05/2024"
        },
        {
          "value": "d, YYYY/MM/DD",
          "label": "Friday, 2024/05/12"
        }
      ],
      "label": "t:settings.day_format"
    },
    {
      "type": "text",
      "id": "time",
      "label": "t:settings.cut_off_time",
      "info": "t:info.time_info",
      "default": "16:00:00"
    },
    {
      "type": "text",
      "id": "hr",
      "label": "t:settings.hr",
      "default": "hours"
    },
    {
      "type": "text",
      "id": "min",
      "label": "t:settings.min",
      "default": "minutes"
    },
    {
      "type": "header",
      "content": "t:content.special_text"
    },
    {
      "type": "checkbox",
      "id": "highlight_text",
      "label": "t:settings.highlight",
      "default": false
    },
    {
      "type": "text",
      "id": "highlight_text_content",
      "label": "t:settings.select_highlight_content",
      "visible_if": "{{ block.settings.highlight_text == true }}",
      "info": "t:info.highlight_text_content"
    },
    {
      "type": "color",
      "id": "highlight_text_color",
      "label": "t:settings.highlight_color",
      "default": "#000000",
      "visible_if": "{{ block.settings.highlight_text == true }}"
    },
    {
      "type": "checkbox",
      "id": "spacing_text",
      "label": "t:settings.spacing_text",
      "default": false
    },
    {
      "type": "text",
      "id": "spacing_text_content",
      "label": "t:settings.select_spacing_content",
      "visible_if": "{{ block.settings.spacing_text == true }}",
      "info": "t:info.spacing_text_content"
    },
    {
      "type": "range",
      "id": "spacing_text_left",
      "min": 0,
      "max": 20,
      "step": 0.5,
      "label": "t:settings.spacing_left",
      "default": 0,
      "visible_if": "{{ block.settings.spacing_text == true }}"
    },
    {
      "type": "range",
      "id": "spacing_text_right",
      "min": 0,
      "max": 20,
      "step": 0.5,
      "label": "t:settings.spacing_right",
      "default": 0,
      "visible_if": "{{ block.settings.spacing_text == true }}"
    },
    {
      "type": "checkbox",
      "id": "stroke_text",
      "label": "t:settings.stroke",
      "default": false
    },
    {
      "type": "text",
      "id": "stroke_text_content",
      "label": "t:settings.select_stroke_content",
      "visible_if": "{{ block.settings.stroke_text == true }}"
    },
    {
      "type": "header",
      "content": "t:content.layout"
    },
    {
      "type": "select",
      "id": "width",
      "label": "t:settings.width",
      "options": [
        {
          "value": "fit-content",
          "label": "t:options.fit"
        },
        {
          "value": "100%",
          "label": "t:options.fill"
        },
        {
          "value": "custom",
          "label": "t:options.custom"
        }
      ],
      "default": "fit-content"
    },
    {
      "type": "select",
      "id": "unit",
      "label": "t:settings.unit",
      "visible_if": "{{ block.settings.width == 'custom' }}",
      "options": [
        {
          "value": "pixel",
          "label": "t:options.pixel"
        },
        {
          "value": "percent",
          "label": "t:options.percent"
        }
      ],
      "default": "percent"
    },
    {
      "type": "range",
      "id": "custom_width",
      "label": "t:settings.custom_width",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 100,
      "visible_if": "{{ block.settings.width == 'custom' and block.settings.unit == 'percent' }}"
    },
    {
      "type": "range",
      "id": "custom_width_pixel",
      "label": "t:settings.custom_width",
      "min": 500,
      "max": 2000,
      "step": 20,
      "unit": "px",
      "default": 500,
      "visible_if": "{{ block.settings.width == 'custom' and block.settings.unit == 'pixel' }}"
    },
    {
      "type": "checkbox",
      "id": "inherit_text_alignment",
      "label": "t:settings.inherit_text_alignment",
      "default": true,
      "visible_if": "{{ block.settings.width == 'custom' or block.settings.width == '100%' }}"
    },
    {
      "type": "select",
      "id": "alignment",
      "label": "t:settings.alignment",
      "options": [
        {
          "value": "left",
          "label": "t:options.left"
        },
        {
          "value": "center",
          "label": "t:options.center"
        },
        {
          "value": "right",
          "label": "t:options.right"
        }
      ],
      "default": "left",
      "visible_if": "{{ block.settings.inherit_text_alignment == false and block.settings.width == 'custom' or block.settings.width == '100%' }}"
    },
    {
      "type": "select",
      "id": "width_tablet",
      "label": "t:settings.width_tablet",
      "options": [
        {
          "value": "fit-content",
          "label": "t:options.fit"
        },
        {
          "value": "100%",
          "label": "t:options.fill"
        },
        {
          "value": "custom",
          "label": "t:options.custom"
        }
      ],
      "default": "fit-content"
    },
    {
      "type": "select",
      "id": "unit_tablet",
      "label": "t:settings.unit",
      "visible_if": "{{ block.settings.width_tablet == 'custom' }}",
      "options": [
        {
          "value": "pixel",
          "label": "t:options.pixel"
        },
        {
          "value": "percent",
          "label": "t:options.percent"
        }
      ],
      "default": "percent"
    },
    {
      "type": "range",
      "id": "custom_width_tablet",
      "label": "t:settings.custom_width",
      "min": 1,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 100,
      "visible_if": "{{ block.settings.width_tablet == 'custom' and block.settings.unit_tablet == 'percent' }}"
    },
    {
      "type": "range",
      "id": "custom_width_tablet_pixel",
      "label": "t:settings.custom_width",
      "min": 100,
      "max": 1000,
      "step": 10,
      "unit": "px",
      "default": 100,
      "visible_if": "{{ block.settings.width_tablet == 'custom' and block.settings.unit_tablet == 'pixel' }}"
    },
    {
      "type": "checkbox",
      "id": "inherit_text_alignment_tablet",
      "label": "t:settings.inherit_text_alignment",
      "default": true,
      "visible_if": "{{ block.settings.width_tablet == 'custom' or block.settings.width_tablet == '100%' }}"
    },
    {
      "type": "select",
      "id": "alignment_tablet",
      "label": "t:settings.alignment",
      "options": [
        {
          "value": "left",
          "label": "t:options.left"
        },
        {
          "value": "center",
          "label": "t:options.center"
        },
        {
          "value": "right",
          "label": "t:options.right"
        }
      ],
      "default": "left",
      "visible_if": "{{ block.settings.inherit_text_alignment_tablet == false and block.settings.width_tablet == 'custom' or block.settings.width_tablet == '100%' }}"
    },
    {
      "type": "select",
      "id": "width_mobile",
      "label": "t:settings.width_mobile",
      "options": [
        {
          "value": "fit-content",
          "label": "t:options.fit"
        },
        {
          "value": "100%",
          "label": "t:options.fill"
        },
        {
          "value": "custom",
          "label": "t:options.custom"
        }
      ],
      "default": "fit-content"
    },
    {
      "type": "select",
      "id": "unit_mobile",
      "label": "t:settings.unit",
      "visible_if": "{{ block.settings.width_mobile == 'custom' }}",
      "options": [
        {
          "value": "pixel",
          "label": "t:options.pixel"
        },
        {
          "value": "percent",
          "label": "t:options.percent"
        }
      ],
      "default": "percent"
    },
    {
      "type": "range",
      "id": "custom_width_mobile",
      "label": "t:settings.custom_width",
      "min": 1,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 100,
      "visible_if": "{{ block.settings.width_mobile == 'custom' and block.settings.unit_mobile == 'percent' }}"
    },
    {
      "type": "range",
      "id": "custom_width_mobile_pixel",
      "label": "t:settings.custom_width",
      "min": 100,
      "max": 500,
      "step": 10,
      "unit": "px",
      "default": 100,
      "visible_if": "{{ block.settings.width_mobile == 'custom' and block.settings.unit_mobile == 'pixel' }}"
    },
    {
      "type": "checkbox",
      "id": "inherit_text_alignment_mobile",
      "label": "t:settings.inherit_text_alignment",
      "default": true,
      "visible_if": "{{ block.settings.width_mobile == 'custom' or block.settings.width_mobile == '100%' }}"
    },
    {
      "type": "select",
      "id": "alignment_mobile",
      "label": "t:settings.alignment",
      "options": [
        {
          "value": "left",
          "label": "t:options.left"
        },
        {
          "value": "center",
          "label": "t:options.center"
        },
        {
          "value": "right",
          "label": "t:options.right"
        }
      ],
      "default": "left",
      "visible_if": "{{ block.settings.inherit_text_alignment_mobile == false and block.settings.width_mobile == 'custom' or block.settings.width_mobile == '100%' }}"
    },
    {
      "type": "header",
      "content": "t:content.typography"
    },
    {
      "type": "select",
      "id": "type_preset",
      "label": "t:settings.preset",
      "options": [
        {
          "value": "rte",
          "label": "t:options.default"
        },
        {
          "value": "paragraph",
          "label": "t:options.paragraph"
        },
        {
          "value": "h1",
          "label": "t:options.h1"
        },
        {
          "value": "h2",
          "label": "t:options.h2"
        },
        {
          "value": "h3",
          "label": "t:options.h3"
        },
        {
          "value": "h4",
          "label": "t:options.h4"
        },
        {
          "value": "h5",
          "label": "t:options.h5"
        },
        {
          "value": "h6",
          "label": "t:options.h6"
        },
        {
          "value": "custom",
          "label": "t:options.custom"
        }
      ],
      "default": "rte",
      "info": "t:info.edit_presets_in_theme_settings"
    },
    {
      "type": "select",
      "id": "font",
      "label": "t:settings.font",
      "options": [
        {
          "value": "var(--font-body--family)",
          "label": "t:options.body"
        },
        {
          "value": "var(--font-subheading--family)",
          "label": "t:options.subheading"
        },
        {
          "value": "var(--font-heading--family)",
          "label": "t:options.heading"
        }
      ],
      "default": "var(--font-body--family)",
      "visible_if": "{{ block.settings.type_preset == 'custom' }}"
    },
    {
      "type": "select",
      "id": "font_size",
      "label": "t:settings.size",
      "options": [
        {
          "value": "",
          "label": "t:options.default"
        },
        {
          "value": "1.0rem",
          "label": "10px"
        },
        {
          "value": "1.2rem",
          "label": "12px"
        },
        {
          "value": "1.4rem",
          "label": "14px"
        },
        {
          "value": "1.6rem",
          "label": "16px"
        },
        {
          "value": "1.8rem",
          "label": "18px"
        },
        {
          "value": "2.0rem",
          "label": "20px"
        },
        {
          "value": "2.2rem",
          "label": "22px"
        },
        {
          "value": "2.4rem",
          "label": "24px"
        },
        {
          "value": "2.6rem",
          "label": "26px"
        },
        {
          "value": "2.8rem",
          "label": "28px"
        },
        {
          "value": "3.0rem",
          "label": "30px"
        },
        {
          "value": "3.2rem",
          "label": "32px"
        },
        {
          "value": "3.4rem",
          "label": "34px"
        },
        {
          "value": "3.6rem",
          "label": "36px"
        },
        {
          "value": "4.0rem",
          "label": "40px"
        },
        {
          "value": "5.0rem",
          "label": "50px"
        },
        {
          "value": "6.0rem",
          "label": "60px"
        },
        {
          "value": "7.0rem",
          "label": "70px"
        },
        {
          "value": "8.0rem",
          "label": "80px"
        },
        {
          "value": "9.0rem",
          "label": "90px"
        },
        {
          "value": "10.0rem",
          "label": "100px"
        },
        {
          "value": "12.0rem",
          "label": "120px"
        }
      ],
      "default": "1.6rem",
      "visible_if": "{{ block.settings.type_preset == 'custom' }}"
    },
    {
      "type": "select",
      "id": "line_height",
      "label": "t:settings.line_height",
      "options": [
        {
          "value": "tight",
          "label": "t:options.tight"
        },
        {
          "value": "normal",
          "label": "t:options.normal"
        },
        {
          "value": "loose",
          "label": "t:options.loose"
        }
      ],
      "default": "normal",
      "visible_if": "{{ block.settings.type_preset == 'custom' }}"
    },
    {
      "type": "select",
      "id": "letter_spacing",
      "label": "t:settings.letter_spacing",
      "options": [
        {
          "value": "tight",
          "label": "t:options.tight"
        },
        {
          "value": "normal",
          "label": "t:options.normal"
        },
        {
          "value": "loose",
          "label": "t:options.loose"
        }
      ],
      "default": "normal",
      "visible_if": "{{ block.settings.type_preset == 'custom' }}"
    },
    {
      "type": "select",
      "id": "case",
      "label": "t:settings.case",
      "options": [
        {
          "value": "none",
          "label": "t:options.default"
        },
        {
          "value": "uppercase",
          "label": "t:options.uppercase"
        },
        {
          "value": "capitalize",
          "label": "t:options.capitalize"
        }
      ],
      "default": "none",
      "visible_if": "{{ block.settings.type_preset == 'custom' }}"
    },
    {
      "type": "select",
      "id": "wrap",
      "label": "t:settings.wrap",
      "options": [
        {
          "value": "pretty",
          "label": "t:options.pretty"
        },
        {
          "value": "balance",
          "label": "t:options.balance"
        },
        {
          "value": "nowrap",
          "label": "t:options.none"
        }
      ],
      "visible_if": "{{ block.settings.type_preset == 'custom' }}"
    },
    {
      "type": "select",
      "id": "color",
      "label": "t:settings.color",
      "options": [
        {
          "value": "var(--color-foreground)",
          "label": "t:options.text"
        },
        {
          "value": "var(--color-foreground-heading)",
          "label": "t:options.heading"
        },
        {
          "value": "var(--color-primary)",
          "label": "t:options.link"
        }
      ],
      "default": "var(--color-foreground)",
      "visible_if": "{{ block.settings.type_preset != 'rte' }}"
    },
    {
      "type": "header",
      "content": "t:content.appearance"
    },
    {
      "type": "checkbox",
      "id": "background",
      "label": "t:settings.background",
      "default": false
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "t:settings.background_color",
      "alpha": true,
      "default": "#00000026",
      "visible_if": "{{ block.settings.background }}"
    },
    {
      "type": "range",
      "id": "corner_radius",
      "label": "t:settings.corner_radius",
      "default": 0,
      "min": 0,
      "max": 50,
      "step": 1,
      "visible_if": "{{ block.settings.background }}"
    },
    {
      "type": "header",
      "content": "t:settings.border"
    },
    {
      "type": "checkbox",
      "id": "enable_border",
      "label": "t:settings.enable_border",
      "default": false,
      "visible_if": "{{ block.settings.enable_border_bottom == false }}"
    },
    {
      "type": "checkbox",
      "id": "enable_border_bottom",
      "label": "t:settings.enable_border_bottom",
      "default": false,
      "visible_if": "{{ block.settings.enable_border == false }}"
    },
    {
      "type": "select",
      "id": "border",
      "label": "t:settings.borders",
      "visible_if": "{{  block.settings.enable_border_bottom == true or block.settings.enable_border == true }}",
      "options": [
        {
          "value": "none",
          "label": "t:options.none"
        },
        {
          "value": "solid",
          "label": "t:options.solid"
        }
      ],
      "default": "none"
    },
    {
      "type": "range",
      "id": "border_width",
      "min": 0,
      "max": 10,
      "step": 1,
      "unit": "px",
      "label": "t:settings.thickness",
      "default": 0,
      "visible_if": "{{ block.settings.enable_border_bottom == true or block.settings.enable_border == true }}"
    },
    {
      "type": "select",
      "id": "border_width_type",
      "label": "t:settings.width",
      "options": [
        {
          "value": "100%",
          "label": "t:options.fill"
        },
        {
          "value": "custom",
          "label": "t:options.custom"
        }
      ],
      "default": "100%",
      "visible_if": "{{ block.settings.enable_border_bottom == true }}"
    },
    {
      "type": "range",
      "id": "border_custom_width",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "t:settings.custom_width",
      "default": 100,
      "visible_if": "{{ block.settings.border_width_type == 'custom' }}"
    },
    {
      "type": "range",
      "id": "border_radius",
      "label": "t:settings.border_radius",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0,
      "visible_if": "{{ block.settings.enable_border == true }}"
    },
    {
      "type": "header",
      "content": "t:content.animation"
    },
    {
      "type": "select",
      "id": "text_effect",
      "label": "t:settings.effects",
      "options": [
        {
          "value": "none",
          "label": "t:options.none"
        },
        {
          "value": "blur",
          "label": "t:options.blur"
        },
        {
          "value": "reveal",
          "label": "t:options.reveal"
        }
      ],
      "default": "none"
    },
    {
      "type": "checkbox",
      "id": "animation_repeat",
      "label": "t:settings.animation_repeat",
      "default": false,
      "visible_if": "{{ block.settings.text_effect == 'blur' or block.settings.text_effect == 'reveal' }}"
    },
    {
      "type": "header",
      "content": "t:content.padding"
    },
    {
      "type": "range",
      "id": "padding-block-start",
      "label": "t:settings.top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-block-end",
      "label": "t:settings.bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-inline-start",
      "label": "t:settings.left",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-inline-end",
      "label": "t:settings.right",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    }
  ]
}
{% endschema %}
