{%- liquid
  assign mobile_columns = block.settings.mobile_columns_grid
  if block.settings.layout_type == 'carousel' or block.settings.carousel_on_mobile
    assign mobile_columns = block.settings.mobile_columns_carousel
  endif
  assign mobile_columns_int = mobile_columns | plus: 0
  assign show_mobile_slider = false
  if block.settings.carousel_on_mobile and block.blocks.size > mobile_columns_int
    assign show_mobile_slider = true
  endif

  assign columns_desktop = block.settings.columns_grid
  if block.settings.layout_type == 'carousel'
      assign columns_desktop = block.settings.columns_carousel
  endif
  assign columns_tablet = 2
  if columns_desktop == 1
    assign columns_tablet = 1
  elsif columns_desktop >= 4
    assign columns_tablet = 3
  endif

  assign enable_navigation = false
  if block.settings.navigation == 'arrows-pagination' or block.settings.navigation == 'arrows'
    assign enable_navigation = true
  endif

  assign enable_pagination = false
  if block.settings.navigation == 'pagination' or block.settings.navigation == 'arrows-pagination'
    assign enable_pagination = true
  endif
-%}

{% capture list_items %}
  {% for child_block in block.blocks %}
    <li id="Slide-{{ child_block.id }}-{{ forloop.index }}" class="grid__item{% if show_mobile_slider or block.settings.layout_type == 'carousel' %} swiper-slide{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
      {% if settings.animations_reveal_on_scroll %} style="--animation-order: {{ forloop.index }};"{% endif %}
    >
      {% render child_block %}
    </li>

    {% unless forloop.last %}
      <!--@list/split-->
    {% endunless %}
  {% endfor %}
{% endcapture %}

<div
  class="
    media-gallery-list group-block relative
    group-block--height-{{ block.settings.height }}
    group-block--width-fill
    spacing-style
    size-style
    {% if block.settings.inherit_color_scheme == false %}color-scheme-custom{% endif %}
    layout-panel-flex
    layout-panel-flex--column
  "

  {% if request.visual_preview_mode %}
    data-shopify-visual-preview
  {% endif %}

  style="
    {% render 'layout-panel-style', settings: block.settings %}
    {% render 'spacing-style', settings: block.settings %}
    {% render 'size-style', settings: block.settings %}
    {% if block.settings.inherit_color_scheme == false %}
      {% render 'color-scheme-style', settings: block.settings %}
    {% endif %}
    --size-style-width: 100%;
  "
  data-testid="media-gallery-content"
  {{ block.shopify_attributes }}
>
  <div class="group-block__media-wrapper{% if block.settings.background_image == blank %} media--empty{% endif %}{% if block.settings.background_media == 'none' %} none{% endif %}">
    {% render 'background-media',
      background_media: block.settings.background_media,
      background_video: block.settings.video,
      background_video_position: block.settings.video_position,
      background_image: block.settings.background_image,
      background_image_position: block.settings.background_image_position,
      placeholder: block.settings.placeholder
    %}
  </div>
  {% if block.settings.toggle_overlay %}
    {% render 'overlay', settings: block.settings, layer: '0' %}
  {% endif %}

  {% case block.settings.layout_type %}
    {% when 'grid' %}
      <div class="collection--grid-layout w-full block" style="--grid-desktop-horizontal-spacing: {{ block.settings.gap }}px; --grid-desktop-vertical-spacing: {{ block.settings.gap }}px;">
        {%- if show_mobile_slider -%}
          <swiper-component
            class="swiper-component-mobile"
            data-swiper-mobile
            {%- render 'swiper-data',
              settings: block.settings,
              loop: false,
              slides_per_view: mobile_columns,
              space_between: block.settings.gap
            -%}
            style="
              {% render 'swiper-style',
                columns_mobile: mobile_columns,
                columns_tablet: columns_tablet,
                columns_desktop: columns_desktop,
                columns_gap: block.settings.gap,
              %}
            "
          >
            <div class="swiper">
        {%- endif -%}
        <ul
          id="Grid-{{ block.id }}"
          data-id="{{ block.id }}"
          class="grid grid-layout instagram-grid list-unstyled{% if show_mobile_slider %} swiper-wrapper md:grid{% endif %} lg:grid-layout--{{ columns_desktop }} md:grid-layout--{{ columns_tablet }} max-sm:grid-layout--{{ mobile_columns }}"
          role="list"
          aria-label="{{ 'content.grid.name' | t }}"
        >
          {{- list_items -}}
        </ul>
        {% if block.settings.show_view_more_icon %}
          <button type="button" aria-label="Show more" class="show-icon" style="--icon-more-margin-top: {{ block.settings.icon_more_margin_top }}px; --icon-more-margin-bottom: {{ block.settings.icon_more_margin_bottom }}px; --icon-more-color: {{ block.settings.icon_more_color }}; --icon-more-background: {{ block.settings.icon_more_background }}; --icon-more-border: {{ block.settings.icon_more_border }}; --icon-more-size: {{ block.settings.icon_more_size }}px;" data-load-more-block="" data-row-desktop="{{ columns_desktop }}" data-row-tablet="{{ columns_tablet }}" data-row-mobile="{{ mobile_columns }}"></button>
        {% endif %}

        {%- if show_mobile_slider -%}
          </div>
          </swiper-component>
        {%- endif -%}
      </div>
    {% when 'carousel' %}
      {%- assign slides_per_view = mobile_columns -%}
      {%- capture breakpoints -%}
        {
          "768": { "slidesPerView": {{ columns_tablet }} },
          "1024": { "slidesPerView": {{ columns_tablet }} },
          "1400": { "slidesPerView": {{ columns_desktop }} }
        }
      {%- endcapture -%}
      <swiper-component
        class="collection-carousel-swiper-component w-full block"
        {%- render 'swiper-data',
          settings: block.settings,
          slides_per_view: slides_per_view,
          space_between: block.settings.gap,
          watch_slides_progress: true,
          breakpoints: breakpoints
        -%}
        style="
          {% render 'swiper-style',
            columns_mobile: mobile_columns,
            columns_tablet: columns_tablet,
            columns_desktop: columns_desktop,
            columns_gap: block.settings.gap,
          %}
        "
      >
        <div class="swiper w-full" style="--swiper-navigation-top-offset: 50%;">
          <ul
            id="Slider-{{ block.id }}"
            data-id="{{ block.id }}"
            class="swiper-wrapper grid-layout-no-js list-unstyled lg:grid-layout--{{ columns_desktop }} md:grid-layout--3 grid--{{ mobile_columns }}-col-mobile"
          >
            {{ list_items }}
          </ul>

          {%- if enable_navigation -%}
            <div class="swiper-btns-wrap small-hide">
              {%- render 'swiper-button' -%}
            </div>
          {%- endif -%}
          {%- if enable_pagination -%}
            <div class="swiper-pagination"></div>
          {%- endif -%}
        </div>
      </swiper-component>
  {% endcase %}
</div>

{% if block.settings.show_view_more_icon and block.settings.layout_type == 'grid' %}
  <script src="{{ 'media-gallery-show-more.js' | asset_url }}" defer="defer"></script>
{% endif %}

{% schema %}
{
  "name": "t:names.media_gallery_list",
  "blocks": [
    {
      "type": "@theme"
    },
    {
      "type": "@app"
    },
    {
      "type": "group"
    },
    {
      "type": "_divider"
    },
    {
      "type": "_instagram-item"
    }
  ],
  "tag": null,
  "settings": [
    {
      "type": "header",
      "content": "t:content.layout"
    },
    {
      "type": "select",
      "id": "layout_type",
      "label": "t:settings.type",
      "options": [
        {
          "value": "grid",
          "label": "t:options.grid"
        },
        {
          "value": "carousel",
          "label": "t:options.carousel"
        }
      ],
      "default": "grid"
    },
    {
      "type": "checkbox",
      "label": "t:settings.show_view_more_icon",
      "id": "show_view_more_icon",
      "default": false,
      "visible_if": "{{ block.settings.layout_type == 'grid' }}"
    },
    {
      "type": "header",
      "content": "t:settings.view_more_icon",
      "visible_if": "{{ block.settings.show_view_more_icon == true }}"
    },
    {
      "type": "range",
      "id": "icon_more_margin_top",
      "label": "t:settings.spacing_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 10,
      "unit": "px",
      "visible_if": "{{ block.settings.show_view_more_icon == true }}"
    },
    {
      "type": "range",
      "id": "icon_more_margin_bottom",
      "label": "t:settings.spacing_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 10,
      "unit": "px",
      "visible_if": "{{ block.settings.show_view_more_icon == true }}"
    },
    {
      "type": "color",
      "id": "icon_more_color",
      "label": "t:settings.color",
      "default": "#232323",
      "visible_if": "{{ block.settings.show_view_more_icon == true }}"
    },
    {
      "type": "color",
      "id": "icon_more_background",
      "label": "t:settings.background",
      "default": "transparent",
      "visible_if": "{{ block.settings.show_view_more_icon == true }}"
    },
    {
      "type": "color",
      "id": "icon_more_border",
      "label": "t:settings.borders",
      "default": "transparent",
      "visible_if": "{{ block.settings.show_view_more_icon == true }}"
    },
    {
      "type": "range",
      "id": "icon_more_size",
      "label": "t:settings.size",
      "min": 10,
      "max": 100,
      "step": 1,
      "default": 40,
      "unit": "px",
      "visible_if": "{{ block.settings.show_view_more_icon == true }}"
    },
    {
      "type": "checkbox",
      "id": "carousel_on_mobile",
      "label": "t:settings.carousel_on_mobile",
      "default": false,
      "visible_if": "{{ block.settings.layout_type == 'grid' }}"
    },
    {
      "type": "range",
      "id": "columns_grid",
      "min": 1,
      "max": 6,
      "step": 1,
      "default": 5,
      "label": "t:settings.columns",
      "visible_if": "{{ block.settings.layout_type == 'grid' }}"
    },
    {
      "type": "range",
      "id": "columns_carousel",
      "min": 1,
      "max": 6,
      "step": 0.1,
      "default": 5,
      "label": "t:settings.columns",
      "visible_if": "{{ block.settings.layout_type == 'carousel' }}"
    },
    {
      "type": "select",
      "id": "mobile_columns_grid",
      "label": "t:settings.mobile_columns",
      "options": [
        {
          "value": "1",
          "label": "1"
        },
        {
          "value": "2",
          "label": "2"
        }
      ],
      "default": "2",
      "visible_if": "{{ block.settings.layout_type == 'grid' and block.settings.carousel_on_mobile == false }}"
    },
    {
      "type": "range",
      "id": "mobile_columns_carousel",
      "label": "t:settings.mobile_columns",
      "min": 1,
      "max": 2,
      "step": 0.1,
      "default": 2,
      "visible_if": "{{ block.settings.layout_type == 'carousel' or block.settings.carousel_on_mobile == true }}"
    },
    {
      "type": "select",
      "id": "vertical_alignment_flex_direction_column",
      "label": "t:settings.position",
      "options": [
        {
          "value": "flex-start",
          "label": "t:options.top"
        },
        {
          "value": "center",
          "label": "t:options.center"
        },
        {
          "value": "flex-end",
          "label": "t:options.bottom"
        }
      ],
      "default": "center"
    },
    {
      "type": "range",
      "id": "gap",
      "label": "t:settings.gap",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 12
    },
    {
      "type": "header",
      "content": "t:settings.carousel_layout",
      "visible_if": "{{ block.settings.layout_type == 'carousel' }}"
    },
    {
      "type": "checkbox",
      "id": "loop",
      "label": "t:settings.loop",
      "default": false,
      "visible_if": "{{ block.settings.layout_type == 'carousel'}}"
    },
    {
      "type": "select",
      "id": "navigation",
      "label": "t:settings.navigation",
      "visible_if": "{{ block.settings.layout_type == 'carousel' }}",
      "options": [
        {
          "value": "none",
          "label": "t:options.none"
        },
        {
          "value": "arrows",
          "label": "t:options.arrows"
        },
        {
          "value": "pagination",
          "label": "t:options.pagination"
        },
        {
          "value": "arrows-pagination",
          "label": "t:settings.arrows_and_pagination"
        }
      ],
      "default": "arrows"
    },
    {
      "type": "select",
      "id": "pagination_type",
      "label": "t:settings.pagination_type",
      "visible_if": "{{ block.settings.navigation == 'pagination' or block.settings.navigation == 'arrows-pagination' }}",
      "options": [
        {
          "value": "bullets",
          "label": "t:options.dots"
        },
        {
          "value": "dynamic",
          "label": "t:options.dynamic"
        },
        {
          "value": "progressbar",
          "label": "t:options.progress"
        },
        {
          "value": "fraction",
          "label": "t:options.counter"
        }
      ],
      "default": "bullets"
    },
    {
      "type": "header",
      "content": "t:content.size"
    },
    {
      "type": "select",
      "id": "height",
      "label": "t:settings.height",
      "options": [
        {
          "value": "fit",
          "label": "t:options.fit_content"
        },
        {
          "value": "fill",
          "label": "t:options.fill"
        },
        {
          "value": "custom",
          "label": "t:options.custom"
        }
      ],
      "default": "fit"
    },
    {
      "type": "range",
      "id": "custom_height",
      "label": "t:settings.custom_height",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 100,
      "visible_if": "{{ block.settings.height == 'custom' }}"
    },
    {
      "type": "header",
      "content": "t:content.appearance"
    },
    {
      "type": "checkbox",
      "id": "inherit_color_scheme",
      "label": "t:settings.inherit_color_scheme",
      "default": true
    },
    {
      "type": "color",
      "id": "scheme_background",
      "label": "t:settings.background",
      "default": "#FFFFFF",
      "alpha": true,
      "visible_if": "{{ block.settings.inherit_color_scheme == false }}"
    },
    {
      "type": "color_background",
      "id": "scheme_background_gradient",
      "label": "t:settings.background_gradient",
      "info": "t:info.background_gradient_info",
      "visible_if": "{{ block.settings.inherit_color_scheme == false }}"
    },
    {
      "type": "color",
      "id": "scheme_foreground_heading",
      "label": "t:settings.headings",
      "default": "#000000",
      "alpha": true,
      "visible_if": "{{ block.settings.inherit_color_scheme == false }}"
    },
    {
      "type": "color",
      "id": "scheme_foreground",
      "label": "t:settings.text",
      "default": "#000000",
      "alpha": true,
      "visible_if": "{{ block.settings.inherit_color_scheme == false }}"
    },
    {
      "type": "color",
      "id": "scheme_primary",
      "label": "t:settings.primary_color",
      "default": "#000F9F",
      "alpha": true,
      "visible_if": "{{ block.settings.inherit_color_scheme == false }}"
    },
    {
      "type": "color",
      "id": "scheme_primary_hover",
      "label": "t:settings.primary_hover_color",
      "default": "#000000",
      "alpha": true,
      "visible_if": "{{ block.settings.inherit_color_scheme == false }}"
    },
    {
      "type": "color",
      "id": "scheme_border",
      "label": "t:settings.borders",
      "default": "#E6E6E6",
      "alpha": true,
      "visible_if": "{{ block.settings.inherit_color_scheme == false }}"
    },
    {
      "type": "color",
      "id": "scheme_shadow",
      "label": "t:settings.shadow_color",
      "default": "#000000",
      "alpha": true,
      "visible_if": "{{ block.settings.inherit_color_scheme == false }}"
    },
    {
      "type": "select",
      "id": "background_media",
      "label": "t:settings.background_media",
      "options": [
        {
          "value": "none",
          "label": "t:options.none"
        },
        {
          "value": "image",
          "label": "t:options.image"
        },
        {
          "value": "video",
          "label": "t:options.video"
        }
      ],
      "default": "none"
    },
    {
      "type": "video",
      "id": "video",
      "label": "t:settings.video",
      "visible_if": "{{ block.settings.background_media == 'video' }}"
    },
    {
      "type": "select",
      "id": "video_position",
      "label": "t:settings.video_position",
      "options": [
        {
          "value": "cover",
          "label": "t:options.cover"
        },
        {
          "value": "contain",
          "label": "t:options.contain"
        }
      ],
      "default": "cover",
      "visible_if": "{{ block.settings.background_media == 'video' }}"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "t:settings.image",
      "visible_if": "{{ block.settings.background_media == 'image' }}"
    },
    {
      "type": "select",
      "id": "background_image_position",
      "label": "t:settings.image_position",
      "options": [
        {
          "value": "cover",
          "label": "t:options.cover"
        },
        {
          "value": "fit",
          "label": "t:options.fit"
        }
      ],
      "default": "cover",
      "visible_if": "{{ block.settings.background_media == 'image' }}"
    },
    {
      "type": "checkbox",
      "id": "toggle_overlay",
      "label": "t:settings.media_overlay"
    },
    {
      "type": "color",
      "id": "overlay_color",
      "label": "t:settings.overlay_color",
      "alpha": true,
      "default": "#00000026",
      "visible_if": "{{ block.settings.toggle_overlay }}"
    },
    {
      "type": "select",
      "id": "overlay_style",
      "label": "t:settings.overlay_style",
      "options": [
        {
          "value": "solid",
          "label": "t:options.solid"
        },
        {
          "value": "gradient",
          "label": "t:options.gradient"
        }
      ],
      "default": "solid",
      "visible_if": "{{ block.settings.toggle_overlay }}"
    },
    {
      "type": "select",
      "id": "gradient_direction",
      "label": "t:settings.gradient_direction",
      "options": [
        {
          "value": "to top",
          "label": "t:options.up"
        },
        {
          "value": "to bottom",
          "label": "t:options.down"
        }
      ],
      "default": "to top",
      "visible_if": "{{ block.settings.toggle_overlay and block.settings.overlay_style == 'gradient' }}"
    },
    {
      "type": "header",
      "content": "t:content.padding"
    },
    {
      "type": "range",
      "id": "padding-block-start",
      "label": "t:settings.top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-block-end",
      "label": "t:settings.bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-inline-start",
      "label": "t:settings.left",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-inline-end",
      "label": "t:settings.right",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    }
  ],
  "presets": [
    {
      "name": "t:names.media_gallery_list",
      "category": "t:categories.storytelling",
      "blocks": {
        "instagram_item_1": {
          "type": "_instagram-item"
        },
        "instagram_item_2": {
          "type": "_instagram-item"
        }
      },
      "block_order": [
        "instagram_item_1",
        "instagram_item_2"
      ]
    }
  ]
}
{% endschema %}