{%- liquid
  assign sec_stts = section.settings
  assign bl_stts = block.settings
  assign bl_id = block.id
  assign link = bl_stts.link
  assign submenu = bl_stts.sub_menu
  assign menu_handle = submenu.handle

  assign show_image_level_1 = sec_stts.show_image_level_1

  assign show_image_sub_menu = sec_stts.show_image_sub_menu
  assign sub_media_type = sec_stts.sub_media_type

  assign media_width_desktop = '100vw'
  assign media_width_mobile = '100vw'
  assign sizes = 'auto, (min-width: 750px) 450px, ' | append: media_width_desktop | append: ', ' | append: media_width_mobile
  assign widths = '300, 375, 450'
  assign sizes_banner = 'auto, (min-width: 750px) ' | append: media_width_desktop | append: ', ' | append: media_width_mobile
  assign widths_banner = '300, 450, 600, 750, 900, 1050, 1200, 1350, 1500, 1650, 1800, 1950, 2000, 2500, 3000, 3500, 4000, 5000'

  assign media_type_level_1 = sec_stts.media_type
  assign image_type_level_1 = bl_stts.image_type_level_1
  assign svg_upload_level_1 = bl_stts.svg_upload_level_1
  assign image_upload_level_1 = bl_stts.image_level_1
  assign width_level_1 = sec_stts.media_width

  assign banner_level_2 = bl_stts.banner_level_2
  if banner_level_2 != blank
    assign ratio_level_2 = banner_level_2.aspect_ratio
  endif

  assign media_width_sub_menu = sec_stts.media_width_sub_menu

  capture class_link
    echo 'menu-drawer__menu-item--multi-tab menu-drawer__menu-item link link--text list-menu__item focus-inset'
  endcapture

  capture class_submenu
    echo 'menu-drawer__submenu has-submenu motion-reduce'
  endcapture
-%}

{%- capture icon_arrow -%}
  <span class="svg-wrapper icon-arrow--backward">
    {%- render 'icon-arrow' -%}
  </span>
{%- endcapture -%}

{%- capture icon_arrow_forward -%}
  <span class="svg-wrapper icon-arrow--backward">
    {%- render 'icon-arrow' -%}
  </span>
{%- endcapture -%}

{%- capture media_level_1 -%}
  {% if show_image_level_1 %}
    {% if image_type_level_1 == 'svg' %}
      {%- if svg_upload_level_1 != blank -%}
        <span class="svg-wrapper">
          {{ bl_stts.svg_upload_level_1 }}
        </span>
      {%- endif -%}
    {% elsif image_type_level_1 == 'image' %}
      {%- if image_upload_level_1 != blank -%}
        {% liquid
          assign width = width_level_1

          assign ratio = image_upload_level_1.aspect_ratio
          if media_type_level_1 == 'circle'
            assign ratio = 1
          endif

          assign image_style = 'width: ' | append: width | append: 'px;' | append: ';' | append: '--media-adapt-ratio:' | append: ratio | append: ';'
        %}

        <div class="media media--adapt media--{{ media_type_level_1 }}" style="{{ image_style }}">
          {{ image_upload_level_1 | image_url: width: 450 | image_tag: widths: widths, sizes: sizes }}
        </div>
      {%- endif -%}
    {%- else -%}
      <div class="placeholder-svg" style="width: {{ width }}px; height: {{ width }}px;">
        {{ 'hero-apparel-2' | placeholder_svg_tag: 'placeholder-svg' }}
      </div>
    {% endif %}
  {% endif %}
{%- endcapture -%}

<li>
  {%- if submenu != blank -%}
    <header-drawer>
      <details id="Details-tab-drawer-menu-item-{{ block.id }}">
        <summary class="{{ class_link }}">
          {{ media_level_1 }}

          {{ bl_stts.title }}

          {{ icon_arrow }}
        </summary>
        <div
          id="link-{{ bl_id | escape }}"
          class="{{ class_submenu }}"
          tabindex="-1"
        >
          <div class="menu-drawer__inner-submenu custom-scrollbar">
            <button class="menu-drawer__close-button link link--text focus-inset" aria-expanded="true">
              {{ icon_arrow_forward }}
              {{ bl_stts.title | escape }}
            </button>
            {% if banner_level_2 != blank %}
              <div
                class="sub-banner sub-banner--lv2 media media--adapt"
                style="--media-adapt-ratio: {{ ratio_level_2 }};"
              >
                {{
                  banner_level_2
                  | image_url: width: 1025
                  | image_tag: widths: widths_banner, sizes: sizes_banner, class: 'sub-banner__image'
                }}
              </div>
            {% endif %}
            <ul
              class="menu-drawer__menu list-menu grid"
              role="list"
              tabindex="-1"
            >
              {%- for childlink in submenu.links -%}
                <li>
                  {%- if childlink.links == blank -%}
                    <a
                      id="HeaderDrawer-{{ link.handle }}-{{ childlink.handle }}"
                      href="{{ childlink.url }}"
                      class="{{ class_link }}{% if childlink.current %} menu-drawer__menu-item--active{% endif %}"
                      {% if childlink.current %}
                        aria-current="page"
                      {% endif %}
                      style="--gap-x: var(--gap-xl)"
                    >
                      {% if show_image_sub_menu %}
                        {% liquid
                          assign width = width_level_1

                          assign ratio = 1

                          assign image_style = 'width: ' | append: width | append: 'px;' | append: ';' | append: '--media-adapt-ratio:' | append: ratio | append: ';'

                          assign image_sources = 'jpg,png,webp,avif' | split: ','
                          assign found_image = false
                        -%}

                        {% for ext in image_sources %}
                          {% assign ext = ext | strip %}
                          {% assign item_image = childlink.handle | prepend: '-' | prepend: menu_handle | handleize | append: '.' | append: ext %}
                          {% if images[item_image] != blank and found_image == false %}
                            {% assign found_image = true %}
                            {% assign image = item_image | file_url %}
                            <span class="media media--adapt media--circle" style="{{ image_style }}">
                              <img
                                src="{{ image | image_url: width: 450 }}"
                                srcset="{{ image }} 450w, {{ image }} 900w"
                                width="450"
                                height="450"
                                sizes="{{ sizes }}"
                                loading="lazy"
                                class="media--adapt"
                                style="{{ image_style }}"
                                alt="{{ shop.name | escape }}"
                              >
                            </span>
                          {% endif %}
                        {% endfor %}
                      {% endif %}
                      {{ childlink.title | escape }}
                    </a>
                  {%- else -%}
                    <div id="Details-menu-drawer-{{ link.handle }}-{{ childlink.handle }}">
                      <a
                        href="{{ childlink.url }}"
                        id="HeaderDrawer-{{ link.handle }}-{{ childlink.handle }}"
                        class="{{ class_link }}"
                      >
                        {% if show_image_sub_menu %}
                          {% liquid
                            assign width = media_width_sub_menu

                            assign ratio = 1

                            assign image_style = 'width: ' | append: width | append: 'px;' | append: ';' | append: '--media-adapt-ratio:' | append: ratio | append: ';'

                            assign image_sources = 'jpg,png,webp,avif' | split: ','
                            assign found_image = false

                          -%}

                          {% for ext in image_sources %}
                            {% assign ext = ext | strip %}
                            {% assign item_image = childlink.handle | prepend: '-' | prepend: menu_handle | handleize | append: '.' | append: ext %}
                            {% if images[item_image] != blank and found_image == false %}
                              {% assign found_image = true %}
                              {% assign image = item_image | file_url %}
                              <span class="media media--adapt media--{{ sub_media_type }}" style="{{ image_style }}">
                                <img
                                  src="{{ image | image_url: width: 450 }}"
                                  srcset="{{ image }} 450w, {{ image }} 900w"
                                  width="450"
                                  height="450"
                                  sizes="{{ sizes }}"
                                  loading="lazy"
                                  class="media--adapt"
                                  style="{{ image_style }}"
                                  alt="{{ shop.name | escape }}"
                                >
                              </span>
                            {% endif %}
                          {% endfor %}
                        {% endif %}
                        {{ childlink.title | escape }}
                      </a>
                      <div
                        id="childlink-{{ childlink.handle | escape }}"
                        class="list-menu-wrap"
                      >
                        <ul
                          class="menu-drawer__menu-grid grid-layout grid-layout--3 list-menu"
                          role="list"
                          tabindex="-1"
                        >
                          {%- for grandchildlink in childlink.links -%}
                            <li>
                              <a
                                id="HeaderDrawer-{{ link.handle }}-{{ childlink.handle }}-{{ grandchildlink.handle }}"
                                href="{{ grandchildlink.url }}"
                                class="
                                  link link--text list-menu__item focus-inset flex-column gap-xs center
                                  {%- if grandchildlink.current %} menu-drawer__menu-item--active{% endif -%}
                                "
                                {% if grandchildlink.current %}
                                  aria-current="page"
                                {% endif %}
                              >
                                {% if show_image_sub_menu %}
                                  {% liquid
                                    assign width = media_width_sub_menu

                                    assign ratio = 1

                                    assign image_style = 'width: ' | append: width | append: 'px;' | append: ';' | append: '--media-adapt-ratio:' | append: ratio | append: ';'

                                    assign image_sources = 'jpg,png,webp,avif' | split: ','
                                    assign found_image = false

                                  -%}

                                  {% for ext in image_sources %}
                                    {% assign ext = ext | strip %}
                                    {% assign item_image = grandchildlink.handle | prepend: '-' | prepend: menu_handle | handleize | append: '.' | append: ext %}
                                    {% if images[item_image] != blank and found_image == false %}
                                      {% assign found_image = true %}
                                      {% assign image = item_image | file_url %}
                                      <span class="media media--adapt media--{{ sub_media_type }}" style="{{ image_style }}">
                                        <img
                                          src="{{ image | image_url: width: 450 }}"
                                          srcset="{{ image }} 450w, {{ image }} 900w"
                                          width="450"
                                          height="450"
                                          sizes="{{ sizes }}"
                                          loading="lazy"
                                          class="media--adapt"
                                          style="{{ image_style }}"
                                          alt="{{ shop.name | escape }}"
                                        >
                                      </span>
                                    {% endif %}
                                  {% endfor %}
                                {% endif %}
                                {{ grandchildlink.title | escape }}
                              </a>
                            </li>
                          {%- endfor -%}
                        </ul>
                      </div>
                    </div>
                  {%- endif -%}
                </li>
              {%- endfor -%}
            </ul>
          </div>
        </div>
      </details>
    </header-drawer>
  {%- else -%}
    <a
      id="HeaderDrawer-{{ bl_id }}"
      {% if link != blank %}
        href="{{ link.url }}"
      {%- else -%}
        role="link" aria-disabled="true"
      {% endif %}
      class="{{ class_link }} gap-lg"
    >
      {{ media_level_1 }}

      {{ bl_stts.title | escape }}
    </a>
  {%- endif -%}
</li>


{% schema %}
{
  "name": "t:names.menu_item",
  "tag": null,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "t:settings.title"
    },
    {
      "type": "url",
      "id": "link",
      "label": "t:settings.link"
    },
    {
      "type": "header",
      "content": "t:content.menu"
    },
    {
      "type": "link_list",
      "id": "sub_menu",
      "label": "t:settings.submenu"
    },
    {
      "type": "header",
      "content": "t:content.media"
    },
    {
      "type": "select",
      "id": "image_type_level_1",
      "label": "t:settings.type_level_1",
      "options": [
        {
          "value": "svg",
          "label": "SVG"
        },
        {
          "value": "image",
          "label": "t:settings.image"
        }
      ],
      "default": "image"
    },
    {
      "type": "liquid",
      "id": "svg_upload_level_1",
      "label": "t:settings.svg_icon_level_1",
      "info": "t:info.svg_icon_info",
      "visible_if": "{{ block.settings.image_type_level_1 == 'svg' }}"
    },
    {
      "type": "image_picker",
      "id": "image_level_1",
      "label": "t:settings.image_level_1",
      "visible_if": "{{ block.settings.image_type_level_1 == 'image' }}"
    },
    {
      "type": "image_picker",
      "id": "banner_level_2",
      "label": "t:settings.banner_level_2"
    }
  ],
  "presets": [
    {
      "name": "t:names.menu_item"
    }
  ]
}
{% endschema %}
