{%- liquid
  assign bl_stts = block.settings
  assign customer_viewing_number = bl_stts.customer_viewing_number
  assign customer_viewing_time = bl_stts.customer_viewing_time

  capture text_block_classes
    if bl_stts.type_preset == 'custom'
      echo ' custom-typography '
      if bl_stts.font_size != ''
        echo ' custom-font-size '
      endif
      if bl_stts.color != ''
        echo ' custom-color '
      endif
    endif
  endcapture
-%}
<customer-viewing-component class="product-customer-viewing" data-customer-view="{{ customer_viewing_number }}" data-customer-view-time="{{ customer_viewing_time }}">
  {% capture icon %}
    {{- 'icon-eye.svg' | inline_asset_content -}}
  {% endcapture %}

  {%- capture customer_viewing_number -%}
    <span data-customer-viewing-number>2</span>
  {% endcapture %}

  <span class="product-customer-viewing-message {{ bl_stts.type_preset }} {{ text_block_classes }}">
    {{ bl_stts.text | replace: "[icon]", icon | replace: "[number]", customer_viewing_number }}
  </span>
</customer-viewing-component>

{% javascript %}
  class CustomerViewingComponent extends HTMLElement {
    constructor() {
      super();
      this.timer = null;
      this.init();
    }

    init() {
      const numberElem = this.querySelector('[data-customer-viewing-number]');
      if (!numberElem) return;

      const numbersViewerStr = this.dataset.customerView;
      if (!numbersViewerStr) return;

      const numbersViewerList = numbersViewerStr
        .split(',')
        .map(item => parseInt(item.trim(), 10))
        .filter(num => !isNaN(num) && num > 0);

      if (!numbersViewerList.length) return;

      let timeViewer = parseInt(this.dataset.customerViewTime, 10);
      if (isNaN(timeViewer) || timeViewer < 1) timeViewer = 5;
      timeViewer = timeViewer * 1000;

      const updateNumber = () => {
        const randomIdx = Math.floor(Math.random() * numbersViewerList.length);
        const value = numbersViewerList[randomIdx];
        numberElem.textContent = value;
      };

      updateNumber();

      this.timer = setInterval(updateNumber, timeViewer);
    }

    disconnectedCallback() {
      if (this.timer) clearInterval(this.timer);
    }
  }

  document.addEventListener('DOMContentLoaded', () => {
    if (!customElements.get('customer-viewing-component')) {
      customElements.define('customer-viewing-component', CustomerViewingComponent);
    }
  });
{% endjavascript %}

{% schema %}
{
  "name": "Customers viewing",
  "tag": null,
  "settings": [
    {
      "type": "inline_richtext",
      "id": "text",
      "label": "t:settings.text",
      "default": "[icon] [number] customers are viewing this product",
      "info": "You can use [icon], [number] in the text. Example: [icon] [number] customers are viewing this product"
    },
    {
      "type" : "text",
      "id" : "customer_viewing_number",
      "label" : "Number",
      "default" : "283, 100, 59, 11, 14, 185, 193, 165, 50, 38, 99, 112, 46, 10, 125, 200, 250, 18",
      "info": "Example: 283, 100, 59, 11, 14, 185, 193, 165, 50, 38, 99, 112, 46, 10, 125, 200, 250, 18. Separate quantities with a comma (,)."
    },
    {
      "type": "range",
      "id": "customer_viewing_time",
      "label": "Swap time",
      "min": 1,
      "max": 30,
      "step": 1,
      "unit": "s",
      "default": 5
    },
    {
      "type": "select",
      "id": "type_preset",
      "label": "t:settings.preset",
      "options": [
        {
          "value": "",
          "label": "t:options.default"
        },
        {
          "value": "paragraph",
          "label": "t:options.paragraph"
        },
        {
          "value": "h1",
          "label": "t:options.h1"
        },
        {
          "value": "h2",
          "label": "t:options.h2"
        },
        {
          "value": "h3",
          "label": "t:options.h3"
        },
        {
          "value": "h4",
          "label": "t:options.h4"
        },
        {
          "value": "h5",
          "label": "t:options.h5"
        },
        {
          "value": "h6",
          "label": "t:options.h6"
        },
        {
          "value": "custom",
          "label": "t:options.custom"
        }
      ],
      "default": "",
      "info": "t:info.edit_presets_in_theme_settings"
    },
    {
      "type": "select",
      "id": "font",
      "label": "t:settings.font",
      "options": [
        {
          "value": "var(--font-body--family)",
          "label": "t:options.body"
        },
        {
          "value": "var(--font-subheading--family)",
          "label": "t:options.subheading"
        },
        {
          "value": "var(--font-heading--family)",
          "label": "t:options.heading"
        }
      ],
      "default": "var(--font-body--family)",
      "visible_if": "{{ block.settings.type_preset == 'custom' }}"
    },
    {
      "type": "select",
      "id": "font_size",
      "label": "t:settings.size",
      "options": [
        {
          "value": "",
          "label": "t:options.default"
        },
        {
          "value": "1.0rem",
          "label": "10px"
        },
        {
          "value": "1.2rem",
          "label": "12px"
        },
        {
          "value": "1.4rem",
          "label": "14px"
        },
        {
          "value": "1.6rem",
          "label": "16px"
        },
        {
          "value": "1.8rem",
          "label": "18px"
        },
        {
          "value": "2.0rem",
          "label": "20px"
        },
        {
          "value": "2.2rem",
          "label": "22px"
        },
        {
          "value": "2.4rem",
          "label": "24px"
        },
        {
          "value": "2.6rem",
          "label": "26px"
        },
        {
          "value": "2.8rem",
          "label": "28px"
        },
        {
          "value": "3.0rem",
          "label": "30px"
        },
        {
          "value": "3.2rem",
          "label": "32px"
        },
        {
          "value": "3.4rem",
          "label": "34px"
        },
        {
          "value": "3.6rem",
          "label": "36px"
        },
        {
          "value": "4.0rem",
          "label": "40px"
        },
        {
          "value": "5.0rem",
          "label": "50px"
        },
        {
          "value": "6.0rem",
          "label": "60px"
        },
        {
          "value": "7.0rem",
          "label": "70px"
        },
        {
          "value": "8.0rem",
          "label": "80px"
        },
        {
          "value": "9.0rem",
          "label": "90px"
        },
        {
          "value": "10.0rem",
          "label": "100px"
        },
        {
          "value": "12.0rem",
          "label": "120px"
        }
      ],
      "default": "1.6rem",
      "visible_if": "{{ block.settings.type_preset == 'custom' }}"
    },
    {
      "type": "select",
      "id": "line_height",
      "label": "t:settings.line_height",
      "options": [
        {
          "value": "tight",
          "label": "t:options.tight"
        },
        {
          "value": "normal",
          "label": "t:options.normal"
        },
        {
          "value": "loose",
          "label": "t:options.loose"
        }
      ],
      "default": "normal",
      "visible_if": "{{ block.settings.type_preset == 'custom' }}"
    },
    {
      "type": "select",
      "id": "letter_spacing",
      "label": "t:settings.letter_spacing",
      "options": [
        {
          "value": "tight",
          "label": "t:options.tight"
        },
        {
          "value": "normal",
          "label": "t:options.normal"
        },
        {
          "value": "loose",
          "label": "t:options.loose"
        }
      ],
      "default": "normal",
      "visible_if": "{{ block.settings.type_preset == 'custom' }}"
    },
    {
      "type": "select",
      "id": "case",
      "label": "t:settings.case",
      "options": [
        {
          "value": "none",
          "label": "t:options.default"
        },
        {
          "value": "uppercase",
          "label": "t:options.uppercase"
        },
        {
          "value": "capitalize",
          "label": "t:options.capitalize"
        }
      ],
      "default": "none",
      "visible_if": "{{ block.settings.type_preset == 'custom' }}"
    },
    {
      "type": "select",
      "id": "wrap",
      "label": "t:settings.wrap",
      "options": [
        {
          "value": "pretty",
          "label": "t:options.pretty"
        },
        {
          "value": "balance",
          "label": "t:options.balance"
        },
        {
          "value": "nowrap",
          "label": "t:options.none"
        }
      ],
      "visible_if": "{{ block.settings.type_preset == 'custom' }}"
    },
    {
      "type": "select",
      "id": "color",
      "label": "t:settings.color",
      "options": [
        {
          "value": "var(--color-foreground)",
          "label": "t:options.text"
        },
        {
          "value": "var(--color-foreground-heading)",
          "label": "t:options.heading"
        },
        {
          "value": "var(--color-primary)",
          "label": "t:options.link"
        }
      ],
      "default": "var(--color-foreground)",
      "visible_if": "{{ block.settings.type_preset != 'rte' }}"
    },
    {
      "type": "header",
      "content": "t:content.padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:settings.spacing_top",
      "default": 10
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:settings.spacing_bottom",
      "default": 10
    }
  ],
  "presets": [
    {
      "name": "Customers viewing",
      "category": "t:categories.product"
    }
  ]
}
{% endschema %}