{% assign bl_stts = block.settings %}

{% assign icon_block_class = 'icon-block__media icon-block_' | append: bl_stts.icon | append: ' icon-block-' | append: block.id %}
{% capture icon %}
  {%- liquid
    assign ratio = 1

    case bl_stts.image_ratio
      when 'adapt'
        assign ratio = bl_stts.image.aspect_ratio
      when 'portrait'
        assign ratio = '4 / 5'
      when 'square'
        assign ratio = '1 / 1'
    endcase

    if ratio == 0 or ratio == null
      assign ratio = 1
    endif
  -%}
  <div class="icon-block border-style"
    style="
      --ratio: {{ ratio }};
      {% render 'size-style', settings: bl_stts %}
      {% render 'border-override', settings: bl_stts %}
    "
  >
    {% render 'icon-or-image',
      icon: bl_stts.icon,
      icon_custom: bl_stts.icon_custom,
      svg_upload: bl_stts.svg_upload,
      image_upload: bl_stts.image_upload,
      width: bl_stts.icon_width,
      class_name: icon_block_class,
      attributes: block.shopify_attributes
    %}
  </div>
{% endcapture %}

{% capture text %}
  {% if bl_stts.text != blank or bl_stts.subtext != blank %}
    <div class="icon-block__content">
      {% if bl_stts.text != blank %}
        {% render 'text', block: block %}
      {% endif %}

      {% if bl_stts.subtext != blank %}
        <div class="icon-block__subtext text-block rte">
          {{ bl_stts.subtext }}
        </div>
      {% endif %}
    </div>
  {% endif %}
{% endcapture %}

<div
  class="
    image-with-content-block flex
    spacing-style
    layout-panel-flex
    layout-panel-flex--row
    section-content-wrapper
    mobile-row
    {% if bl_stts.width == '100%' %}text-block--align-{{ bl_stts.alignment }}{% endif %}
    {% if bl_stts.icon_position == 'icon-left' %}justify-start{% else %}justify-end{% endif %}
  "
  style="
    {% render 'layout-panel-style', settings: bl_stts, scale_min: 8 %}
    {% render 'spacing-style', settings: bl_stts %}
    --width: {{ bl_stts.width }};
    {% if bl_stts.width == "100%" %}
      --text-align: {{ bl_stts.alignment }};
    {% endif %}
  "
  {{ block.shopify_attributes }}
>
  {% if bl_stts.icon_position == 'icon-left' %}
    {{ icon }}
  {% endif %}

  {{ text }}

  {% if bl_stts.icon_position == 'icon-right' %}
    {{ icon }}
  {% endif %}
</div>

{% schema %}
{
  "name": "t:names.image_with_content",
  "tag": null,
  "settings": [
    {
      "type": "header",
      "content": "t:content.layout"
    },
		{
			"type": "select",
			"id": "content_direction",
			"label": "t:settings.direction",
			"options": [
				{
					"value": "row",
					"label": "t:options.horizontal"
				}
			],
			"default": "row",
      "visible_if": "{{ block.settings.horizontal_alignment == 'fake-value' }}"
		},
		{
			"type": "select",
			"id": "content_direction_mobile",
			"label": "t:settings.direction_on_mobile",
			"options": [
				{
					"value": "row",
					"label": "t:options.horizontal"
				}
			],
			"default": "row",
      "visible_if": "{{ block.settings.horizontal_alignment_mobile == 'fake-value' }}"
		},
    {
      "type": "select",
      "id": "horizontal_alignment",
      "label": "t:settings.alignment",
      "options": [
        {
          "value": "flex-start",
          "label": "t:options.left"
        },
        {
          "value": "center",
          "label": "t:options.center"
        },
        {
          "value": "flex-end",
          "label": "t:options.right"
        },
        {
          "value": "space-between",
          "label": "t:options.space_between"
        }
      ],
      "default": "flex-start"
    },
    {
      "type": "select",
      "id": "horizontal_alignment_mobile",
      "label": "t:settings.mobile_alignment",
      "options": [
        {
          "value": "flex-start",
          "label": "t:options.left"
        },
        {
          "value": "center",
          "label": "t:options.center"
        },
        {
          "value": "flex-end",
          "label": "t:options.right"
        },
        {
          "value": "space-between",
          "label": "t:options.space_between"
        }
      ],
      "default": "flex-start"
    },
    {
      "type": "select",
      "id": "vertical_alignment",
      "label": "t:settings.position",
      "options": [
        {
          "value": "flex-start",
          "label": "t:options.top"
        },
        {
          "value": "center",
          "label": "t:options.center"
        },
        {
          "value": "flex-end",
          "label": "t:options.bottom"
        }
      ],
      "default": "center"
    },
    {
      "type": "checkbox",
      "id": "align_baseline",
      "label": "t:settings.align_baseline",
      "default": false,
      "visible_if": "{{ block.settings.vertical_alignment == 'flex-end' }}"
    },
    {
      "type": "range",
      "id": "gap",
      "label": "t:settings.gap",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 4
    },
    {
      "type": "select",
      "id": "icon_position",
      "label": "t:settings.icon_position",
      "options": [
        {
          "value": "icon-left",
          "label": "t:options.left"
        },
        {
          "value": "icon-right",
          "label": "t:options.right"
        }
      ],
      "default": "icon-left"
    },
    {
      "type": "header",
      "content": "t:content.icon"
    },
    {
      "type": "select",
      "id": "icon",
      "label": "t:settings.icon",
      "options": [
        {
          "value": "none",
          "label": "t:options.none"
        },
        {
          "value": "security",
          "label": "t:options.security"
        },
        {
          "value": "alert",
          "label": "t:options.alert"
        },
        {
          "value": "shopping-bag",
          "label": "t:options.shopping_bag"
        },
        {
          "value": "cart",
          "label": "t:options.cart"
        },
        {
          "value": "apple",
          "label": "t:options.apple"
        },
        {
          "value": "arrow",
          "label": "t:options.arrow"
        },
        {
          "value": "banana",
          "label": "t:options.banana"
        },
        {
          "value": "bottle",
          "label": "t:options.bottle"
        },
        {
          "value": "box",
          "label": "t:options.box"
        },
        {
          "value": "carrot",
          "label": "t:options.carrot"
        },
        {
          "value": "circle",
          "label": "t:options.circle"
        },
        {
          "value": "chat_bubble",
          "label": "t:options.chat_bubble"
        },
        {
          "value": "check_mark",
          "label": "t:options.check_mark"
        },
        {
          "value": "clipboard",
          "label": "t:options.clipboard"
        },
        {
          "value": "dairy",
          "label": "t:options.dairy"
        },
        {
          "value": "dairy_free",
          "label": "t:options.dairy_free"
        },
        {
          "value": "dryer",
          "label": "t:options.dryer"
        },
        {
          "value": "eye",
          "label": "t:options.eye"  
        },
        {
          "value": "facebook",
          "label": "t:options.facebook"
        },
        {
          "value": "fire",
          "label": "t:options.fire"
        },
        {
          "value": "gluten_free",
          "label": "t:options.gluten_free"
        },
        {
          "value": "heart",
          "label": "t:options.heart"
        },
        {
          "value": "instagram",
          "label": "t:options.instagram"
        },
        {
          "value": "iron",
          "label": "t:options.iron"
        },
        {
          "value": "leaf",
          "label": "t:options.leaf"
        },
        {
          "value": "leather",
          "label": "t:options.leather"
        },
        {
          "value": "lightning_bolt",
          "label": "t:options.lightning_bolt"
        },
        {
          "value": "lipstick",
          "label": "t:options.lipstick"
        },
        {
          "value": "lock",
          "label": "t:options.lock"
        },
        {
          "value": "map_pin",
          "label": "t:options.map_pin"
        },
        {
          "value": "nut_free",
          "label": "t:options.nut_free"
        },
        {
          "value": "pants",
          "label": "t:options.pants"
        },
        {
          "value": "paw_print",
          "label": "t:options.paw_print"
        },
        {
          "value": "pepper",
          "label": "t:options.pepper"
        },
        {
          "value": "perfume",
          "label": "t:options.perfume"
        },
        {
          "value": "pinterest",
          "label": "t:options.pinterest"
        },
        {
          "value": "plane",
          "label": "t:options.plane"
        },
        {
          "value": "plant",
          "label": "t:options.plant"
        },
        {
          "value": "price_tag",
          "label": "t:options.price_tag"
        },
        {
          "value": "question_mark",
          "label": "t:options.question_mark"
        },
        {
          "value": "recycle",
          "label": "t:options.recycle"
        },
        {
          "value": "return",
          "label": "t:options.return"
        },
        {
          "value": "ruler",
          "label": "t:options.ruler"
        },
        {
          "value": "serving_dish",
          "label": "t:options.serving_dish"
        },
        {
          "value": "shirt",
          "label": "t:options.shirt"
        },
        {
          "value": "shoe",
          "label": "t:options.shoe"
        },
        {
          "value": "silhouette",
          "label": "t:options.silhouette"
        },
        {
          "value": "snapchat",
          "label": "t:options.snapchat"
        },
        {
          "value": "snowflake",
          "label": "t:options.snowflake"
        },
        {
          "value": "star",
          "label": "t:options.star"
        },
        {
          "value": "stopwatch",
          "label": "t:options.stopwatch"
        },
        {
          "value": "tiktok",
          "label": "t:options.tiktok"
        },
        {
          "value": "truck",
          "label": "t:options.truck"
        },
        {
          "value": "tumblr",
          "label": "t:options.tumblr"
        },
        {
          "value": "twitter",
          "label": "t:options.twitter"
        },
        {
          "value": "vimeo",
          "label": "t:options.vimeo"
        },
        {
          "value": "washing",
          "label": "t:options.washing"
        }
      ],
      "default": "security"
    },
    {
      "type": "select",
      "id": "icon_custom",
      "label": "t:settings.custom_icon",
      "options": [
        {
          "value": "none",
          "label": "t:options.none"
        },
        {
          "value": "svg",
          "label": "SVG"
        },
        {
          "value": "image",
          "label": "t:options.image"
        }
      ],
      "default": "none"
    },
    {
      "type": "liquid",
      "id": "svg_upload",
      "label": "t:settings.svg_icon",
      "info": "t:info.svg_icon_info",
      "visible_if": "{{ block.settings.icon_custom == 'svg' }}"
    },
    {
      "type": "image_picker",
      "id": "image_upload",
      "label": "t:settings.image_icon",
      "visible_if": "{{ block.settings.icon_custom == 'image' }}"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:options.adapt_to_image"
        },
        {
          "value": "portrait",
          "label": "t:options.portrait"
        },
        {
          "value": "square",
          "label": "t:options.square"
        }
      ],
      "default": "adapt",
      "label": "t:settings.image_ratio",
      "visible_if": "{{ block.settings.icon_custom == 'image' }}"
    },
    {
      "type": "range",
      "id": "icon_width",
      "label": "t:settings.icon_width",
      "min": 12,
      "max": 200,
      "step": 2,
      "unit": "px",
      "default": 50,
      "visible_if": "{{ block.settings.icon_custom != 'svg' and block.settings.icon != 'none' }}"
    },
    {
      "type": "select",
      "id": "border",
      "label": "t:settings.border",
      "options": [
        {
          "value": "none",
          "label": "t:options.none"
        },
        {
          "value": "solid",
          "label": "t:options.solid"
        }
      ],
      "default": "none"
    },
    {
      "type": "range",
      "id": "border_width",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:settings.thickness",
      "default": 1,
      "visible_if": "{{ block.settings.border != 'none' }}"
    },
    {
      "type": "range",
      "id": "border_radius",
      "label": "t:settings.border_radius",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0,
      "visible_if": "{{ block.settings.border != 'none' }}"
    },
    {
      "type": "header",
      "content": "t:content.text"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "t:settings.heading",
      "default": "<h6>Name</h6>"
    },
    {
      "type": "select",
      "id": "type_preset",
      "label": "t:settings.preset",
      "options": [
        {
          "value": "rte",
          "label": "t:options.default"
        },
        {
          "value": "paragraph",
          "label": "t:options.paragraph"
        },
        {
          "value": "h1",
          "label": "t:options.h1"
        },
        {
          "value": "h2",
          "label": "t:options.h2"
        },
        {
          "value": "h3",
          "label": "t:options.h3"
        },
        {
          "value": "h4",
          "label": "t:options.h4"
        },
        {
          "value": "h5",
          "label": "t:options.h5"
        },
        {
          "value": "h6",
          "label": "t:options.h6"
        },
        {
          "value": "custom",
          "label": "t:options.custom"
        }
      ],
      "default": "rte",
      "info": "t:info.edit_presets_in_theme_settings"
    },
    {
      "type": "select",
      "id": "font",
      "label": "t:settings.font",
      "options": [
        {
          "value": "var(--font-body--family)",
          "label": "t:options.body"
        },
        {
          "value": "var(--font-subheading--family)",
          "label": "t:options.subheading"
        },
        {
          "value": "var(--font-heading--family)",
          "label": "t:options.heading"
        }
      ],
      "default": "var(--font-body--family)",
      "visible_if": "{{ block.settings.type_preset == 'custom' }}"
    },
    {
      "type": "select",
      "id": "font_size",
      "label": "t:settings.size",
      "options": [
        {
          "value": "",
          "label": "t:options.default"
        },
        {
          "value": "1.0rem",
          "label": "10px"
        },
        {
          "value": "1.2rem",
          "label": "12px"
        },
        {
          "value": "1.4rem",
          "label": "14px"
        },
        {
          "value": "1.6rem",
          "label": "16px"
        },
        {
          "value": "1.8rem",
          "label": "18px"
        },
        {
          "value": "2.0rem",
          "label": "20px"
        },
        {
          "value": "2.2rem",
          "label": "22px"
        },
        {
          "value": "2.4rem",
          "label": "24px"
        },
        {
          "value": "2.6rem",
          "label": "26px"
        },
        {
          "value": "2.8rem",
          "label": "28px"
        },
        {
          "value": "3.0rem",
          "label": "30px"
        },
        {
          "value": "3.2rem",
          "label": "32px"
        },
        {
          "value": "3.4rem",
          "label": "34px"
        },
        {
          "value": "3.6rem",
          "label": "36px"
        },
        {
          "value": "4.0rem",
          "label": "40px"
        },
        {
          "value": "5.0rem",
          "label": "50px"
        },
        {
          "value": "6.0rem",
          "label": "60px"
        },
        {
          "value": "7.0rem",
          "label": "70px"
        },
        {
          "value": "8.0rem",
          "label": "80px"
        },
        {
          "value": "9.0rem",
          "label": "90px"
        },
        {
          "value": "10.0rem",
          "label": "100px"
        },
        {
          "value": "12.0rem",
          "label": "120px"
        }
      ],
      "default": "1.6rem",
      "visible_if": "{{ block.settings.type_preset == 'custom' }}"
    },
    {
      "type": "select",
      "id": "line_height",
      "label": "t:settings.line_height",
      "options": [
        {
          "value": "tight",
          "label": "t:options.tight"
        },
        {
          "value": "normal",
          "label": "t:options.normal"
        },
        {
          "value": "loose",
          "label": "t:options.loose"
        }
      ],
      "default": "normal",
      "visible_if": "{{ block.settings.type_preset == 'custom' }}"
    },
    {
      "type": "select",
      "id": "letter_spacing",
      "label": "t:settings.letter_spacing",
      "options": [
        {
          "value": "tight",
          "label": "t:options.tight"
        },
        {
          "value": "normal",
          "label": "t:options.normal"
        },
        {
          "value": "loose",
          "label": "t:options.loose"
        }
      ],
      "default": "normal",
      "visible_if": "{{ block.settings.type_preset == 'custom' }}"
    },
    {
      "type": "select",
      "id": "case",
      "label": "t:settings.case",
      "options": [
        {
          "value": "none",
          "label": "t:options.default"
        },
        {
          "value": "uppercase",
          "label": "t:options.uppercase"
        }
      ],
      "default": "none",
      "visible_if": "{{ block.settings.type_preset == 'custom' }}"
    },
    {
      "type": "select",
      "id": "wrap",
      "label": "t:settings.wrap",
      "options": [
        {
          "value": "pretty",
          "label": "t:options.pretty"
        },
        {
          "value": "balance",
          "label": "t:options.balance"
        },
        {
          "value": "nowrap",
          "label": "t:options.none"
        }
      ],
      "visible_if": "{{ block.settings.type_preset == 'custom' }}"
    },
    {
      "type": "select",
      "id": "color",
      "label": "t:settings.color",
      "options": [
        {
          "value": "var(--color-foreground)",
          "label": "t:options.text"
        },
        {
          "value": "var(--color-foreground-heading)",
          "label": "t:options.heading"
        },
        {
          "value": "var(--color-primary)",
          "label": "t:options.link"
        }
      ],
      "default": "var(--color-foreground)",
      "visible_if": "{{ block.settings.type_preset != 'rte' }}"
    },
    {
      "type": "richtext",
      "id": "subtext",
      "label": "t:settings.text",
      "default": "<p>Customer service</p>"
    },
    {
      "type": "select",
      "id": "width",
      "label": "t:settings.width",
      "options": [
        {
          "value": "fit-content",
          "label": "t:options.fit"
        },
        {
          "value": "100%",
          "label": "t:options.fill"
        }
      ],
      "default": "fit-content"
    },
    {
      "type": "select",
      "id": "alignment",
      "label": "t:settings.alignment",
      "options": [
        {
          "value": "left",
          "label": "t:options.left"
        },
        {
          "value": "center",
          "label": "t:options.center"
        },
        {
          "value": "right",
          "label": "t:options.right"
        }
      ],
      "default": "left",
      "visible_if": "{{ block.settings.width == '100%' }}"
    },
    {
      "type": "header",
      "content": "t:content.padding"
    },
    {
      "type": "range",
      "id": "padding-block-start",
      "label": "t:settings.top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-block-end",
      "label": "t:settings.bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-inline-start",
      "label": "t:settings.left",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-inline-end",
      "label": "t:settings.right",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    }
  ],
  "presets": [
    {
      "name": "t:names.image_with_content",
      "category": "t:categories.basic",
      "settings": {
        "icon": "price_tag",
        "icon_position": "icon-left",
        "icon_width": 50,
        "border_radius": 100,
        "icon_custom": "image",
        "width": "fit-content",
        "alignment": "left",
        "horizontal_alignment": "flex-start",
        "gap": 13
      }
    }
  ]
}
{% endschema %}
