{%- liquid
  assign mobile_columns = block.settings.mobile_columns_grid
  if block.settings.layout_type == 'carousel' or block.settings.carousel_on_mobile
    assign mobile_columns = block.settings.mobile_columns_carousel
  endif
  assign mobile_columns_int = mobile_columns | plus: 0
  assign show_mobile_slider = false
  if block.settings.carousel_on_mobile and block.blocks.size > mobile_columns_int
    assign show_mobile_slider = true
  endif

  assign columns_desktop = block.settings.columns_grid
  if block.settings.layout_type == 'carousel'
      assign columns_desktop = block.settings.columns_carousel
  endif
  assign columns_tablet = 2
  if columns_desktop == 1
    assign columns_tablet = 1
  elsif columns_desktop >= 7
    assign columns_tablet = 4
  elsif columns_desktop >= 4
    assign columns_tablet = 3
  endif

  assign enable_navigation = false
  if block.settings.navigation == 'arrows-pagination' or block.settings.navigation == 'arrows'
    assign enable_navigation = true
  endif

  assign enable_pagination = false
  if block.settings.navigation == 'pagination' or block.settings.navigation == 'arrows-pagination'
    assign enable_pagination = true
  endif
-%}

{% capture list_items %}
  {% for child_block in block.blocks %}
    <li id="Slide-{{ child_block.id }}-{{ forloop.index }}" class="grid__item{% if show_mobile_slider or block.settings.layout_type == 'carousel' %} swiper-slide{% endif %}{% if block.settings.border_separator_items %} border-separator-item{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
      {% if settings.animations_reveal_on_scroll %} style="--animation-order: {{ forloop.index }};"{% endif %}
    >
      {% render child_block %}
    </li>

    {% unless forloop.last %}
      <!--@list/split-->
    {% endunless %}
  {% endfor %}
{% endcapture %}

{% capture children %}
  {% case block.settings.layout_type %}
    {% when 'grid' %}
      <div class="collection--grid-layout w-full block">
        {%- if show_mobile_slider -%}
          <swiper-component
            class="swiper-component-mobile"
            data-swiper-mobile
            {%- render 'swiper-data',
              settings: block.settings,
              loop: false,
              slides_per_view: mobile_columns,
              space_between: block.settings.column_gap
            -%}
            style="
              {% render 'swiper-style',
                columns_mobile: mobile_columns,
                columns_tablet: columns_tablet,
                columns_desktop: columns_desktop,
                columns_gap: block.settings.column_gap,
              %}
            "
          >
            <div class="swiper"
                style="
                  {% if block.settings.pagination_type == 'bullets' and block.settings.navigation == 'pagination' or block.settings.navigation == 'arrows-pagination' %}
                    --dots-top-offset: {{ block.settings.dots_top_offset }}px;
                  {% elsif block.settings.pagination_type == 'progressbar' and block.settings.navigation == 'pagination' or block.settings.navigation == 'arrows-pagination' %}
                    --progress-top-offset: {{ block.settings.progress_top_offset }}px;
                  {% endif %}"
            >
        {%- endif -%}
        <ul
          id="Grid-{{ block.id }}"
          data-id="{{ block.id }}"
          class="grid grid-layout list-unstyled{% if show_mobile_slider %} swiper-wrapper md:grid{% endif %} lg:grid-layout--{{ columns_desktop }} md:grid-layout--{{ columns_tablet }} max-sm:grid-layout--{{ mobile_columns }}"
          role="list"
          aria-label="{{ 'content.grid.name' | t }}"
          style="--grid-desktop-horizontal-spacing: {{ block.settings.column_gap }}px; --grid-desktop-vertical-spacing: {{ block.settings.vertical_gap }}px;"
        >
          {{- list_items -}}
        </ul>
        {%- if show_mobile_slider -%}
          {%- if enable_navigation -%}
            <div class="swiper-btns-wrap">
              {%- render 'swiper-button' -%}
            </div>
          {%- endif -%}
          {%- if enable_pagination -%}
            <div class="swiper-pagination"></div>
          {%- endif -%}
          </div>
          </swiper-component>
        {%- endif -%}
      </div>
    {% when 'carousel' %}
      {%- assign slides_per_view = mobile_columns -%}
      {%- capture breakpoints -%}
        {
          "768": { "slidesPerView": {{ columns_tablet }} },
          "1024": { "slidesPerView": {{ columns_tablet }} },
          "1400": { "slidesPerView": {{ columns_desktop }} }
        }
      {%- endcapture -%}
      <swiper-component
        class="collection-carousel-swiper-component w-full block"
        {%- render 'swiper-data',
          settings: block.settings,
          slides_per_view: slides_per_view,
          space_between: block.settings.gap,
          watch_slides_progress: true,
          breakpoints: breakpoints
        -%}
        style="
          {% render 'swiper-style',
            columns_mobile: mobile_columns,
            columns_tablet: columns_tablet,
            columns_desktop: columns_desktop,
            columns_gap: block.settings.gap,
          %}
        "
      >
        <div class="swiper w-full"
        style="
          {% if block.settings.pagination_type == 'bullets' and block.settings.navigation == 'pagination' or block.settings.navigation == 'arrows-pagination' %}
            --dots-top-offset: {{ block.settings.dots_top_offset }}px;
          {% elsif block.settings.pagination_type == 'progressbar' and block.settings.navigation == 'pagination' or block.settings.navigation == 'arrows-pagination' %}
            --progress-top-offset: {{ block.settings.progress_top_offset }}px;
          {% endif %}
          "
        >
          <ul
            id="Slider-{{ block.id }}"
            data-id="{{ block.id }}"
            class="swiper-wrapper grid-layout-no-js list-unstyled lg:grid-layout--{{ columns_desktop }} md:grid-layout--3 grid--{{ mobile_columns }}-col-mobile"
          >
            {{ list_items }}
          </ul>

          {%- if enable_navigation -%}
            <div class="swiper-btns-wrap">
              {%- render 'swiper-button' -%}
            </div>
          {%- endif -%}
          {%- if enable_pagination -%}
            <div class="swiper-pagination"></div>
          {%- endif -%}
        </div>
      </swiper-component>
  {% endcase %}
{% endcapture %}

{% render 'group', children: children, settings: block.settings, shopify_attributes: block.shopify_attributes %}

{% schema %}
{
  "name": "t:names.multicolumn",
  "blocks": [
    {
      "type": "@theme"
    },
    {
      "type": "@app"
    },
    {
      "type": "group"
    },
    {
      "type": "_divider"
    }
  ],
  "tag": null,
  "settings": [
    {
      "type": "header",
      "content": "t:content.layout"
    },
    {
      "type": "select",
      "id": "layout_type",
      "label": "t:settings.type",
      "options": [
        {
          "value": "grid",
          "label": "t:options.grid"
        },
        {
          "value": "carousel",
          "label": "t:options.carousel"
        }
      ],
      "default": "grid"
    },
    {
      "type": "checkbox",
      "id": "carousel_on_mobile",
      "label": "t:settings.carousel_on_mobile",
      "default": false,
      "visible_if": "{{ block.settings.layout_type == 'grid' }}"
    },
    {
      "type": "range",
      "id": "columns_grid",
      "min": 1,
      "max": 6,
      "step": 1,
      "default": 3,
      "label": "t:settings.columns",
      "visible_if": "{{ block.settings.layout_type == 'grid' }}"
    },
    {
      "type": "range",
      "id": "columns_carousel",
      "min": 1,
      "max": 9,
      "step": 1,
      "default": 4,
      "label": "t:settings.columns",
      "visible_if": "{{ block.settings.layout_type == 'carousel' }}"
    },
    {
      "type": "select",
      "id": "mobile_columns_grid",
      "label": "t:settings.mobile_columns",
      "options": [
        {
          "value": "1",
          "label": "1"
        },
        {
          "value": "2",
          "label": "2"
        }
      ],
      "default": "2",
      "visible_if": "{{ block.settings.layout_type == 'grid' and block.settings.carousel_on_mobile == false }}"
    },
    {
      "type": "select",
      "id": "mobile_columns_carousel",
      "label": "t:settings.mobile_columns",
      "options": [
        {
          "value": "1",
          "label": "1"
        },
        {
          "value": "1.3",
          "label": "1,3"
        },
        {
          "value": "2",
          "label": "2"
        }
      ],
      "default": "2",
      "visible_if": "{{ block.settings.layout_type == 'carousel' or block.settings.carousel_on_mobile == true }}"
    },
    {
      "type": "select",
      "id": "vertical_alignment_flex_direction_column",
      "label": "t:settings.position",
      "options": [
        {
          "value": "flex-start",
          "label": "t:options.top"
        },
        {
          "value": "center",
          "label": "t:options.center"
        },
        {
          "value": "flex-end",
          "label": "t:options.bottom"
        }
      ],
      "default": "center"
    },
    {
      "type": "range",
      "id": "vertical_gap",
      "label": "t:settings.vertical_gap",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 12,
      "visible_if": "{{ block.settings.layout_type == 'grid' }}"
    },
    {
      "type": "range",
      "id": "column_gap",
      "label": "t:settings.column_gap",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 12,
      "visible_if": "{{ block.settings.layout_type == 'grid' }}"
    },
    {
      "type": "range",
      "id": "gap",
      "label": "t:settings.gap",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 12,
      "visible_if": "{{ block.settings.layout_type == 'carousel' }}"
    },
    {
      "type": "header",
      "content": "t:content.carousel",
      "visible_if": "{{ block.settings.layout_type == 'carousel' or block.settings.carousel_on_mobile }}"
    },
    {
      "type": "checkbox",
      "id": "loop",
      "label": "t:settings.loop",
      "default": false,
      "visible_if": "{{ block.settings.layout_type == 'carousel' or block.settings.carousel_on_mobile }}"
    },
    {
      "type": "select",
      "id": "navigation",
      "label": "t:settings.navigation",
      "visible_if": "{{ block.settings.layout_type == 'carousel' or block.settings.carousel_on_mobile }}",
      "options": [
        {
          "value": "none",
          "label": "t:options.none"
        },
        {
          "value": "arrows",
          "label": "t:options.arrows"
        },
        {
          "value": "pagination",
          "label": "t:options.pagination"
        },
        {
          "value": "arrows-pagination",
          "label": "t:settings.arrows_and_pagination"
        }
      ],
      "default": "arrows"
    },
    {
      "type": "select",
      "id": "pagination_type",
      "label": "t:settings.pagination_type",
      "visible_if": "{{ block.settings.navigation == 'pagination' or block.settings.navigation == 'arrows-pagination' }}",
      "options": [
        {
          "value": "bullets",
          "label": "t:options.dots"
        },
        {
          "value": "dynamic",
          "label": "t:options.dynamic"
        },
        {
          "value": "progressbar",
          "label": "t:options.progress"
        },
        {
          "value": "fraction",
          "label": "t:options.counter"
        }
      ],
      "default": "bullets"
    },
    {
      "type": "range",
      "id": "dots_top_offset",
      "label": "t:settings.dots_top_offset",
      "min": 20,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 40,
      "visible_if": "{{ block.settings.pagination_type == 'bullets' and block.settings.navigation == 'pagination' or block.settings.navigation == 'arrows-pagination' }}"
    },
    {
      "type": "range",
      "id": "progress_top_offset",
      "label": "t:settings.progress_top_offset",
      "min": 20,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 40,
      "visible_if": "{{ block.settings.pagination_type == 'progressbar' and block.settings.navigation == 'pagination' or block.settings.navigation == 'arrows-pagination' }}"
    },
    {
      "type": "header",
      "content": "t:content.size"
    },
    {
      "type": "select",
      "id": "width",
      "label": "t:settings.width",
      "options": [
        {
          "value": "fit-content",
          "label": "t:options.fit_content"
        },
        {
          "value": "fill",
          "label": "t:options.fill"
        },
        {
          "value": "custom",
          "label": "t:options.custom"
        }
      ],
      "default": "fill"
    },
    {
      "type": "range",
      "id": "custom_width",
      "label": "t:settings.custom_width",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 100,
      "visible_if": "{{ block.settings.width == 'custom' }}"
    },
    {
      "type": "select",
      "id": "width_mobile",
      "label": "t:settings.width_mobile",
      "options": [
        {
          "value": "fit-content",
          "label": "t:options.fit_content"
        },
        {
          "value": "fill",
          "label": "t:options.fill"
        },
        {
          "value": "custom",
          "label": "t:options.custom"
        }
      ],
      "default": "fill"
    },
    {
      "type": "range",
      "id": "custom_width_mobile",
      "label": "t:settings.custom_width",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 100,
      "visible_if": "{{ block.settings.width_mobile == 'custom' }}"
    },
    {
      "type": "select",
      "id": "height",
      "label": "t:settings.height",
      "options": [
        {
          "value": "fit",
          "label": "t:options.fit_content"
        },
        {
          "value": "fill",
          "label": "t:options.fill"
        },
        {
          "value": "custom",
          "label": "t:options.custom"
        }
      ],
      "default": "fit"
    },
    {
      "type": "range",
      "id": "custom_height",
      "label": "t:settings.custom_height",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 100,
      "visible_if": "{{ block.settings.height == 'custom' }}"
    },
    {
      "type": "header",
      "content": "t:content.borders"
    },
    {
      "type": "select",
      "id": "border",
      "label": "t:settings.style",
      "options": [
        {
          "value": "none",
          "label": "t:options.none"
        },
        {
          "value": "solid",
          "label": "t:options.solid"
        }
      ],
      "default": "none"
    },
    {
      "type": "checkbox",
      "id": "border_separator_items",
      "label": "t:settings.border_separator_items",
      "default": false
    },
    {
      "type": "range",
      "id": "border_width",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:settings.thickness",
      "default": 1,
      "visible_if": "{{ block.settings.border != 'none' }}"
    },
    {
      "type": "range",
      "id": "border_opacity",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "t:settings.opacity",
      "default": 100,
      "visible_if": "{{ block.settings.border != 'none' }}"
    },
    {
      "type": "range",
      "id": "border_radius",
      "label": "t:settings.border_radius",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 0,
      "visible_if": "{{ block.settings.border != 'none' }}"
    },
    {
      "type": "header",
      "content": "t:content.appearance"
    },
    {
      "type": "checkbox",
      "id": "inherit_color_scheme",
      "label": "t:settings.inherit_color_scheme",
      "default": true
    },
    {
      "type": "color",
      "id": "scheme_background",
      "label": "t:settings.background",
      "default": "#FFFFFF",
      "alpha": true,
      "visible_if": "{{ block.settings.inherit_color_scheme == false }}"
    },
    {
      "type": "color_background",
      "id": "scheme_background_gradient",
      "label": "t:settings.background_gradient",
      "info": "t:info.background_gradient_info",
      "visible_if": "{{ block.settings.inherit_color_scheme == false }}"
    },
    {
      "type": "color",
      "id": "scheme_foreground_heading",
      "label": "t:settings.headings",
      "default": "#000000",
      "alpha": true,
      "visible_if": "{{ block.settings.inherit_color_scheme == false }}"
    },
    {
      "type": "color",
      "id": "scheme_foreground",
      "label": "t:settings.text",
      "default": "#000000",
      "alpha": true,
      "visible_if": "{{ block.settings.inherit_color_scheme == false }}"
    },
    {
      "type": "color",
      "id": "scheme_primary",
      "label": "t:settings.primary_color",
      "default": "#000F9F",
      "alpha": true,
      "visible_if": "{{ block.settings.inherit_color_scheme == false }}"
    },
    {
      "type": "color",
      "id": "scheme_primary_hover",
      "label": "t:settings.primary_hover_color",
      "default": "#000000",
      "alpha": true,
      "visible_if": "{{ block.settings.inherit_color_scheme == false }}"
    },
    {
      "type": "color",
      "id": "scheme_border",
      "label": "t:settings.borders",
      "default": "#E6E6E6",
      "alpha": true,
      "visible_if": "{{ block.settings.inherit_color_scheme == false }}"
    },
    {
      "type": "color",
      "id": "scheme_shadow",
      "label": "t:settings.shadow_color",
      "default": "#000000",
      "alpha": true,
      "visible_if": "{{ block.settings.inherit_color_scheme == false }}"
    },
    {
      "type": "select",
      "id": "background_media",
      "label": "t:settings.background_media",
      "options": [
        {
          "value": "none",
          "label": "t:options.none"
        },
        {
          "value": "image",
          "label": "t:options.image"
        },
        {
          "value": "video",
          "label": "t:options.video"
        }
      ],
      "default": "none"
    },
    {
      "type": "video",
      "id": "video",
      "label": "t:settings.video",
      "visible_if": "{{ block.settings.background_media == 'video' }}"
    },
    {
      "type": "select",
      "id": "video_position",
      "label": "t:settings.video_position",
      "options": [
        {
          "value": "cover",
          "label": "t:options.cover"
        },
        {
          "value": "contain",
          "label": "t:options.contain"
        }
      ],
      "default": "cover",
      "visible_if": "{{ block.settings.background_media == 'video' }}"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "t:settings.image",
      "visible_if": "{{ block.settings.background_media == 'image' }}"
    },
    {
      "type": "select",
      "id": "background_image_position",
      "label": "t:settings.image_position",
      "options": [
        {
          "value": "cover",
          "label": "t:options.cover"
        },
        {
          "value": "fit",
          "label": "t:options.fit"
        }
      ],
      "default": "cover",
      "visible_if": "{{ block.settings.background_media == 'image' }}"
    },
    {
      "type": "checkbox",
      "id": "toggle_overlay",
      "label": "t:settings.background_overlay"
    },
    {
      "type": "color",
      "id": "overlay_color",
      "label": "t:settings.overlay_color",
      "alpha": true,
      "default": "#00000026",
      "visible_if": "{{ block.settings.toggle_overlay }}"
    },
    {
      "type": "select",
      "id": "overlay_style",
      "label": "t:settings.overlay_style",
      "options": [
        {
          "value": "solid",
          "label": "t:options.solid"
        },
        {
          "value": "gradient",
          "label": "t:options.gradient"
        }
      ],
      "default": "solid",
      "visible_if": "{{ block.settings.toggle_overlay }}"
    },
    {
      "type": "select",
      "id": "gradient_direction",
      "label": "t:settings.gradient_direction",
      "options": [
        {
          "value": "to top",
          "label": "t:options.up"
        },
        {
          "value": "to bottom",
          "label": "t:options.down"
        }
      ],
      "default": "to top",
      "visible_if": "{{ block.settings.toggle_overlay and block.settings.overlay_style == 'gradient' }}"
    },
    {
      "type": "header",
      "content": "t:content.padding"
    },
    {
      "type": "range",
      "id": "padding-block-start",
      "label": "t:settings.top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-block-end",
      "label": "t:settings.bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-inline-start",
      "label": "t:settings.left",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-inline-end",
      "label": "t:settings.right",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    }
  ],
	"presets": [
		{
			"name": "t:names.multicolumn",
			"category": "t:categories.storytelling",
			"blocks": {
        "group_1": {
          "type": "group",
          "settings": {
            "content_direction": "column",
            "horizontal_alignment": "flex-start",
            "horizontal_alignment_mobile": "flex-start",
            "vertical_alignment": "center",
            "align_baseline": false,
            "horizontal_alignment_flex_direction_column": "center",
            "vertical_alignment_flex_direction_column": "center",
            "gap": 16,
            "height": "fit",
            "inherit_color_scheme": true
          },
          "blocks": {
            "icon": {
              "type": "icon",
              "settings": {
                "icon": "eye",
                "width": 40
              }
            },
            "heading": {
              "type": "text",
              "settings": {
                "text": "<h2>Intentional design</h2>",
                "type_preset": "h3",
                "font": "var(--font-body--family)",
                "font_size": "",
                "line_height": "normal",
                "letter_spacing": "normal",
                "case": "none",
                "wrap": "pretty",
                "width": "100%",
                "alignment": "center",
                "padding-block-start": 0,
                "padding-block-end": 0
              }
            },
            "text": {
              "type": "text",
              "settings": {
                "text": "<p>Everything we do starts with why</p>",
                "type_preset": "rte",
                "font": "var(--font-body--family)",
                "font_size": "",
                "line_height": "normal",
                "letter_spacing": "normal",
                "case": "none",
                "wrap": "pretty",
                "width": "100%",
                "alignment": "center",
                "padding-block-start": 0,
                "padding-block-end": 0
              }
            }
          },
          "block_order": ["icon", "heading", "text"]
        },
        "group_2": {
          "type": "group",
          "settings": {
            "content_direction": "column",
            "horizontal_alignment": "flex-start",
            "horizontal_alignment_mobile": "flex-start",
            "vertical_alignment": "center",
            "align_baseline": false,
            "horizontal_alignment_flex_direction_column": "center",
            "vertical_alignment_flex_direction_column": "center",
            "gap": 16,
            "height": "fit",
            "inherit_color_scheme": true
          },
          "blocks": {
            "icon": {
              "type": "icon",
              "settings": {
                "icon": "heart",
                "width": 40
              }
            },
            "heading": {
              "type": "text",
              "settings": {
                "text": "<h2>Made with care</h2>",
                "type_preset": "h3",
                "font": "var(--font-body--family)",
                "font_size": "",
                "line_height": "normal",
                "letter_spacing": "normal",
                "case": "none",
                "wrap": "pretty",
                "width": "100%",
                "alignment": "center",
                "padding-block-start": 0,
                "padding-block-end": 0
              }
            },
            "text": {
              "type": "text",
              "settings": {
                "text": "<p>We believe in building better</p>",
                "type_preset": "rte",
                "font": "var(--font-body--family)",
                "font_size": "",
                "line_height": "normal",
                "letter_spacing": "normal",
                "case": "none",
                "wrap": "pretty",
                "width": "100%",
                "alignment": "center",
                "padding-block-start": 0,
                "padding-block-end": 0
              }
            }
          },
          "block_order": ["icon", "heading", "text"]
        },
        "group_3": {
          "type": "group",
          "settings": {
            "content_direction": "column",
            "horizontal_alignment": "flex-start",
            "horizontal_alignment_mobile": "flex-start",
            "vertical_alignment": "center",
            "align_baseline": false,
            "horizontal_alignment_flex_direction_column": "center",
            "vertical_alignment_flex_direction_column": "center",
            "gap": 16,
            "height": "fit",
            "inherit_color_scheme": true
          },
          "blocks": {
            "icon": {
              "type": "icon",
              "settings": {
                "icon": "eye",
                "width": 40
              }
            },
            "heading": {
              "type": "text",
              "settings": {
                "text": "<h2>A team with a goal</h2>",
                "type_preset": "h3",
                "font": "var(--font-body--family)",
                "font_size": "",
                "line_height": "normal",
                "letter_spacing": "normal",
                "case": "none",
                "wrap": "pretty",
                "width": "100%",
                "alignment": "center",
                "padding-block-start": 0,
                "padding-block-end": 0
              }
            },
            "text": {
              "type": "text",
              "settings": {
                "text": "<p>Real people making great products</p>",
                "type_preset": "rte",
                "font": "var(--font-body--family)",
                "font_size": "",
                "line_height": "normal",
                "letter_spacing": "normal",
                "case": "none",
                "wrap": "pretty",
                "width": "100%",
                "alignment": "center",
                "padding-block-start": 0,
                "padding-block-end": 0
              }
            }
          },
          "block_order": ["icon", "heading", "text"]
        }
			},
			"settings": {
				"vertical_alignment_flex_direction_column": "center",
				"gap": 16,
				"padding-block-start": 48,
				"padding-block-end": 48
			},
      "block_order": ["group_1", "group_2", "group_3"]
		}
	]
}
{% endschema %}
