{% assign bl_stts = block.settings %}

{% liquid
  capture text_block_classes
  if bl_stts.type_preset == 'custom'
    echo ' custom-typography '
    if bl_stts.font_size != ''
      echo ' custom-font-size '
    endif
    if bl_stts.color != ''
      echo ' custom-color '
    endif
  endif
  endcapture
%}

<side-drawer-opener
  class="popup"
  {{ block.shopify_attributes }}
  data-side-drawer="#PopupModal-{{ block.id }}"
>
  <button
    id="PopupModalButton-{{ block.id }}"
    class="button button-unstyled popup__button left spacing-style"
    type="button"
    style="
      {% render 'spacing-style', settings: bl_stts %}
    "
  >
    <span
      class="{{ bl_stts.type_preset }} {{ text_block_classes }}" style="{% render 'typography-style', settings: bl_stts %}"
    >
      {{ bl_stts.heading }}
    </span>
    {{- 'icon-external.svg' | inline_asset_content -}}
  </button>
</side-drawer-opener>

<side-drawer
    class="popup__content{% if bl_stts.behavior == 'drawer' %} popup__content--drawer dialog-drawer{% endif %} drawer fixed top-0 left-0 z-9 w-screen h-full flex-center no-js-hidden"
    element-s-popup
    id="PopupModal-{{ block.id }}"
    data-drawer-direction="center"
>
  <div id="Drawer-Overlay-{{ block.id }}" class="drawer__overlay fixed inset-0 cursor-pointer"></div>
  <div
    class="popup__inner w-auto h-full flex flex-column color-{{ settings.popover_color_scheme }} global-settings-popup"
    role="dialog"
    aria-modal="true"
    aria-label="Popup link"
    tabindex="-1"
    style="--modal-max-width: 72rem;"
    data-drawer-content
  >
    <div class="popup__inner--content relative w-full h-full overflow-auto cus-scrollbar">
      {% content_for 'blocks' %}
      <button
        onclick="this.closest('side-drawer').close()"
        class="button button-unstyled close-button popup__close drawer__close block t-button bor-none rounded-full cursor-pointer absolute button-close-circle minimum-touch-target-before"
        type="button"
        aria-label="{{ 'accessibility.close_dialog' | t }}"
        style="--top: 1rem; --right: 1rem;"
      >
        {{- 'icon-close.svg' | inline_asset_content -}}
      </button>
    </div>
  </div>
</side-drawer>

{% schema %}
{
  "name": "t:names.popup_link",
  "blocks": [
    {
      "type": "@theme"
    },
    {
      "type": "@app"
    }
  ],
  "tag": null,
  "settings": [
    {
      "type": "header",
      "content": "t:content.popup"
    },
    {
      "type": "select",
      "id": "behavior",
      "label": "t:settings.behavior",
      "options": [
        {
          "value": "default",
          "label": "t:options.default"
        },
        {
          "value": "drawer",
          "label": "t:options.drawer"
        }
      ],
      "default": "default"
    },
    {
      "type": "header",
      "content": "t:content.link"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "t:settings.text",
      "default": "t:text_defaults.popup_link"
    },
    {
      "type": "select",
      "id": "type_preset",
      "label": "t:settings.preset",
      "options": [
        {
          "value": "",
          "label": "t:options.default"
        },
        {
          "value": "paragraph",
          "label": "t:options.paragraph"
        },
        {
          "value": "h1",
          "label": "t:options.h1"
        },
        {
          "value": "h2",
          "label": "t:options.h2"
        },
        {
          "value": "h3",
          "label": "t:options.h3"
        },
        {
          "value": "h4",
          "label": "t:options.h4"
        },
        {
          "value": "h5",
          "label": "t:options.h5"
        },
        {
          "value": "h6",
          "label": "t:options.h6"
        },
        {
          "value": "custom",
          "label": "t:options.custom"
        }
      ],
      "default": "",
      "info": "t:info.edit_presets_in_theme_settings"
    },
    {
      "type": "select",
      "id": "font",
      "label": "t:settings.font",
      "options": [
        {
          "value": "var(--font-body--family)",
          "label": "t:options.body"
        },
        {
          "value": "var(--font-subheading--family)",
          "label": "t:options.subheading"
        },
        {
          "value": "var(--font-heading--family)",
          "label": "t:options.heading"
        }
      ],
      "default": "var(--font-body--family)",
      "visible_if": "{{ block.settings.type_preset == 'custom' }}"
    },
    {
      "type": "select",
      "id": "font_size",
      "label": "t:settings.size",
      "options": [
        {
          "value": "",
          "label": "t:options.default"
        },
        {
          "value": "1.0rem",
          "label": "10px"
        },
        {
          "value": "1.2rem",
          "label": "12px"
        },
        {
          "value": "1.4rem",
          "label": "14px"
        },
        {
          "value": "1.6rem",
          "label": "16px"
        },
        {
          "value": "1.8rem",
          "label": "18px"
        },
        {
          "value": "2.0rem",
          "label": "20px"
        },
        {
          "value": "2.2rem",
          "label": "22px"
        },
        {
          "value": "2.4rem",
          "label": "24px"
        },
        {
          "value": "2.6rem",
          "label": "26px"
        },
        {
          "value": "2.8rem",
          "label": "28px"
        },
        {
          "value": "3.0rem",
          "label": "30px"
        },
        {
          "value": "3.2rem",
          "label": "32px"
        },
        {
          "value": "3.4rem",
          "label": "34px"
        },
        {
          "value": "3.6rem",
          "label": "36px"
        },
        {
          "value": "4.0rem",
          "label": "40px"
        },
        {
          "value": "5.0rem",
          "label": "50px"
        },
        {
          "value": "6.0rem",
          "label": "60px"
        },
        {
          "value": "7.0rem",
          "label": "70px"
        },
        {
          "value": "8.0rem",
          "label": "80px"
        },
        {
          "value": "9.0rem",
          "label": "90px"
        },
        {
          "value": "10.0rem",
          "label": "100px"
        },
        {
          "value": "12.0rem",
          "label": "120px"
        }
      ],
      "default": "1.6rem",
      "visible_if": "{{ block.settings.type_preset == 'custom' }}"
    },
    {
      "type": "select",
      "id": "line_height",
      "label": "t:settings.line_height",
      "options": [
        {
          "value": "tight",
          "label": "t:options.tight"
        },
        {
          "value": "normal",
          "label": "t:options.normal"
        },
        {
          "value": "loose",
          "label": "t:options.loose"
        }
      ],
      "default": "normal",
      "visible_if": "{{ block.settings.type_preset == 'custom' }}"
    },
    {
      "type": "select",
      "id": "letter_spacing",
      "label": "t:settings.letter_spacing",
      "options": [
        {
          "value": "tight",
          "label": "t:options.tight"
        },
        {
          "value": "normal",
          "label": "t:options.normal"
        },
        {
          "value": "loose",
          "label": "t:options.loose"
        }
      ],
      "default": "normal",
      "visible_if": "{{ block.settings.type_preset == 'custom' }}"
    },
    {
      "type": "select",
      "id": "case",
      "label": "t:settings.case",
      "options": [
        {
          "value": "none",
          "label": "t:options.default"
        },
        {
          "value": "uppercase",
          "label": "t:options.uppercase"
        },
        {
          "value": "capitalize",
          "label": "t:options.capitalize"
        }
      ],
      "default": "none",
      "visible_if": "{{ block.settings.type_preset == 'custom' }}"
    },
    {
      "type": "select",
      "id": "wrap",
      "label": "t:settings.wrap",
      "options": [
        {
          "value": "pretty",
          "label": "t:options.pretty"
        },
        {
          "value": "balance",
          "label": "t:options.balance"
        },
        {
          "value": "nowrap",
          "label": "t:options.none"
        }
      ],
      "visible_if": "{{ block.settings.type_preset == 'custom' }}"
    },
    {
      "type": "select",
      "id": "color",
      "label": "t:settings.color",
      "options": [
        {
          "value": "var(--color-foreground)",
          "label": "t:options.text"
        },
        {
          "value": "var(--color-foreground-heading)",
          "label": "t:options.heading"
        },
        {
          "value": "var(--color-primary)",
          "label": "t:options.link"
        }
      ],
      "default": "var(--color-foreground)",
      "visible_if": "{{ block.settings.type_preset != 'rte' }}"
    },
    {
      "type": "header",
      "content": "t:content.link_padding"
    },
    {
      "type": "range",
      "id": "padding-block-start",
      "label": "t:settings.top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-block-end",
      "label": "t:settings.bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-inline-start",
      "label": "t:settings.left",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-inline-end",
      "label": "t:settings.right",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    }
  ],
  "presets": [
    {
      "name": "t:names.popup_link",
      "category": "t:categories.links",
      "settings": {
        "heading": "Learn more"
      },
      "blocks": {
        "text_pexwUk": {
          "type": "text",
          "settings": {
            "text": "<h2>What is the return policy?</h2>",
            "alignment": "left",
            "padding-block-end": 16
          }
        },
        "text_g7mEh7": {
          "type": "text",
          "settings": {
            "text": "<p>Our goal is for every customer to be totally satisfied with their purchase. If this isn’t the case, let us know and we’ll do our best to work with you to make it right.</p>",
            "alignment": "left"
          }
        }
      },
      "block_order": ["text_pexwUk", "text_g7mEh7"]
    }
  ]
}
{% endschema %}
