{% capture attributes %}
  class="
    rating-block spacing-style flex
    {% if block.settings.inherit_color_scheme == false %}color-scheme-custom{% endif %}
  "
  style="
    --width: {{ block.settings.width }}px;
    --rated-color: {{ block.settings.rated_color }};
    --unrated-color: {{ block.settings.unrated_color }};
    --unrated-border-color: {{ block.settings.unrated_border_color }};
    --gap-x: {{ block.settings.gap }}px;
    {% render 'spacing-style', settings: block.settings %}
    {% if block.settings.inherit_color_scheme == false %}
      {% render 'color-scheme-style', settings: block.settings %}
    {% endif %}
  "
{% endcapture %}

<div {{ attributes }}>
  {% for star in (1..5) %}
    <svg
      class="rating-block__star"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      fill="{% if star <= block.settings.rating %}currentColor{% else %}var(--unrated-color){% endif %}"
      stroke="{% if star <= block.settings.rating %}currentColor{% else %}var(--unrated-border-color){% endif %}"
      stroke-width="2"
    >
      <polygon points="12,2 15.09,8.26 22,9.27 17,14.14 18.18,21.02 12,17.77 5.82,21.02 7,14.14 2,9.27 8.91,8.26"></polygon>
    </svg>
  {% endfor %}
</div>

{% schema %}
{
  "name": "t:names.rating",
  "settings": [
    {
      "type": "range",
      "id": "rating",
      "min": 1,
      "max": 5,
      "step": 1,
      "label": "t:settings.rating",
      "default": 4
    },
    {
      "type": "range",
      "id": "width",
      "label": "t:settings.width",
      "min": 12,
      "max": 70,
      "step": 1,
      "unit": "px",
      "default": 16
    },
    {
      "type": "range",
      "id": "gap",
      "label": "t:settings.gap",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "default": 4
    },
    {
      "type": "header",
      "content": "t:content.appearance"
    },
    {
      "type": "checkbox",
      "id": "inherit_color_scheme",
      "label": "t:settings.inherit_color_scheme",
      "default": true
    },
    {
      "type": "color",
      "id": "scheme_background",
      "label": "t:settings.background",
      "default": "#FFFFFF",
      "alpha": true,
      "visible_if": "{{ block.settings.inherit_color_scheme == false }}"
    },
    {
      "type": "color_background",
      "id": "scheme_background_gradient",
      "label": "t:settings.background_gradient",
      "info": "t:info.background_gradient_info",
      "visible_if": "{{ block.settings.inherit_color_scheme == false }}"
    },
    {
      "type": "color",
      "id": "scheme_foreground_heading",
      "label": "t:settings.headings",
      "default": "#000000",
      "alpha": true,
      "visible_if": "{{ block.settings.inherit_color_scheme == false }}"
    },
    {
      "type": "color",
      "id": "scheme_foreground",
      "label": "t:settings.text",
      "default": "#000000",
      "alpha": true,
      "visible_if": "{{ block.settings.inherit_color_scheme == false }}"
    },
    {
      "type": "color",
      "id": "scheme_primary",
      "label": "t:settings.primary_color",
      "default": "#000F9F",
      "alpha": true,
      "visible_if": "{{ block.settings.inherit_color_scheme == false }}"
    },
    {
      "type": "color",
      "id": "scheme_primary_hover",
      "label": "t:settings.primary_hover_color",
      "default": "#000000",
      "alpha": true,
      "visible_if": "{{ block.settings.inherit_color_scheme == false }}"
    },
    {
      "type": "color",
      "id": "scheme_border",
      "label": "t:settings.borders",
      "default": "#E6E6E6",
      "alpha": true,
      "visible_if": "{{ block.settings.inherit_color_scheme == false }}"
    },
    {
      "type": "color",
      "id": "scheme_shadow",
      "label": "t:settings.shadow_color",
      "default": "#000000",
      "alpha": true,
      "visible_if": "{{ block.settings.inherit_color_scheme == false }}"
    },
    {
      "type": "color",
      "id": "rated_color",
      "label": "t:settings.color",
      "default": "#ffc107",
      "alpha": true
    },
    {
      "type": "color",
      "id": "unrated_color",
      "label": "t:settings.unrated_color",
      "default": "#C2C2C2",
      "alpha": true
    },
    {
      "type": "color",
      "id": "unrated_border_color",
      "label": "t:settings.unrated_border_color",
      "default": "#C2C2C2",
      "alpha": true
    },
    {
      "type": "header",
      "content": "t:content.padding"
    },
    {
      "type": "range",
      "id": "padding-block-start",
      "label": "t:settings.top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-block-end",
      "label": "t:settings.bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-inline-start",
      "label": "t:settings.left",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-inline-end",
      "label": "t:settings.right",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    }
  ],
  "presets": [
    {
      "name": "t:names.rating",
      "category": "t:categories.basic"
    }
  ]
}
{% endschema %}