<!doctype html>
<html class="no-js full-height{% if request.design_mode %} shopify-design-mode{% endif %}" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link
      rel="canonical"
      href="{{ canonical_url }}"
      canonical-url="{{ shop.url }}/">

    {%- if settings.favicon != blank -%}
      <link
        rel="icon"
        type="image/png"
        href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}

    {%- unless settings.type_header_font.system? and settings.type_body_font.system? and settings.type_subheading_font.system? -%}
      <link
        rel="preconnect"
        href="https://fonts.shopifycdn.com"
        crossorigin>
    {%- endunless -%}

    <title>
      {{ page_title }}
      {%- if current_tags %}
        &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
      {%- if current_page != 1 %}
        &ndash; Page {{ current_page }}{% endif -%}
      {%- unless page_title contains shop.name %}
        &ndash; {{ shop.name }}{% endunless -%}
    </title>

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {% render 'meta-tags' %}

    {% render 'global-style' %}

    {% render 'global-css' %}

    {{ 'section-password.css' | asset_url | stylesheet_tag }}

    {{ content_for_header }}

    {%- render 'global-script' -%}
  </head>

  <body class="password template-{{ request.page_type | replace: 'customers/', '' }}{% if settings.animations_hover_elements != 'none' %} card-hover--{{ settings.animations_hover_elements }}{% endif %} has--preload-screen">
    {% render 'skip-to-content-link', href: '#MainContent', text: 'accessibility.skip_to_text' %}

    {%- if settings.enable_preloading_screen -%}
      {% render 'preload-screen' %}
    {%- endif -%}

    <script src="{{ 'details-disclosure.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'details-modal.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'search-form.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'password-modal.js' | asset_url }}" defer="defer"></script>

    {% section 'main-password-header' %}

    <main
      id="MainContent"
      class="password-main content-for-layout focus-none"
      role="main"
      tabindex="-1"
    >
      {{ content_for_layout }}
    </main>

    <footer>
      {% section 'main-password-footer' %}
    </footer>

    <ul hidden>
      <li id="a11y-refresh-page-message">{{ 'accessibility.refresh_page' | t }}</li>
      <li id="a11y-new-window-message">{{ 'accessibility.link_messages.new_window' | t }}</li>
    </ul>

    {% render 'halo-popup' %}

    {%- if settings.predictive_search_enabled -%}
      <script src="{{ 'predictive-search.js' | asset_url }}" defer="defer"></script>
    {%- endif -%}
  </body>
</html>
