{% capture children %}
  <div class="section-resource-list__header">
    {%- content_for 'block', type: '_product-list-content', id: 'static-header' -%}
  </div>
  {% content_for 'block', type: 'collection-list', id: 'static-collection-list' %}

  <div class="section-resource-list__content">
    {%- content_for 'blocks' -%}
  </div>
{% endcapture %}

{% render 'section', section: section, children: children %}

{% schema %}
{
  "name": "t:names.collection_list",
  "class": "section-wrapper",
  "blocks": [
    {
      "type": "@theme"
    },
    {
      "type": "@app"
    }
  ],
  "disabled_on": {
    "groups": ["header", "custom.popup", "aside"]
  },
  "settings": [
    {
      "type": "header",
      "content": "t:content.layout"
    },
    {
      "type": "select",
      "id": "content_direction",
      "label": "t:settings.direction",
      "options": [
        {
          "value": "column",
          "label": "t:options.vertical"
        },
        {
          "value": "row",
          "label": "t:options.horizontal"
        }
      ],
      "default": "column"
    },
    {
      "type": "select",
      "id": "content_direction_mobile",
      "label": "t:settings.direction_on_mobile",
      "options": [
        {
          "value": "column",
          "label": "t:options.vertical"
        },
        {
          "value": "row",
          "label": "t:options.horizontal"
        }
      ],
      "default": "column"
    },
    {
      "type": "select",
      "id": "horizontal_alignment",
      "label": "t:settings.alignment",
      "options": [
        {
          "value": "flex-start",
          "label": "t:options.left"
        },
        {
          "value": "center",
          "label": "t:options.center"
        },
        {
          "value": "flex-end",
          "label": "t:options.right"
        },
        {
          "value": "space-between",
          "label": "t:options.space_between"
        }
      ],
      "default": "flex-start",
      "visible_if": "{{ section.settings.content_direction == 'row' }}"
    },
    {
      "type": "select",
      "id": "horizontal_alignment_mobile",
      "label": "t:settings.mobile_alignment",
      "options": [
        {
          "value": "flex-start",
          "label": "t:options.left"
        },
        {
          "value": "center",
          "label": "t:options.center"
        },
        {
          "value": "flex-end",
          "label": "t:options.right"
        },
        {
          "value": "space-between",
          "label": "t:options.space_between"
        }
      ],
      "default": "flex-start",
      "visible_if": "{{ section.settings.content_direction == 'row' }}"
    },
    {
      "type": "select",
      "id": "vertical_alignment",
      "label": "t:settings.position",
      "options": [
        {
          "value": "flex-start",
          "label": "t:options.top"
        },
        {
          "value": "center",
          "label": "t:options.center"
        },
        {
          "value": "flex-end",
          "label": "t:options.bottom"
        }
      ],
      "default": "center",
      "visible_if": "{{ section.settings.content_direction == 'row' }}"
    },
    {
      "type": "checkbox",
      "id": "align_baseline",
      "label": "t:settings.align_baseline",
      "default": false,
      "visible_if": "{{ section.settings.vertical_alignment == 'flex-end' }}"
    },
    {
      "type": "select",
      "id": "horizontal_alignment_flex_direction_column",
      "label": "t:settings.alignment",
      "options": [
        {
          "value": "flex-start",
          "label": "t:options.left"
        },
        {
          "value": "center",
          "label": "t:options.center"
        },
        {
          "value": "flex-end",
          "label": "t:options.right"
        }
      ],
      "default": "flex-start",
      "visible_if": "{{ section.settings.content_direction != 'row' }}"
    },
    {
      "type": "select",
      "id": "vertical_alignment_flex_direction_column",
      "label": "t:settings.position",
      "options": [
        {
          "value": "flex-start",
          "label": "t:options.top"
        },
        {
          "value": "center",
          "label": "t:options.center"
        },
        {
          "value": "flex-end",
          "label": "t:options.bottom"
        },
        {
          "value": "space-between",
          "label": "t:options.space_between"
        }
      ],
      "default": "center",
      "visible_if": "{{ section.settings.content_direction == 'column' }}"
    },
    {
      "type": "range",
      "id": "gap",
      "label": "t:settings.gap",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 12
    },
    {
      "type": "header",
      "content": "t:content.size"
    },
    {
      "type": "select",
      "id": "section_width",
      "label": "t:settings.width",
      "options": [
        {
          "value": "page-width",
          "label": "t:options.page"
        },
        {
          "value": "full-width",
          "label": "t:options.full"
        },
        {
          "value": "custom",
          "label": "t:options.custom"
        }
      ],
      "default": "page-width"
    },
    {
      "type": "range",
      "id": "page_width_custom",
      "min": 1000,
      "max": 2000,
      "step": 10,
      "default": 1570,
      "unit": "px",
      "label": "t:settings.page_width",
      "visible_if": "{{ section.settings.section_width == 'custom' }}"
    },
    {
      "type": "select",
      "id": "section_height",
      "label": "t:settings.height",
      "options": [
        {
          "value": "",
          "label": "t:options.auto"
        },
        {
          "value": "small",
          "label": "t:options.small"
        },
        {
          "value": "medium",
          "label": "t:options.medium"
        },
        {
          "value": "large",
          "label": "t:options.large"
        },
        {
          "value": "full-screen",
          "label": "t:options.full_screen"
        },
        {
          "value": "custom",
          "label": "t:options.custom"
        }
      ],
      "default": ""
    },
    {
      "type": "range",
      "id": "section_height_custom",
      "label": "t:settings.custom_height",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 50,
      "unit": "%",
      "visible_if": "{{ section.settings.section_height == 'custom' }}"
    },
    {
      "type": "header",
      "content": "t:content.appearance"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:settings.color_scheme",
      "default": "scheme-1"
    },
    {
      "type": "select",
      "id": "background_media",
      "label": "t:settings.background_media",
      "options": [
        {
          "value": "none",
          "label": "t:options.none"
        },
        {
          "value": "image",
          "label": "t:options.image"
        },
        {
          "value": "video",
          "label": "t:options.video"
        }
      ],
      "default": "none"
    },
    {
      "type": "video",
      "id": "video",
      "label": "t:settings.video",
      "visible_if": "{{ section.settings.background_media == 'video' }}"
    },
    {
      "type": "select",
      "id": "video_position",
      "label": "t:settings.video_position",
      "options": [
        {
          "value": "cover",
          "label": "t:options.cover"
        },
        {
          "value": "contain",
          "label": "t:options.contain"
        }
      ],
      "default": "cover",
      "visible_if": "{{ section.settings.background_media == 'video' }}"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "t:settings.image",
      "visible_if": "{{ section.settings.background_media == 'image' }}"
    },
    {
      "type": "select",
      "id": "background_image_position",
      "label": "t:settings.image_position",
      "options": [
        {
          "value": "cover",
          "label": "t:options.cover"
        },
        {
          "value": "fit",
          "label": "t:options.fit"
        }
      ],
      "default": "cover",
      "visible_if": "{{ section.settings.background_media == 'image' }}"
    },
    {
      "type": "select",
      "id": "border",
      "label": "t:settings.borders",
      "options": [
        {
          "value": "none",
          "label": "t:options.none"
        },
        {
          "value": "solid",
          "label": "t:options.solid"
        }
      ],
      "default": "none"
    },
    {
      "type": "range",
      "id": "border_width",
      "min": 0,
      "max": 10,
      "step": 0.5,
      "unit": "px",
      "label": "t:settings.border_width",
      "default": 1,
      "visible_if": "{{ section.settings.border != 'none' }}"
    },
    {
      "type": "range",
      "id": "border_radius",
      "label": "t:settings.border_radius",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0,
      "visible_if": "{{ section.settings.border != 'none' }}"
    },
    {
      "type": "checkbox",
      "id": "toggle_overlay",
      "label": "t:settings.background_overlay"
    },
    {
      "type": "color",
      "id": "overlay_color",
      "label": "t:settings.overlay_color",
      "alpha": true,
      "default": "#00000026",
      "visible_if": "{{ section.settings.toggle_overlay }}"
    },
    {
      "type": "select",
      "id": "overlay_style",
      "label": "t:settings.overlay_style",
      "options": [
        {
          "value": "solid",
          "label": "t:options.solid"
        },
        {
          "value": "gradient",
          "label": "t:options.gradient"
        }
      ],
      "default": "solid",
      "visible_if": "{{ section.settings.toggle_overlay }}"
    },
    {
      "type": "select",
      "id": "gradient_direction",
      "label": "t:settings.gradient_direction",
      "options": [
        {
          "value": "to top",
          "label": "t:options.up"
        },
        {
          "value": "to bottom",
          "label": "t:options.down"
        }
      ],
      "default": "to top",
      "visible_if": "{{ section.settings.toggle_overlay and section.settings.overlay_style == 'gradient' }}"
    },
    {
      "type": "header",
      "content": "t:content.padding"
    },
    {
      "type": "range",
      "id": "padding-block-start",
      "label": "t:settings.top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-block-end",
      "label": "t:settings.bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    }
  ],
  "presets": [
    {
      "name": "t:names.collection_list",
      "category": "t:categories.storytelling",
      "blocks": {
        "static-header": {
          "type": "_product-list-content",
          "name": "t:names.header",
          "static": true,
          "settings": {
            "content_direction": "column",
            "content_direction_mobile": "column",
            "horizontal_alignment": "space-between",
            "vertical_alignment": "center",
            "align_baseline": true,
            "horizontal_alignment_flex_direction_column": "center",
            "vertical_alignment_flex_direction_column": "center",
            "gap": 12,
            "width": "fill",
            "custom_width": 100,
            "width_mobile": "fill",
            "custom_width_mobile": 100,
            "height": "fill",
            "custom_height": 100,
            "inherit_color_scheme": false,
            "background_media": "none",
            "video_position": "cover",
            "background_image_position": "cover",
            "border": "none",
            "border_width": 1,
            "border_radius": 0,
            "padding-block-start": 0,
            "padding-block-end": 0,
            "padding-inline-start": 0,
            "padding-inline-end": 0
          },
          "blocks": {
            "text_TAxGy4": {
              "type": "text",
              "name": "t:names.heading",
              "settings": {
                "text": "<p><em><strong>TOP CATEGORIES</strong></em></p>",
                "typing_text": false,
                "primary_text": "Welcome to our store!",
                "secondary_text": "Exclusive offers just for you.",
                "third_text": "Shop now and enjoy deals!",
                "highlight_text": false,
                "highlight_text_content": "",
                "highlight_text_color": "#000000",
                "spacing_text": false,
                "spacing_text_content": "",
                "spacing_text_left": 0,
                "spacing_text_right": 0,
                "stroke_text": false,
                "stroke_text_content": "",
                "width": "fit-content",
                "unit": "percent",
                "custom_width": 100,
                "custom_width_pixel": 500,
                "inherit_text_alignment": true,
                "alignment": "left",
                "width_tablet": "fit-content",
                "unit_tablet": "percent",
                "custom_width_tablet": 100,
                "custom_width_tablet_pixel": 100,
                "inherit_text_alignment_tablet": true,
                "alignment_tablet": "left",
                "width_mobile": "fit-content",
                "unit_mobile": "percent",
                "custom_width_mobile": 100,
                "custom_width_mobile_pixel": 100,
                "inherit_text_alignment_mobile": true,
                "alignment_mobile": "left",
                "type_preset": "h3",
                "font": "var(--font-body--family)",
                "font_size": "1.6rem",
                "line_height": "normal",
                "letter_spacing": "normal",
                "case": "none",
                "wrap": "pretty",
                "color": "var(--color-foreground)",
                "background": false,
                "background_color": "#00000026",
                "enable_border": false,
                "enable_border_bottom": false,
                "border": "none",
                "border_width": 0,
                "border_width_type": "100%",
                "border_custom_width": 100,
                "border_radius": 0,
                "text_effect": "none",
                "animation_repeat": false,
                "padding-block-start": 0,
                "padding-block-end": 40,
                "padding-inline-start": 0,
                "padding-inline-end": 0
              },
              "blocks": {}
            }
          },
          "block_order": [
            "text_TAxGy4"
          ]
        },
        "static-collection-list": {
          "type": "collection-list",
          "name": "Collection items",
          "static": true,
          "settings": {
            "layout_type": "grid",
            "carousel_on_mobile": false,
            "columns_grid": 4,
            "columns_carousel": 3,
            "mobile_columns_grid": "2",
            "mobile_columns_carousel": "2",
            "vertical_alignment_flex_direction_column": "center",
            "gap": 10,
            "loop": false,
            "navigation": "arrows",
            "pagination_type": "bullets",
            "section_height": "custom",
            "section_height_custom": 50,
            "inherit_color_scheme": true,
            "background_media": "none",
            "video_position": "cover",
            "background_image_position": "cover",
            "toggle_overlay": false,
            "overlay_color": "#00000026",
            "overlay_style": "solid",
            "gradient_direction": "to top",
            "padding-block-start": 0,
            "padding-block-end": 0,
            "padding-inline-start": 0,
            "padding-inline-end": 0
          },
          "blocks": {
            "group_KGnBER": {
              "type": "group",
              "name": "t:names.group",
              "settings": {
                "link": "",
                "open_in_new_tab": false,
                "content_direction": "column",
                "content_direction_mobile": "column",
                "horizontal_alignment": "flex-start",
                "vertical_alignment": "center",
                "align_baseline": false,
                "horizontal_alignment_flex_direction_column": "center",
                "vertical_alignment_flex_direction_column": "center",
                "horizontal_alignment_mobile": "flex-start",
                "vertical_alignment_mobile": "center",
                "horizontal_alignment_flex_direction_column_mobile": "flex-start",
                "vertical_alignment_flex_direction_column_mobile": "center",
                "gap": 12,
                "width": "fill",
                "custom_width": 100,
                "width_mobile": "fill",
                "custom_width_mobile": 100,
                "height": "fill",
                "custom_height": 100,
                "inherit_color_scheme": true,
                "background_media": "image",
                "video_position": "cover",
                "background_image_position": "cover",
                "content_overlay": true,
                "image_ratio": "adapt",
                "border": "none",
                "border_width": 1,
                "border_radius": 0,
                "toggle_overlay": false,
                "overlay_color": "#00000026",
                "extend_left_overlay": false,
                "extend_right_overlay": false,
                "overlay_style": "solid",
                "gradient_direction": "to top",
                "enable_parallax": "none",
                "disable_parallax_mobile": false,
                "parallax_speed": 0.5,
                "horizontal_position": 0,
                "vertical_position": 0,
                "shadow_color": "rgba(0,0,0,0)",
                "shadow_horizontal_offset": 0,
                "shadow_vertical_offset": 0,
                "shadow_blur": 0,
                "spread_radius": 0,
                "margin-block-start": 0,
                "margin-block-start-mobile": 0,
                "margin-block-end": 0,
                "margin-block-end-mobile": 0,
                "margin-inline-start": 0,
                "margin-inline-start-mobile": 0,
                "margin-inline-end": 0,
                "margin-inline-end-mobile": 0,
                "padding-block-start": 0,
                "padding-block-end": 0,
                "padding-inline-start": 0,
                "padding-inline-end": 0
              },
              "blocks": {
                "group_pTh9ba": {
                  "type": "group",
                  "name": "t:names.group",
                  "settings": {
                    "link": "",
                    "open_in_new_tab": false,
                    "content_direction": "column",
                    "content_direction_mobile": "column",
                    "horizontal_alignment": "flex-start",
                    "vertical_alignment": "center",
                    "align_baseline": false,
                    "horizontal_alignment_flex_direction_column": "center",
                    "vertical_alignment_flex_direction_column": "flex-end",
                    "horizontal_alignment_mobile": "flex-start",
                    "vertical_alignment_mobile": "center",
                    "horizontal_alignment_flex_direction_column_mobile": "flex-start",
                    "vertical_alignment_flex_direction_column_mobile": "center",
                    "gap": 12,
                    "width": "fill",
                    "custom_width": 100,
                    "width_mobile": "fill",
                    "custom_width_mobile": 100,
                    "height": "fit",
                    "custom_height": 100,
                    "inherit_color_scheme": true,
                    "background_media": "none",
                    "video_position": "cover",
                    "background_image_position": "cover",
                    "content_overlay": false,
                    "image_ratio": "adapt",
                    "border": "none",
                    "border_width": 1,
                    "border_radius": 0,
                    "toggle_overlay": false,
                    "overlay_color": "#00000026",
                    "extend_left_overlay": false,
                    "extend_right_overlay": false,
                    "overlay_style": "solid",
                    "gradient_direction": "to top",
                    "enable_parallax": "none",
                    "disable_parallax_mobile": false,
                    "parallax_speed": 0.5,
                    "horizontal_position": 0,
                    "vertical_position": 0,
                    "shadow_color": "rgba(0,0,0,0)",
                    "shadow_horizontal_offset": 0,
                    "shadow_vertical_offset": 0,
                    "shadow_blur": 0,
                    "spread_radius": 0,
                    "margin-block-start": 0,
                    "margin-block-start-mobile": 0,
                    "margin-block-end": 0,
                    "margin-block-end-mobile": 0,
                    "margin-inline-start": 0,
                    "margin-inline-start-mobile": 0,
                    "margin-inline-end": 0,
                    "margin-inline-end-mobile": 0,
                    "padding-block-start": 0,
                    "padding-block-end": 0,
                    "padding-inline-start": 0,
                    "padding-inline-end": 0
                  },
                  "blocks": {
                    "button_KL6hrA": {
                      "type": "button",
                      "name": "t:names.button",
                      "settings": {
                        "label": "TOPS",
                        "link": "",
                        "open_in_new_tab": false,
                        "style_class": "button",
                        "button_style": "default",
                        "button_border_width": 1,
                        "button_border_radius": 100,
                        "button_type_font": "var(--font-body--family)",
                        "button_type_size": "1.2rem",
                        "button_font_weight": "default",
                        "button_text_case": "default",
                        "buttons_shadow_horizontal_offset": 0,
                        "buttons_shadow_vertical_offset": 0,
                        "buttons_shadow_blur": 0,
                        "button_type_size_link": "1.2rem",
                        "button_font_weight_link": "default",
                        "link_underline": false,
                        "link_reveal": false,
                        "width": "fit-content",
                        "unit": "percent",
                        "custom_width": 100,
                        "custom_width_pixel": 100,
                        "buttons_padding_vertical": 10,
                        "buttons_padding_horizontal": 20,
                        "width_mobile": "fit-content",
                        "unit_mobile": "percent",
                        "custom_width_mobile": 100,
                        "custom_width_mobile_pixel": 100,
                        "buttons_padding_vertical_mobile": 10,
                        "buttons_padding_horizontal_mobile": 10
                      },
                      "blocks": {}
                    }
                  },
                  "block_order": [
                    "button_KL6hrA"
                  ]
                }
              },
              "block_order": [
                "group_pTh9ba"
              ]
            },
            "group_6CEmrL": {
              "type": "group",
              "name": "t:names.group",
              "settings": {
                "link": "",
                "open_in_new_tab": false,
                "content_direction": "column",
                "content_direction_mobile": "column",
                "horizontal_alignment": "flex-start",
                "vertical_alignment": "center",
                "align_baseline": false,
                "horizontal_alignment_flex_direction_column": "center",
                "vertical_alignment_flex_direction_column": "center",
                "horizontal_alignment_mobile": "flex-start",
                "vertical_alignment_mobile": "center",
                "horizontal_alignment_flex_direction_column_mobile": "flex-start",
                "vertical_alignment_flex_direction_column_mobile": "center",
                "gap": 12,
                "width": "fill",
                "custom_width": 100,
                "width_mobile": "fill",
                "custom_width_mobile": 100,
                "height": "fill",
                "custom_height": 100,
                "inherit_color_scheme": true,
                "background_media": "image",
                "video_position": "cover",
                "background_image_position": "cover",
                "content_overlay": true,
                "image_ratio": "adapt",
                "border": "none",
                "border_width": 1,
                "border_radius": 0,
                "toggle_overlay": false,
                "overlay_color": "#00000026",
                "extend_left_overlay": false,
                "extend_right_overlay": false,
                "overlay_style": "solid",
                "gradient_direction": "to top",
                "enable_parallax": "none",
                "disable_parallax_mobile": false,
                "parallax_speed": 0.5,
                "horizontal_position": 0,
                "vertical_position": 0,
                "shadow_color": "rgba(0,0,0,0)",
                "shadow_horizontal_offset": 0,
                "shadow_vertical_offset": 0,
                "shadow_blur": 0,
                "spread_radius": 0,
                "margin-block-start": 0,
                "margin-block-start-mobile": 0,
                "margin-block-end": 0,
                "margin-block-end-mobile": 0,
                "margin-inline-start": 0,
                "margin-inline-start-mobile": 0,
                "margin-inline-end": 0,
                "margin-inline-end-mobile": 0,
                "padding-block-start": 0,
                "padding-block-end": 0,
                "padding-inline-start": 0,
                "padding-inline-end": 0
              },
              "blocks": {
                "group_HE8dzh": {
                  "type": "group",
                  "name": "t:names.group",
                  "settings": {
                    "link": "",
                    "open_in_new_tab": false,
                    "content_direction": "column",
                    "content_direction_mobile": "column",
                    "horizontal_alignment": "flex-start",
                    "vertical_alignment": "center",
                    "align_baseline": false,
                    "horizontal_alignment_flex_direction_column": "center",
                    "vertical_alignment_flex_direction_column": "flex-end",
                    "horizontal_alignment_mobile": "flex-start",
                    "vertical_alignment_mobile": "center",
                    "horizontal_alignment_flex_direction_column_mobile": "flex-start",
                    "vertical_alignment_flex_direction_column_mobile": "center",
                    "gap": 12,
                    "width": "fill",
                    "custom_width": 100,
                    "width_mobile": "fill",
                    "custom_width_mobile": 100,
                    "height": "fit",
                    "custom_height": 100,
                    "inherit_color_scheme": true,
                    "background_media": "none",
                    "video_position": "cover",
                    "background_image_position": "cover",
                    "content_overlay": false,
                    "image_ratio": "adapt",
                    "border": "none",
                    "border_width": 1,
                    "border_radius": 0,
                    "toggle_overlay": false,
                    "overlay_color": "#00000026",
                    "extend_left_overlay": false,
                    "extend_right_overlay": false,
                    "overlay_style": "solid",
                    "gradient_direction": "to top",
                    "enable_parallax": "none",
                    "disable_parallax_mobile": false,
                    "parallax_speed": 0.5,
                    "horizontal_position": 0,
                    "vertical_position": 0,
                    "shadow_color": "rgba(0,0,0,0)",
                    "shadow_horizontal_offset": 0,
                    "shadow_vertical_offset": 0,
                    "shadow_blur": 0,
                    "spread_radius": 0,
                    "margin-block-start": 0,
                    "margin-block-start-mobile": 0,
                    "margin-block-end": 0,
                    "margin-block-end-mobile": 0,
                    "margin-inline-start": 0,
                    "margin-inline-start-mobile": 0,
                    "margin-inline-end": 0,
                    "margin-inline-end-mobile": 0,
                    "padding-block-start": 0,
                    "padding-block-end": 0,
                    "padding-inline-start": 0,
                    "padding-inline-end": 0
                  },
                  "blocks": {
                    "button_aqnX87": {
                      "type": "button",
                      "name": "t:names.button",
                      "settings": {
                        "label": "BOTTOMS",
                        "link": "",
                        "open_in_new_tab": false,
                        "style_class": "button",
                        "button_style": "default",
                        "button_border_width": 1,
                        "button_border_radius": 100,
                        "button_type_font": "var(--font-body--family)",
                        "button_type_size": "1.2rem",
                        "button_font_weight": "default",
                        "button_text_case": "default",
                        "buttons_shadow_horizontal_offset": 0,
                        "buttons_shadow_vertical_offset": 0,
                        "buttons_shadow_blur": 0,
                        "button_type_size_link": "1.2rem",
                        "button_font_weight_link": "default",
                        "link_underline": false,
                        "link_reveal": false,
                        "width": "fit-content",
                        "unit": "percent",
                        "custom_width": 100,
                        "custom_width_pixel": 100,
                        "buttons_padding_vertical": 10,
                        "buttons_padding_horizontal": 20,
                        "width_mobile": "fit-content",
                        "unit_mobile": "percent",
                        "custom_width_mobile": 100,
                        "custom_width_mobile_pixel": 100,
                        "buttons_padding_vertical_mobile": 10,
                        "buttons_padding_horizontal_mobile": 10
                      },
                      "blocks": {}
                    }
                  },
                  "block_order": [
                    "button_aqnX87"
                  ]
                }
              },
              "block_order": [
                "group_HE8dzh"
              ]
            },
            "group_yLyLcA": {
              "type": "group",
              "name": "t:names.group",
              "settings": {
                "link": "",
                "open_in_new_tab": false,
                "content_direction": "column",
                "content_direction_mobile": "column",
                "horizontal_alignment": "flex-start",
                "vertical_alignment": "center",
                "align_baseline": false,
                "horizontal_alignment_flex_direction_column": "center",
                "vertical_alignment_flex_direction_column": "center",
                "horizontal_alignment_mobile": "flex-start",
                "vertical_alignment_mobile": "center",
                "horizontal_alignment_flex_direction_column_mobile": "flex-start",
                "vertical_alignment_flex_direction_column_mobile": "center",
                "gap": 12,
                "width": "fill",
                "custom_width": 100,
                "width_mobile": "fill",
                "custom_width_mobile": 100,
                "height": "fill",
                "custom_height": 100,
                "inherit_color_scheme": true,
                "background_media": "image",
                "video_position": "cover",
                "background_image_position": "cover",
                "content_overlay": true,
                "image_ratio": "adapt",
                "border": "none",
                "border_width": 1,
                "border_radius": 0,
                "toggle_overlay": false,
                "overlay_color": "#00000026",
                "extend_left_overlay": false,
                "extend_right_overlay": false,
                "overlay_style": "solid",
                "gradient_direction": "to top",
                "enable_parallax": "none",
                "disable_parallax_mobile": false,
                "parallax_speed": 0.5,
                "horizontal_position": 0,
                "vertical_position": 0,
                "shadow_color": "rgba(0,0,0,0)",
                "shadow_horizontal_offset": 0,
                "shadow_vertical_offset": 0,
                "shadow_blur": 0,
                "spread_radius": 0,
                "margin-block-start": 0,
                "margin-block-start-mobile": 0,
                "margin-block-end": 0,
                "margin-block-end-mobile": 0,
                "margin-inline-start": 0,
                "margin-inline-start-mobile": 0,
                "margin-inline-end": 0,
                "margin-inline-end-mobile": 0,
                "padding-block-start": 0,
                "padding-block-end": 0,
                "padding-inline-start": 0,
                "padding-inline-end": 0
              },
              "blocks": {
                "group_8aeqkD": {
                  "type": "group",
                  "name": "t:names.group",
                  "settings": {
                    "link": "",
                    "open_in_new_tab": false,
                    "content_direction": "column",
                    "content_direction_mobile": "column",
                    "horizontal_alignment": "flex-start",
                    "vertical_alignment": "center",
                    "align_baseline": false,
                    "horizontal_alignment_flex_direction_column": "center",
                    "vertical_alignment_flex_direction_column": "flex-end",
                    "horizontal_alignment_mobile": "flex-start",
                    "vertical_alignment_mobile": "center",
                    "horizontal_alignment_flex_direction_column_mobile": "flex-start",
                    "vertical_alignment_flex_direction_column_mobile": "center",
                    "gap": 12,
                    "width": "fill",
                    "custom_width": 100,
                    "width_mobile": "fill",
                    "custom_width_mobile": 100,
                    "height": "fit",
                    "custom_height": 100,
                    "inherit_color_scheme": true,
                    "background_media": "none",
                    "video_position": "cover",
                    "background_image_position": "cover",
                    "content_overlay": false,
                    "image_ratio": "adapt",
                    "border": "none",
                    "border_width": 1,
                    "border_radius": 0,
                    "toggle_overlay": false,
                    "overlay_color": "#00000026",
                    "extend_left_overlay": false,
                    "extend_right_overlay": false,
                    "overlay_style": "solid",
                    "gradient_direction": "to top",
                    "enable_parallax": "none",
                    "disable_parallax_mobile": false,
                    "parallax_speed": 0.5,
                    "horizontal_position": 0,
                    "vertical_position": 0,
                    "shadow_color": "rgba(0,0,0,0)",
                    "shadow_horizontal_offset": 0,
                    "shadow_vertical_offset": 0,
                    "shadow_blur": 0,
                    "spread_radius": 0,
                    "margin-block-start": 0,
                    "margin-block-start-mobile": 0,
                    "margin-block-end": 0,
                    "margin-block-end-mobile": 0,
                    "margin-inline-start": 0,
                    "margin-inline-start-mobile": 0,
                    "margin-inline-end": 0,
                    "margin-inline-end-mobile": 0,
                    "padding-block-start": 0,
                    "padding-block-end": 0,
                    "padding-inline-start": 0,
                    "padding-inline-end": 0
                  },
                  "blocks": {
                    "button_UrPJQP": {
                      "type": "button",
                      "name": "t:names.button",
                      "settings": {
                        "label": "CASUAL",
                        "link": "",
                        "open_in_new_tab": false,
                        "style_class": "button",
                        "button_style": "default",
                        "button_border_width": 1,
                        "button_border_radius": 100,
                        "button_type_font": "var(--font-body--family)",
                        "button_type_size": "1.2rem",
                        "button_font_weight": "default",
                        "button_text_case": "default",
                        "buttons_shadow_horizontal_offset": 0,
                        "buttons_shadow_vertical_offset": 0,
                        "buttons_shadow_blur": 0,
                        "button_type_size_link": "1.2rem",
                        "button_font_weight_link": "default",
                        "link_underline": false,
                        "link_reveal": false,
                        "width": "fit-content",
                        "unit": "percent",
                        "custom_width": 100,
                        "custom_width_pixel": 100,
                        "buttons_padding_vertical": 10,
                        "buttons_padding_horizontal": 20,
                        "width_mobile": "fit-content",
                        "unit_mobile": "percent",
                        "custom_width_mobile": 100,
                        "custom_width_mobile_pixel": 100,
                        "buttons_padding_vertical_mobile": 10,
                        "buttons_padding_horizontal_mobile": 10
                      },
                      "blocks": {}
                    }
                  },
                  "block_order": [
                    "button_UrPJQP"
                  ]
                }
              },
              "block_order": [
                "group_8aeqkD"
              ]
            },
            "group_cYeXri": {
              "type": "group",
              "name": "t:names.group",
              "settings": {
                "link": "",
                "open_in_new_tab": false,
                "content_direction": "column",
                "content_direction_mobile": "column",
                "horizontal_alignment": "flex-start",
                "vertical_alignment": "center",
                "align_baseline": false,
                "horizontal_alignment_flex_direction_column": "center",
                "vertical_alignment_flex_direction_column": "center",
                "horizontal_alignment_mobile": "flex-start",
                "vertical_alignment_mobile": "center",
                "horizontal_alignment_flex_direction_column_mobile": "flex-start",
                "vertical_alignment_flex_direction_column_mobile": "center",
                "gap": 12,
                "width": "fill",
                "custom_width": 100,
                "width_mobile": "fill",
                "custom_width_mobile": 100,
                "height": "fill",
                "custom_height": 100,
                "inherit_color_scheme": true,
                "background_media": "image",
                "video_position": "cover",
                "background_image_position": "cover",
                "content_overlay": true,
                "image_ratio": "adapt",
                "border": "none",
                "border_width": 1,
                "border_radius": 0,
                "toggle_overlay": false,
                "overlay_color": "#00000026",
                "extend_left_overlay": false,
                "extend_right_overlay": false,
                "overlay_style": "solid",
                "gradient_direction": "to top",
                "enable_parallax": "none",
                "disable_parallax_mobile": false,
                "parallax_speed": 0.5,
                "horizontal_position": 0,
                "vertical_position": 0,
                "shadow_color": "rgba(0,0,0,0)",
                "shadow_horizontal_offset": 0,
                "shadow_vertical_offset": 0,
                "shadow_blur": 0,
                "spread_radius": 0,
                "margin-block-start": 0,
                "margin-block-start-mobile": 0,
                "margin-block-end": 0,
                "margin-block-end-mobile": 0,
                "margin-inline-start": 0,
                "margin-inline-start-mobile": 0,
                "margin-inline-end": 0,
                "margin-inline-end-mobile": 0,
                "padding-block-start": 0,
                "padding-block-end": 0,
                "padding-inline-start": 0,
                "padding-inline-end": 0
              },
              "blocks": {
                "group_XqCwAT": {
                  "type": "group",
                  "name": "t:names.group",
                  "settings": {
                    "link": "",
                    "open_in_new_tab": false,
                    "content_direction": "column",
                    "content_direction_mobile": "column",
                    "horizontal_alignment": "flex-start",
                    "vertical_alignment": "center",
                    "align_baseline": false,
                    "horizontal_alignment_flex_direction_column": "center",
                    "vertical_alignment_flex_direction_column": "flex-end",
                    "horizontal_alignment_mobile": "flex-start",
                    "vertical_alignment_mobile": "center",
                    "horizontal_alignment_flex_direction_column_mobile": "flex-start",
                    "vertical_alignment_flex_direction_column_mobile": "center",
                    "gap": 12,
                    "width": "fill",
                    "custom_width": 100,
                    "width_mobile": "fill",
                    "custom_width_mobile": 100,
                    "height": "fit",
                    "custom_height": 100,
                    "inherit_color_scheme": true,
                    "background_media": "none",
                    "video_position": "cover",
                    "background_image_position": "cover",
                    "content_overlay": false,
                    "image_ratio": "adapt",
                    "border": "none",
                    "border_width": 1,
                    "border_radius": 0,
                    "toggle_overlay": false,
                    "overlay_color": "#00000026",
                    "extend_left_overlay": false,
                    "extend_right_overlay": false,
                    "overlay_style": "solid",
                    "gradient_direction": "to top",
                    "enable_parallax": "none",
                    "disable_parallax_mobile": false,
                    "parallax_speed": 0.5,
                    "horizontal_position": 0,
                    "vertical_position": 0,
                    "shadow_color": "rgba(0,0,0,0)",
                    "shadow_horizontal_offset": 0,
                    "shadow_vertical_offset": 0,
                    "shadow_blur": 0,
                    "spread_radius": 0,
                    "margin-block-start": 0,
                    "margin-block-start-mobile": 0,
                    "margin-block-end": 0,
                    "margin-block-end-mobile": 0,
                    "margin-inline-start": 0,
                    "margin-inline-start-mobile": 0,
                    "margin-inline-end": 0,
                    "margin-inline-end-mobile": 0,
                    "padding-block-start": 0,
                    "padding-block-end": 0,
                    "padding-inline-start": 0,
                    "padding-inline-end": 0
                  },
                  "blocks": {
                    "button_GLrqVU": {
                      "type": "button",
                      "name": "t:names.button",
                      "settings": {
                        "label": "DRESSES",
                        "link": "",
                        "open_in_new_tab": false,
                        "style_class": "button",
                        "button_style": "default",
                        "button_border_width": 1,
                        "button_border_radius": 100,
                        "button_type_font": "var(--font-body--family)",
                        "button_type_size": "1.2rem",
                        "button_font_weight": "default",
                        "button_text_case": "default",
                        "buttons_shadow_horizontal_offset": 0,
                        "buttons_shadow_vertical_offset": 0,
                        "buttons_shadow_blur": 0,
                        "button_type_size_link": "1.2rem",
                        "button_font_weight_link": "default",
                        "link_underline": false,
                        "link_reveal": false,
                        "width": "fit-content",
                        "unit": "percent",
                        "custom_width": 100,
                        "custom_width_pixel": 100,
                        "buttons_padding_vertical": 10,
                        "buttons_padding_horizontal": 20,
                        "width_mobile": "fit-content",
                        "unit_mobile": "percent",
                        "custom_width_mobile": 100,
                        "custom_width_mobile_pixel": 100,
                        "buttons_padding_vertical_mobile": 10,
                        "buttons_padding_horizontal_mobile": 10
                      },
                      "blocks": {}
                    }
                  },
                  "block_order": [
                    "button_GLrqVU"
                  ]
                }
              },
              "block_order": [
                "group_XqCwAT"
              ]
            },
            "group_7hEKth": {
              "type": "group",
              "name": "t:names.group",
              "settings": {
                "link": "",
                "open_in_new_tab": false,
                "content_direction": "column",
                "content_direction_mobile": "column",
                "horizontal_alignment": "flex-start",
                "vertical_alignment": "center",
                "align_baseline": false,
                "horizontal_alignment_flex_direction_column": "center",
                "vertical_alignment_flex_direction_column": "center",
                "horizontal_alignment_mobile": "flex-start",
                "vertical_alignment_mobile": "center",
                "horizontal_alignment_flex_direction_column_mobile": "flex-start",
                "vertical_alignment_flex_direction_column_mobile": "center",
                "gap": 12,
                "width": "fill",
                "custom_width": 100,
                "width_mobile": "fill",
                "custom_width_mobile": 100,
                "height": "fill",
                "custom_height": 100,
                "inherit_color_scheme": true,
                "background_media": "image",
                "video_position": "cover",
                "background_image_position": "cover",
                "content_overlay": true,
                "image_ratio": "adapt",
                "border": "none",
                "border_width": 1,
                "border_radius": 0,
                "toggle_overlay": false,
                "overlay_color": "#00000026",
                "extend_left_overlay": false,
                "extend_right_overlay": false,
                "overlay_style": "solid",
                "gradient_direction": "to top",
                "enable_parallax": "none",
                "disable_parallax_mobile": false,
                "parallax_speed": 0.5,
                "horizontal_position": 0,
                "vertical_position": 0,
                "shadow_color": "rgba(0,0,0,0)",
                "shadow_horizontal_offset": 0,
                "shadow_vertical_offset": 0,
                "shadow_blur": 0,
                "spread_radius": 0,
                "margin-block-start": 0,
                "margin-block-start-mobile": 0,
                "margin-block-end": 0,
                "margin-block-end-mobile": 0,
                "margin-inline-start": 0,
                "margin-inline-start-mobile": 0,
                "margin-inline-end": 0,
                "margin-inline-end-mobile": 0,
                "padding-block-start": 0,
                "padding-block-end": 0,
                "padding-inline-start": 0,
                "padding-inline-end": 0
              },
              "blocks": {
                "group_UhaRw3": {
                  "type": "group",
                  "name": "t:names.group",
                  "settings": {
                    "link": "",
                    "open_in_new_tab": false,
                    "content_direction": "column",
                    "content_direction_mobile": "column",
                    "horizontal_alignment": "flex-start",
                    "vertical_alignment": "center",
                    "align_baseline": false,
                    "horizontal_alignment_flex_direction_column": "center",
                    "vertical_alignment_flex_direction_column": "flex-end",
                    "horizontal_alignment_mobile": "flex-start",
                    "vertical_alignment_mobile": "center",
                    "horizontal_alignment_flex_direction_column_mobile": "flex-start",
                    "vertical_alignment_flex_direction_column_mobile": "center",
                    "gap": 12,
                    "width": "fill",
                    "custom_width": 100,
                    "width_mobile": "fill",
                    "custom_width_mobile": 100,
                    "height": "fit",
                    "custom_height": 100,
                    "inherit_color_scheme": true,
                    "background_media": "none",
                    "video_position": "cover",
                    "background_image_position": "cover",
                    "content_overlay": false,
                    "image_ratio": "adapt",
                    "border": "none",
                    "border_width": 1,
                    "border_radius": 0,
                    "toggle_overlay": false,
                    "overlay_color": "#00000026",
                    "extend_left_overlay": false,
                    "extend_right_overlay": false,
                    "overlay_style": "solid",
                    "gradient_direction": "to top",
                    "enable_parallax": "none",
                    "disable_parallax_mobile": false,
                    "parallax_speed": 0.5,
                    "horizontal_position": 0,
                    "vertical_position": 0,
                    "shadow_color": "rgba(0,0,0,0)",
                    "shadow_horizontal_offset": 0,
                    "shadow_vertical_offset": 0,
                    "shadow_blur": 0,
                    "spread_radius": 0,
                    "margin-block-start": 0,
                    "margin-block-start-mobile": 0,
                    "margin-block-end": 0,
                    "margin-block-end-mobile": 0,
                    "margin-inline-start": 0,
                    "margin-inline-start-mobile": 0,
                    "margin-inline-end": 0,
                    "margin-inline-end-mobile": 0,
                    "padding-block-start": 0,
                    "padding-block-end": 0,
                    "padding-inline-start": 0,
                    "padding-inline-end": 0
                  },
                  "blocks": {
                    "button_mV8yaM": {
                      "type": "button",
                      "name": "t:names.button",
                      "settings": {
                        "label": "FORMAL",
                        "link": "",
                        "open_in_new_tab": false,
                        "style_class": "button",
                        "button_style": "default",
                        "button_border_width": 1,
                        "button_border_radius": 100,
                        "button_type_font": "var(--font-body--family)",
                        "button_type_size": "1.2rem",
                        "button_font_weight": "default",
                        "button_text_case": "default",
                        "buttons_shadow_horizontal_offset": 0,
                        "buttons_shadow_vertical_offset": 0,
                        "buttons_shadow_blur": 0,
                        "button_type_size_link": "1.2rem",
                        "button_font_weight_link": "default",
                        "link_underline": false,
                        "link_reveal": false,
                        "width": "fit-content",
                        "unit": "percent",
                        "custom_width": 100,
                        "custom_width_pixel": 100,
                        "buttons_padding_vertical": 10,
                        "buttons_padding_horizontal": 20,
                        "width_mobile": "fit-content",
                        "unit_mobile": "percent",
                        "custom_width_mobile": 100,
                        "custom_width_mobile_pixel": 100,
                        "buttons_padding_vertical_mobile": 10,
                        "buttons_padding_horizontal_mobile": 10
                      },
                      "blocks": {}
                    }
                  },
                  "block_order": [
                    "button_mV8yaM"
                  ]
                }
              },
              "block_order": [
                "group_UhaRw3"
              ]
            },
            "group_MrWKF9": {
              "type": "group",
              "name": "t:names.group",
              "settings": {
                "link": "",
                "open_in_new_tab": false,
                "content_direction": "column",
                "content_direction_mobile": "column",
                "horizontal_alignment": "flex-start",
                "vertical_alignment": "center",
                "align_baseline": false,
                "horizontal_alignment_flex_direction_column": "center",
                "vertical_alignment_flex_direction_column": "center",
                "horizontal_alignment_mobile": "flex-start",
                "vertical_alignment_mobile": "center",
                "horizontal_alignment_flex_direction_column_mobile": "flex-start",
                "vertical_alignment_flex_direction_column_mobile": "center",
                "gap": 12,
                "width": "fill",
                "custom_width": 100,
                "width_mobile": "fill",
                "custom_width_mobile": 100,
                "height": "fill",
                "custom_height": 100,
                "inherit_color_scheme": true,
                "background_media": "image",
                "video_position": "cover",
                "background_image_position": "cover",
                "content_overlay": true,
                "image_ratio": "adapt",
                "border": "none",
                "border_width": 1,
                "border_radius": 0,
                "toggle_overlay": false,
                "overlay_color": "#00000026",
                "extend_left_overlay": false,
                "extend_right_overlay": false,
                "overlay_style": "solid",
                "gradient_direction": "to top",
                "enable_parallax": "none",
                "disable_parallax_mobile": false,
                "parallax_speed": 0.5,
                "horizontal_position": 0,
                "vertical_position": 0,
                "shadow_color": "rgba(0,0,0,0)",
                "shadow_horizontal_offset": 0,
                "shadow_vertical_offset": 0,
                "shadow_blur": 0,
                "spread_radius": 0,
                "margin-block-start": 0,
                "margin-block-start-mobile": 0,
                "margin-block-end": 0,
                "margin-block-end-mobile": 0,
                "margin-inline-start": 0,
                "margin-inline-start-mobile": 0,
                "margin-inline-end": 0,
                "margin-inline-end-mobile": 0,
                "padding-block-start": 0,
                "padding-block-end": 0,
                "padding-inline-start": 0,
                "padding-inline-end": 0
              },
              "blocks": {
                "group_i6qJrg": {
                  "type": "group",
                  "name": "t:names.group",
                  "settings": {
                    "link": "",
                    "open_in_new_tab": false,
                    "content_direction": "column",
                    "content_direction_mobile": "column",
                    "horizontal_alignment": "flex-start",
                    "vertical_alignment": "center",
                    "align_baseline": false,
                    "horizontal_alignment_flex_direction_column": "center",
                    "vertical_alignment_flex_direction_column": "flex-end",
                    "horizontal_alignment_mobile": "flex-start",
                    "vertical_alignment_mobile": "center",
                    "horizontal_alignment_flex_direction_column_mobile": "flex-start",
                    "vertical_alignment_flex_direction_column_mobile": "center",
                    "gap": 12,
                    "width": "fill",
                    "custom_width": 100,
                    "width_mobile": "fill",
                    "custom_width_mobile": 100,
                    "height": "fit",
                    "custom_height": 100,
                    "inherit_color_scheme": true,
                    "background_media": "none",
                    "video_position": "cover",
                    "background_image_position": "cover",
                    "content_overlay": false,
                    "image_ratio": "adapt",
                    "border": "none",
                    "border_width": 1,
                    "border_radius": 0,
                    "toggle_overlay": false,
                    "overlay_color": "#00000026",
                    "extend_left_overlay": false,
                    "extend_right_overlay": false,
                    "overlay_style": "solid",
                    "gradient_direction": "to top",
                    "enable_parallax": "none",
                    "disable_parallax_mobile": false,
                    "parallax_speed": 0.5,
                    "horizontal_position": 0,
                    "vertical_position": 0,
                    "shadow_color": "rgba(0,0,0,0)",
                    "shadow_horizontal_offset": 0,
                    "shadow_vertical_offset": 0,
                    "shadow_blur": 0,
                    "spread_radius": 0,
                    "margin-block-start": 0,
                    "margin-block-start-mobile": 0,
                    "margin-block-end": 0,
                    "margin-block-end-mobile": 0,
                    "margin-inline-start": 0,
                    "margin-inline-start-mobile": 0,
                    "margin-inline-end": 0,
                    "margin-inline-end-mobile": 0,
                    "padding-block-start": 0,
                    "padding-block-end": 0,
                    "padding-inline-start": 0,
                    "padding-inline-end": 0
                  },
                  "blocks": {
                    "button_aHTCYE": {
                      "type": "button",
                      "name": "t:names.button",
                      "settings": {
                        "label": "SWIMWEAR",
                        "link": "",
                        "open_in_new_tab": false,
                        "style_class": "button",
                        "button_style": "default",
                        "button_border_width": 1,
                        "button_border_radius": 100,
                        "button_type_font": "var(--font-body--family)",
                        "button_type_size": "1.2rem",
                        "button_font_weight": "default",
                        "button_text_case": "default",
                        "buttons_shadow_horizontal_offset": 0,
                        "buttons_shadow_vertical_offset": 0,
                        "buttons_shadow_blur": 0,
                        "button_type_size_link": "1.2rem",
                        "button_font_weight_link": "default",
                        "link_underline": false,
                        "link_reveal": false,
                        "width": "fit-content",
                        "unit": "percent",
                        "custom_width": 100,
                        "custom_width_pixel": 100,
                        "buttons_padding_vertical": 10,
                        "buttons_padding_horizontal": 20,
                        "width_mobile": "fit-content",
                        "unit_mobile": "percent",
                        "custom_width_mobile": 100,
                        "custom_width_mobile_pixel": 100,
                        "buttons_padding_vertical_mobile": 10,
                        "buttons_padding_horizontal_mobile": 10
                      },
                      "blocks": {}
                    }
                  },
                  "block_order": [
                    "button_aHTCYE"
                  ]
                }
              },
              "block_order": [
                "group_i6qJrg"
              ]
            },
            "group_KWdny6": {
              "type": "group",
              "name": "t:names.group",
              "settings": {
                "link": "",
                "open_in_new_tab": false,
                "content_direction": "column",
                "content_direction_mobile": "column",
                "horizontal_alignment": "flex-start",
                "vertical_alignment": "center",
                "align_baseline": false,
                "horizontal_alignment_flex_direction_column": "center",
                "vertical_alignment_flex_direction_column": "center",
                "horizontal_alignment_mobile": "flex-start",
                "vertical_alignment_mobile": "center",
                "horizontal_alignment_flex_direction_column_mobile": "flex-start",
                "vertical_alignment_flex_direction_column_mobile": "center",
                "gap": 12,
                "width": "fill",
                "custom_width": 100,
                "width_mobile": "fill",
                "custom_width_mobile": 100,
                "height": "fill",
                "custom_height": 100,
                "inherit_color_scheme": true,
                "background_media": "image",
                "video_position": "cover",
                "background_image_position": "cover",
                "content_overlay": true,
                "image_ratio": "adapt",
                "border": "none",
                "border_width": 1,
                "border_radius": 0,
                "toggle_overlay": false,
                "overlay_color": "#00000026",
                "extend_left_overlay": false,
                "extend_right_overlay": false,
                "overlay_style": "solid",
                "gradient_direction": "to top",
                "enable_parallax": "none",
                "disable_parallax_mobile": false,
                "parallax_speed": 0.5,
                "horizontal_position": 0,
                "vertical_position": 0,
                "shadow_color": "rgba(0,0,0,0)",
                "shadow_horizontal_offset": 0,
                "shadow_vertical_offset": 0,
                "shadow_blur": 0,
                "spread_radius": 0,
                "margin-block-start": 0,
                "margin-block-start-mobile": 0,
                "margin-block-end": 0,
                "margin-block-end-mobile": 0,
                "margin-inline-start": 0,
                "margin-inline-start-mobile": 0,
                "margin-inline-end": 0,
                "margin-inline-end-mobile": 0,
                "padding-block-start": 0,
                "padding-block-end": 0,
                "padding-inline-start": 0,
                "padding-inline-end": 0
              },
              "blocks": {
                "group_DRPw9g": {
                  "type": "group",
                  "name": "t:names.group",
                  "settings": {
                    "link": "",
                    "open_in_new_tab": false,
                    "content_direction": "column",
                    "content_direction_mobile": "column",
                    "horizontal_alignment": "flex-start",
                    "vertical_alignment": "center",
                    "align_baseline": false,
                    "horizontal_alignment_flex_direction_column": "center",
                    "vertical_alignment_flex_direction_column": "flex-end",
                    "horizontal_alignment_mobile": "flex-start",
                    "vertical_alignment_mobile": "center",
                    "horizontal_alignment_flex_direction_column_mobile": "flex-start",
                    "vertical_alignment_flex_direction_column_mobile": "center",
                    "gap": 12,
                    "width": "fill",
                    "custom_width": 100,
                    "width_mobile": "fill",
                    "custom_width_mobile": 100,
                    "height": "fit",
                    "custom_height": 100,
                    "inherit_color_scheme": true,
                    "background_media": "none",
                    "video_position": "cover",
                    "background_image_position": "cover",
                    "content_overlay": false,
                    "image_ratio": "adapt",
                    "border": "none",
                    "border_width": 1,
                    "border_radius": 0,
                    "toggle_overlay": false,
                    "overlay_color": "#00000026",
                    "extend_left_overlay": false,
                    "extend_right_overlay": false,
                    "overlay_style": "solid",
                    "gradient_direction": "to top",
                    "enable_parallax": "none",
                    "disable_parallax_mobile": false,
                    "parallax_speed": 0.5,
                    "horizontal_position": 0,
                    "vertical_position": 0,
                    "shadow_color": "rgba(0,0,0,0)",
                    "shadow_horizontal_offset": 0,
                    "shadow_vertical_offset": 0,
                    "shadow_blur": 0,
                    "spread_radius": 0,
                    "margin-block-start": 0,
                    "margin-block-start-mobile": 0,
                    "margin-block-end": 0,
                    "margin-block-end-mobile": 0,
                    "margin-inline-start": 0,
                    "margin-inline-start-mobile": 0,
                    "margin-inline-end": 0,
                    "margin-inline-end-mobile": 0,
                    "padding-block-start": 0,
                    "padding-block-end": 0,
                    "padding-inline-start": 0,
                    "padding-inline-end": 0
                  },
                  "blocks": {
                    "button_Gb4pVA": {
                      "type": "button",
                      "name": "t:names.button",
                      "settings": {
                        "label": "SHOES",
                        "link": "",
                        "open_in_new_tab": false,
                        "style_class": "button",
                        "button_style": "default",
                        "button_border_width": 1,
                        "button_border_radius": 100,
                        "button_type_font": "var(--font-body--family)",
                        "button_type_size": "1.2rem",
                        "button_font_weight": "default",
                        "button_text_case": "default",
                        "buttons_shadow_horizontal_offset": 0,
                        "buttons_shadow_vertical_offset": 0,
                        "buttons_shadow_blur": 0,
                        "button_type_size_link": "1.2rem",
                        "button_font_weight_link": "default",
                        "link_underline": false,
                        "link_reveal": false,
                        "width": "fit-content",
                        "unit": "percent",
                        "custom_width": 100,
                        "custom_width_pixel": 100,
                        "buttons_padding_vertical": 10,
                        "buttons_padding_horizontal": 20,
                        "width_mobile": "fit-content",
                        "unit_mobile": "percent",
                        "custom_width_mobile": 100,
                        "custom_width_mobile_pixel": 100,
                        "buttons_padding_vertical_mobile": 10,
                        "buttons_padding_horizontal_mobile": 10
                      },
                      "blocks": {}
                    }
                  },
                  "block_order": [
                    "button_Gb4pVA"
                  ]
                }
              },
              "block_order": [
                "group_DRPw9g"
              ]
            },
            "group_6XxfyB": {
              "type": "group",
              "name": "t:names.group",
              "settings": {
                "link": "",
                "open_in_new_tab": false,
                "content_direction": "column",
                "content_direction_mobile": "column",
                "horizontal_alignment": "flex-start",
                "vertical_alignment": "center",
                "align_baseline": false,
                "horizontal_alignment_flex_direction_column": "center",
                "vertical_alignment_flex_direction_column": "center",
                "horizontal_alignment_mobile": "flex-start",
                "vertical_alignment_mobile": "center",
                "horizontal_alignment_flex_direction_column_mobile": "flex-start",
                "vertical_alignment_flex_direction_column_mobile": "center",
                "gap": 12,
                "width": "fill",
                "custom_width": 100,
                "width_mobile": "fill",
                "custom_width_mobile": 100,
                "height": "fill",
                "custom_height": 100,
                "inherit_color_scheme": true,
                "background_media": "image",
                "video_position": "cover",
                "background_image_position": "cover",
                "content_overlay": true,
                "image_ratio": "adapt",
                "border": "none",
                "border_width": 1,
                "border_radius": 0,
                "toggle_overlay": false,
                "overlay_color": "#00000026",
                "extend_left_overlay": false,
                "extend_right_overlay": false,
                "overlay_style": "solid",
                "gradient_direction": "to top",
                "enable_parallax": "none",
                "disable_parallax_mobile": false,
                "parallax_speed": 0.5,
                "horizontal_position": 0,
                "vertical_position": 0,
                "shadow_color": "rgba(0,0,0,0)",
                "shadow_horizontal_offset": 0,
                "shadow_vertical_offset": 0,
                "shadow_blur": 0,
                "spread_radius": 0,
                "margin-block-start": 0,
                "margin-block-start-mobile": 0,
                "margin-block-end": 0,
                "margin-block-end-mobile": 0,
                "margin-inline-start": 0,
                "margin-inline-start-mobile": 0,
                "margin-inline-end": 0,
                "margin-inline-end-mobile": 0,
                "padding-block-start": 0,
                "padding-block-end": 0,
                "padding-inline-start": 0,
                "padding-inline-end": 0
              },
              "blocks": {
                "group_mECUFM": {
                  "type": "group",
                  "name": "t:names.group",
                  "settings": {
                    "link": "",
                    "open_in_new_tab": false,
                    "content_direction": "column",
                    "content_direction_mobile": "column",
                    "horizontal_alignment": "flex-start",
                    "vertical_alignment": "center",
                    "align_baseline": false,
                    "horizontal_alignment_flex_direction_column": "center",
                    "vertical_alignment_flex_direction_column": "flex-end",
                    "horizontal_alignment_mobile": "flex-start",
                    "vertical_alignment_mobile": "center",
                    "horizontal_alignment_flex_direction_column_mobile": "flex-start",
                    "vertical_alignment_flex_direction_column_mobile": "center",
                    "gap": 12,
                    "width": "fill",
                    "custom_width": 100,
                    "width_mobile": "fill",
                    "custom_width_mobile": 100,
                    "height": "fit",
                    "custom_height": 100,
                    "inherit_color_scheme": true,
                    "background_media": "none",
                    "video_position": "cover",
                    "background_image_position": "cover",
                    "content_overlay": false,
                    "image_ratio": "adapt",
                    "border": "none",
                    "border_width": 1,
                    "border_radius": 0,
                    "toggle_overlay": false,
                    "overlay_color": "#00000026",
                    "extend_left_overlay": false,
                    "extend_right_overlay": false,
                    "overlay_style": "solid",
                    "gradient_direction": "to top",
                    "enable_parallax": "none",
                    "disable_parallax_mobile": false,
                    "parallax_speed": 0.5,
                    "horizontal_position": 0,
                    "vertical_position": 0,
                    "shadow_color": "rgba(0,0,0,0)",
                    "shadow_horizontal_offset": 0,
                    "shadow_vertical_offset": 0,
                    "shadow_blur": 0,
                    "spread_radius": 0,
                    "margin-block-start": 0,
                    "margin-block-start-mobile": 0,
                    "margin-block-end": 0,
                    "margin-block-end-mobile": 0,
                    "margin-inline-start": 0,
                    "margin-inline-start-mobile": 0,
                    "margin-inline-end": 0,
                    "margin-inline-end-mobile": 0,
                    "padding-block-start": 0,
                    "padding-block-end": 0,
                    "padding-inline-start": 0,
                    "padding-inline-end": 0
                  },
                  "blocks": {
                    "button_n69BYx": {
                      "type": "button",
                      "name": "t:names.button",
                      "settings": {
                        "label": "ACCESSORIES",
                        "link": "",
                        "open_in_new_tab": false,
                        "style_class": "button",
                        "button_style": "default",
                        "button_border_width": 1,
                        "button_border_radius": 100,
                        "button_type_font": "var(--font-body--family)",
                        "button_type_size": "1.2rem",
                        "button_font_weight": "default",
                        "button_text_case": "default",
                        "buttons_shadow_horizontal_offset": 0,
                        "buttons_shadow_vertical_offset": 0,
                        "buttons_shadow_blur": 0,
                        "button_type_size_link": "1.2rem",
                        "button_font_weight_link": "default",
                        "link_underline": false,
                        "link_reveal": false,
                        "width": "fit-content",
                        "unit": "percent",
                        "custom_width": 100,
                        "custom_width_pixel": 100,
                        "buttons_padding_vertical": 10,
                        "buttons_padding_horizontal": 20,
                        "width_mobile": "fit-content",
                        "unit_mobile": "percent",
                        "custom_width_mobile": 100,
                        "custom_width_mobile_pixel": 100,
                        "buttons_padding_vertical_mobile": 10,
                        "buttons_padding_horizontal_mobile": 10
                      },
                      "blocks": {}
                    }
                  },
                  "block_order": [
                    "button_n69BYx"
                  ]
                }
              },
              "block_order": [
                "group_mECUFM"
              ]
            }
          },
          "block_order": [
            "group_KGnBER",
            "group_6CEmrL",
            "group_yLyLcA",
            "group_cYeXri",
            "group_7hEKth",
            "group_MrWKF9",
            "group_KWdny6",
            "group_6XxfyB"
          ]
        }
      },
      "settings": {
        "content_direction": "column",
        "content_direction_mobile": "column",
        "horizontal_alignment": "flex-start",
        "horizontal_alignment_mobile": "flex-start",
        "vertical_alignment": "center",
        "align_baseline": false,
        "horizontal_alignment_flex_direction_column": "flex-start",
        "vertical_alignment_flex_direction_column": "center",
        "gap": 16,
        "section_width": "full-width",
        "page_width_custom": 1570,
        "section_height": "large",
        "section_height_custom": 50,
        "background_media": "none",
        "video_position": "cover",
        "background_image_position": "cover",
        "border": "none",
        "border_width": 1,
        "border_radius": 0,
        "toggle_overlay": false,
        "overlay_color": "#00000026",
        "overlay_style": "solid",
        "gradient_direction": "to top",
        "padding-block-start": 20,
        "padding-block-end": 20
      }
    }
  ]
}
{% endschema %}
