{{ 'section-main-page.css' | asset_url | stylesheet_tag }}

<div class="color-{{ section.settings.color_scheme }}">
  <div class="page-width spacing-style"
    style="{% render 'spacing-style', settings: section.settings %}"
  >
    <h2 class="page-title {{ section.settings.heading_size }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
      {%- if section.settings.page.title != blank -%}
        {{ section.settings.page.title | escape }}
      {%- else -%}
        {{ 'content.back_to_top' | t }}
      {%- endif -%}
    </h2>
    <div class="rte{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
      {%- if section.settings.page.content != blank -%}
        {{ section.settings.page.content }}
      {%- else -%}
        <div class="page-placeholder-wrapper placeholder">
          {{ 'page' | placeholder_svg_tag: 'page-placeholder' }}
        </div>
      {%- endif -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:names.page",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer", "custom.popup", "aside"]
  },
  "settings": [
    {
      "type": "page",
      "id": "page",
      "label": "t:settings.page"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:options.small"
        },
        {
          "value": "h1",
          "label": "t:options.medium"
        },
        {
          "value": "h0",
          "label": "t:settings.large"
        },
        {
          "value": "hxl",
          "label": "t:options.extra_large"
        },
        {
          "value": "hxxl",
          "label": "t:options.extra_extra_large"
        }
      ],
      "default": "h1",
      "label": "t:settings.heading_size"
    },
    {
      "type": "header",
      "content": "t:content.colors"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:settings.color_scheme",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:content.padding"
    },
    {
      "type": "range",
      "id": "padding-block-start",
      "label": "t:settings.top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding-block-end",
      "label": "t:settings.bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "t:names.page",
      "category": "t:categories.layout"
    }
  ]
}
{% endschema %}
