<div
	class="modal--popup promotionPopup fixed top-0 left-0 z-9 w-screen h-full flex-center no-js-hidden"
	element-s-popup
	id="Promotion-popup-{{ section.id }}"
	data-moved="false"
	tabindex="-1"
>
	<div id="Drawer-Overlay-Promotion-{{ section.id }}" class="drawer__overlay fixed inset-0 cursor-pointer"></div>
	<promotion-popup class="popup__inner promotion-popup w-full h-auto global-settings-popup color-{{ section.settings.color_scheme }} overflow-y-a cus-scrollbar"
		role="dialog"
		aria-modal="true"
		aria-label="{{ 'accessibility.promotion-popup' | t }}"
		style="--modal-max-width: 93.5rem; --modal-max-height: min(100%, 75vh); --p: 0;"
		data-expire="{{ section.settings.popup_expire }}"
		data-delay="{{ section.settings.popup_delay | times: 1000 }}"
	>
		{% content_for 'blocks' %}

		<button
			type="button"
			class="popup__close button-close-circle minimum-touch-target-before"
			aria-label="{{ 'accessibility.close_dialog' | t }}"
		>
			<span class="svg-wrapper">
				{{- 'icon-close.svg' | inline_asset_content -}}
			</span>
			<span class="visually-hidden">{{ 'accessibility.close_dialog' | t }}</span>
		</button>
	</promotion-popup>
</div>

<script src="{{ 'promotion-popup.js' | asset_url }}" defer="defer"></script>

{% schema %}
{
	"name": "t:names.promotion_popup",
	"tag": "section",
	"class": "section-promotion-popup",
	"limit": 1,
	"enabled_on": {
		"groups": ["custom.popup"]
	},
	"blocks": [
		{
			"type": "group"
		}
	],
	"settings": [
		{
			"type": "range",
			"id": "popup_expire",
			"max": 30,
			"min": 1,
			"step": 1,
			"unit": "day",
			"label": "t:settings.show_again_after",
			"default": 1
		},
		{
			"type": "range",
			"id": "popup_delay",
			"max": 60,
			"min": 1,
			"step": 1,
			"unit": "s",
			"label": "t:settings.delay_time",
			"default": 5
		},
		{
			"type": "header",
			"content": "t:content.appearance"
		},
		{
			"type": "color_scheme",
			"id": "color_scheme",
			"label": "t:settings.color_scheme",
			"default": "scheme-1"
		},
		{
			"type": "image_picker",
			"id": "image",
			"label": "t:settings.image",
			"info": "t:info.promotion_popup_image_info"
		}
	],
	"presets": [
		{
			"name": "t:names.promotion_popup",
			"blocks": {
				"group_bK8anF": {
					"type": "group",
					"name": "t:names.group",
					"settings": {
					"link": "",
					"open_in_new_tab": false,
					"content_direction": "row",
					"content_direction_mobile": "column",
					"horizontal_alignment": "flex-start",
					"vertical_alignment": "center",
					"align_baseline": false,
					"horizontal_alignment_flex_direction_column": "flex-start",
					"vertical_alignment_flex_direction_column": "center",
					"horizontal_alignment_mobile": "flex-start",
					"vertical_alignment_mobile": "center",
					"horizontal_alignment_flex_direction_column_mobile": "flex-start",
					"vertical_alignment_flex_direction_column_mobile": "center",
					"gap": 0,
					"width": "custom",
					"custom_width": 100,
					"width_tablet": "fill",
					"custom_width_tablet": 100,
					"width_mobile": "fill",
					"custom_width_mobile": 100,
					"height": "fill",
					"custom_height": 100,
					"inherit_color_scheme": true,
					"scheme_background": "#ffffff",
					"scheme_background_gradient": "",
					"scheme_foreground_heading": "#000000",
					"scheme_foreground": "#000000",
					"scheme_primary": "#000f9f",
					"scheme_primary_hover": "#000000",
					"scheme_border": "#e6e6e6",
					"scheme_shadow": "#000000",
					"background_media": "none",
					"video_position": "cover",
					"background_image_position": "cover",
					"content_overlay": false,
					"image_ratio": "adapt",
					"border": "none",
					"border_width": 1,
					"border_opacity": 0,
					"border_radius": 0,
					"toggle_overlay": false,
					"overlay_color": "#00000026",
					"extend_left_overlay": false,
					"extend_right_overlay": false,
					"overlay_style": "solid",
					"gradient_direction": "to top",
					"enable_parallax": "none",
					"disable_parallax_mobile": false,
					"parallax_speed": 0.5,
					"horizontal_position": 0,
					"vertical_position": 0,
					"shadow_color": "rgba(0,0,0,0)",
					"shadow_horizontal_offset": 0,
					"shadow_vertical_offset": 0,
					"shadow_blur": 0,
					"spread_radius": 0,
					"margin-block-start": 0,
					"margin-block-start-mobile": 0,
					"margin-block-end": 0,
					"margin-block-end-mobile": 0,
					"margin-inline-start": 0,
					"margin-inline-start-mobile": 0,
					"margin-inline-end": 0,
					"margin-inline-end-mobile": 0,
					"padding-block-start": 0,
					"padding-block-end": 0,
					"padding-inline-start": 0,
					"padding-inline-end": 0
					},
					"blocks": {
					"image_gkP4cG": {
						"type": "image",
						"name": "Image",
						"settings": {
						"link": "",
						"hide_on_mobile": false,
						"image_ratio": "adapt",
						"width": "custom",
						"unit": "percent",
						"custom_width": 100,
						"custom_width_pixel": 100,
						"width_tablet": "custom",
						"unit_tablet": "percent",
						"custom_width_tablet": 100,
						"custom_width_tablet_pixel": 100,
						"width_mobile": "custom",
						"unit_mobile": "percent",
						"custom_width_mobile": 100,
						"custom_width_mobile_pixel": 100,
						"height": "fit",
						"border": "none",
						"border_width": 1,
						"border_opacity": 100,
						"border_radius": 0,
						"animation_type": "none",
						"disable_parallax_mobile": false,
						"parallax_speed": 0.5,
						"padding-block-start": 0,
						"padding-inline-end": 0,
						"padding-block-end": 0,
						"padding-inline-start": 0
						},
						"blocks": {}
					},
					"group_4pEepX": {
						"type": "group",
						"name": "t:names.group",
						"settings": {
						"link": "",
						"open_in_new_tab": false,
						"content_direction": "column",
						"content_direction_mobile": "column",
						"horizontal_alignment": "flex-start",
						"vertical_alignment": "center",
						"align_baseline": false,
						"horizontal_alignment_flex_direction_column": "center",
						"vertical_alignment_flex_direction_column": "center",
						"horizontal_alignment_mobile": "flex-start",
						"vertical_alignment_mobile": "center",
						"horizontal_alignment_flex_direction_column_mobile": "center",
						"vertical_alignment_flex_direction_column_mobile": "center",
						"gap": 12,
						"width": "fill",
						"custom_width": 100,
						"width_tablet": "fill",
						"custom_width_tablet": 100,
						"width_mobile": "fill",
						"custom_width_mobile": 100,
						"height": "fit",
						"custom_height": 100,
						"inherit_color_scheme": true,
						"scheme_background": "#ffffff",
						"scheme_background_gradient": "",
						"scheme_foreground_heading": "#000000",
						"scheme_foreground": "#000000",
						"scheme_primary": "#000f9f",
						"scheme_primary_hover": "#000000",
						"scheme_border": "#e6e6e6",
						"scheme_shadow": "#000000",
						"background_media": "none",
						"video_position": "cover",
						"background_image_position": "cover",
						"content_overlay": false,
						"image_ratio": "adapt",
						"border": "none",
						"border_width": 1,
						"border_opacity": 0,
						"border_radius": 0,
						"toggle_overlay": false,
						"overlay_color": "#00000026",
						"extend_left_overlay": false,
						"extend_right_overlay": false,
						"overlay_style": "solid",
						"gradient_direction": "to top",
						"enable_parallax": "none",
						"disable_parallax_mobile": false,
						"parallax_speed": 0.5,
						"horizontal_position": 0,
						"vertical_position": 0,
						"shadow_color": "rgba(0,0,0,0)",
						"shadow_horizontal_offset": 0,
						"shadow_vertical_offset": 0,
						"shadow_blur": 0,
						"spread_radius": 0,
						"margin-block-start": 0,
						"margin-block-start-mobile": 0,
						"margin-block-end": 0,
						"margin-block-end-mobile": 0,
						"margin-inline-start": 0,
						"margin-inline-start-mobile": 0,
						"margin-inline-end": 0,
						"margin-inline-end-mobile": 0,
						"padding-block-start": 100,
						"padding-block-end": 100,
						"padding-inline-start": 20,
						"padding-inline-end": 20
						},
						"blocks": {
						"group_RVnJBy": {
							"type": "group",
							"name": "t:names.group",
							"settings": {
							"link": "",
							"open_in_new_tab": false,
							"content_direction": "column",
							"content_direction_mobile": "column",
							"horizontal_alignment": "flex-start",
							"vertical_alignment": "center",
							"align_baseline": false,
							"horizontal_alignment_flex_direction_column": "center",
							"vertical_alignment_flex_direction_column": "center",
							"horizontal_alignment_mobile": "flex-start",
							"vertical_alignment_mobile": "center",
							"horizontal_alignment_flex_direction_column_mobile": "center",
							"vertical_alignment_flex_direction_column_mobile": "center",
							"gap": 12,
							"width": "custom",
							"custom_width": 100,
							"width_tablet": "fill",
							"custom_width_tablet": 100,
							"width_mobile": "fill",
							"custom_width_mobile": 100,
							"height": "fit",
							"custom_height": 100,
							"inherit_color_scheme": true,
							"scheme_background": "#ffffff",
							"scheme_background_gradient": "",
							"scheme_foreground_heading": "#000000",
							"scheme_foreground": "#000000",
							"scheme_primary": "#000f9f",
							"scheme_primary_hover": "#000000",
							"scheme_border": "#e6e6e6",
							"scheme_shadow": "#000000",
							"background_media": "none",
							"video_position": "cover",
							"background_image_position": "cover",
							"content_overlay": false,
							"image_ratio": "adapt",
							"border": "none",
							"border_width": 1,
							"border_opacity": 0,
							"border_radius": 0,
							"toggle_overlay": false,
							"overlay_color": "#00000026",
							"extend_left_overlay": false,
							"extend_right_overlay": false,
							"overlay_style": "solid",
							"gradient_direction": "to top",
							"enable_parallax": "none",
							"disable_parallax_mobile": false,
							"parallax_speed": 0.5,
							"horizontal_position": 0,
							"vertical_position": 0,
							"shadow_color": "rgba(0,0,0,0)",
							"shadow_horizontal_offset": 0,
							"shadow_vertical_offset": 0,
							"shadow_blur": 0,
							"spread_radius": 0,
							"margin-block-start": 0,
							"margin-block-start-mobile": 0,
							"margin-block-end": 0,
							"margin-block-end-mobile": 0,
							"margin-inline-start": 0,
							"margin-inline-start-mobile": 0,
							"margin-inline-end": 0,
							"margin-inline-end-mobile": 0,
							"padding-block-start": 0,
							"padding-block-end": 0,
							"padding-inline-start": 0,
							"padding-inline-end": 0
							},
							"blocks": {
							"text_KUxMLk": {
								"type": "text",
								"name": "t:names.heading",
								"settings": {
								"text": "<h2>New arrivals</h2>",
								"typing_text": false,
								"primary_text": "Welcome to our store!",
								"secondary_text": "Exclusive offers just for you.",
								"third_text": "Shop now and enjoy deals!",
								"highlight_text": false,
								"highlight_text_content": "",
								"highlight_text_type": "text",
								"underline_height": 18,
								"underline_offset": -20,
								"highlight_text_color": "#000000",
								"highlight_underline_color": "#000000",
								"spacing_text": false,
								"spacing_text_content": "",
								"spacing_text_left": 0,
								"spacing_text_right": 0,
								"stroke_text": false,
								"stroke_text_content": "",
								"width": "fit-content",
								"unit": "percent",
								"custom_width": 100,
								"custom_width_pixel": 500,
								"inherit_text_alignment": true,
								"justify_alignment": false,
								"alignment": "left",
								"width_tablet": "fit-content",
								"unit_tablet": "percent",
								"custom_width_tablet": 100,
								"custom_width_tablet_pixel": 100,
								"inherit_text_alignment_tablet": true,
								"justify_alignment_tablet": false,
								"alignment_tablet": "left",
								"width_mobile": "fit-content",
								"unit_mobile": "percent",
								"custom_width_mobile": 100,
								"custom_width_mobile_pixel": 100,
								"inherit_text_alignment_mobile": true,
								"justify_alignment_mobile": false,
								"alignment_mobile": "left",
								"type_preset": "rte",
								"font": "var(--font-body--family)",
								"font_size": "1.6rem",
								"line_height": "normal",
								"letter_spacing": "normal",
								"case": "none",
								"wrap": "pretty",
								"color": "var(--color-foreground)",
								"background": false,
								"background_color": "#00000026",
								"enable_border": false,
								"enable_border_bottom": false,
								"border": "none",
								"border_width": 0,
								"border_width_type": "100%",
								"border_custom_width": 100,
								"border_radius": 0,
								"text_effect": "none",
								"animation_repeat": false,
								"padding-block-start": 0,
								"padding-block-end": 0,
								"padding-inline-start": 0,
								"padding-inline-end": 0
								},
								"blocks": {}
							},
							"text_qaNzwd": {
								"type": "text",
								"name": "t:names.text",
								"settings": {
								"text": "<p>We make things that work better and last longer. Our products solve real problems with clean design and honest materials.</p>",
								"typing_text": false,
								"primary_text": "Welcome to our store!",
								"secondary_text": "Exclusive offers just for you.",
								"third_text": "Shop now and enjoy deals!",
								"highlight_text": false,
								"highlight_text_content": "",
								"highlight_text_type": "text",
								"underline_height": 18,
								"underline_offset": -20,
								"highlight_text_color": "#000000",
								"highlight_underline_color": "#000000",
								"spacing_text": false,
								"spacing_text_content": "",
								"spacing_text_left": 0,
								"spacing_text_right": 0,
								"stroke_text": false,
								"stroke_text_content": "",
								"width": "fit-content",
								"unit": "percent",
								"custom_width": 100,
								"custom_width_pixel": 500,
								"inherit_text_alignment": true,
								"justify_alignment": false,
								"alignment": "left",
								"width_tablet": "fit-content",
								"unit_tablet": "percent",
								"custom_width_tablet": 100,
								"custom_width_tablet_pixel": 100,
								"inherit_text_alignment_tablet": true,
								"justify_alignment_tablet": false,
								"alignment_tablet": "left",
								"width_mobile": "fit-content",
								"unit_mobile": "percent",
								"custom_width_mobile": 100,
								"custom_width_mobile_pixel": 100,
								"inherit_text_alignment_mobile": true,
								"justify_alignment_mobile": false,
								"alignment_mobile": "left",
								"type_preset": "rte",
								"font": "var(--font-body--family)",
								"font_size": "1.6rem",
								"line_height": "normal",
								"letter_spacing": "normal",
								"case": "none",
								"wrap": "pretty",
								"color": "var(--color-foreground)",
								"background": false,
								"background_color": "#00000026",
								"enable_border": false,
								"enable_border_bottom": false,
								"border": "none",
								"border_width": 0,
								"border_width_type": "100%",
								"border_custom_width": 100,
								"border_radius": 0,
								"text_effect": "none",
								"animation_repeat": false,
								"padding-block-start": 0,
								"padding-block-end": 0,
								"padding-inline-start": 0,
								"padding-inline-end": 0
								},
								"blocks": {}
							},
							"email_signup_4WxggL": {
								"type": "email-signup",
								"name": "Email signup",
								"settings": {
								"show_subscription": false,
								"subscription_text": "Sign up to be the first to know when the event is live!",
								"subscription_button": "SUBSCRIBE",
								"width": "fill",
								"custom_width": 100,
								"width_tablet": "fill",
								"custom_width_tablet": 100,
								"width_mobile": "fill",
								"custom_width_mobile": 100,
								"inherit_color_scheme": true,
								"scheme_background": "#ffffff",
								"scheme_background_gradient": "",
								"scheme_foreground_heading": "#000000",
								"scheme_foreground": "#000000",
								"scheme_primary": "#000f9f",
								"scheme_primary_hover": "#000000",
								"scheme_border": "#e6e6e6",
								"scheme_shadow": "#000000",
								"border": "none",
								"border_width": 1,
								"border_opacity": 100,
								"border_radius": 0,
								"field-padding-block-start": 0,
								"field-padding-block-end": 0,
								"field-padding-inline-start": 0,
								"field-padding-inline-end": 0,
								"input_label": "Enter your email address",
								"border_style": "all",
								"input_border_width": 1,
								"input_border_radius": 0,
								"input_alignment": "center",
								"input_type_preset": "paragraph",
								"input_focus_effect": "none",
								"focus_border_color": "#3399ff",
								"agree_condition": false,
								"agree_condition_text": "I agree with the terms and conditions",
								"condition-padding-block-start": 20,
								"condition-padding-block-end": 20,
								"show_input_description": false,
								"input_description": "",
								"type_preset": "rte",
								"description-padding-block-start": 20,
								"description-padding-block-end": 20,
								"style_class": "button",
								"hide_submit_border": false,
								"display_type": "text",
								"icon_type": "chevron",
								"icon_size_desktop": 24,
								"icon_size_mobile": 24,
								"label": "SUTMIT",
								"button_type_preset": "paragraph",
								"background_button": true,
								"integrated_button": false,
								"gap": 12,
								"submit_width": "fit-content",
								"submit_custom_width": 100,
								"submit_width_mobile": "custom",
								"submit_custom_width_mobile": 100,
								"padding-block-start": 0,
								"padding-block-end": 0,
								"padding-inline-start": 0,
								"padding-inline-end": 0
								},
								"blocks": {}
							},
							"social_icons_mwNqPi": {
								"type": "social-icons",
								"name": "Social icons",
								"settings": {
								"social_style": "default",
								"icon_size": 36,
								"icon_size_mobile": 36,
								"icon_color": "#ffffff",
								"icon_bg_color": "#232323",
								"icon_border_color": "#232323",
								"icon_color_hover": "#232323",
								"icon_bg_color_hover": "rgba(0,0,0,0)",
								"icon_border_color_hover": "#232323",
								"gap_x": 10,
								"gap_y": 10,
								"padding-block-start": 0,
								"padding-block-end": 0
								},
								"blocks": {}
							}
							},
							"block_order": [
							"text_KUxMLk",
							"text_qaNzwd",
							"email_signup_4WxggL",
							"social_icons_mwNqPi"
							]
						}
						},
						"block_order": [
						"group_RVnJBy"
						]
					}
					},
					"block_order": [
					"image_gkP4cG",
					"group_4pEepX"
					]
				}
			},
			"block_order": [
				"group_bK8anF"
			],
			"settings": {
				"popup_expire": 1,
				"popup_delay": 10,
				"color_scheme": ""
			}
		}
	]
}
{% endschema %}