{%- liquid
  assign tabs_design = section.settings.tabs_design

  assign padding_top = section.settings.padding_top
  assign padding_bottom = section.settings.padding_bottom
  assign padding_left = section.settings.padding_left
  assign padding_right = section.settings.padding_right
  assign gap = section.settings.gap
  assign font_size = section.settings.font_size
  assign tab_title_weight = section.settings.tab_title_weight

  assign alignment = section.settings.alignment
  assign alignment_mb = section.settings.alignment_mb

  assign border_bottom_bg = section.settings.border_bottom_bg
  assign border_bottom_gap = section.settings.border_bottom_gap
  assign border_active_tab_bg = section.settings.border_active_tab_bg
  assign separator_color = section.settings.separator_color

  assign accordion_gap = section.settings.accordion_gap
  assign accordion_bg = section.settings.accordion_bg
  assign accordion_pl = section.settings.accordion_pl
  assign accordion_pr = section.settings.accordion_pr
  assign accordion_pt = section.settings.accordion_pt
  assign accordion_pb = section.settings.accordion_pb
  assign accordion_border_style = section.settings.accordion_border_style
  assign accordion_border_color = section.settings.accordion_border_color

  assign accordion_icon = section.settings.accordion_icon

  assign view_content = section.settings.view_content
-%}

{%- capture attr -%}
style="
  --pt: {{ padding_top }}px;
  --pb: {{ padding_bottom }}px;
  --pl: {{ padding_left }}px;
  --pr: {{ padding_right }}px;
  --gap-x: {{ gap }}px;
  --gap-y: {{ gap }}px;
  --font-size: {{ font_size }};
  --tab-title-weight: {{ tab_title_weight }};
  --accordion-gap: {{ accordion_gap }}px;
  --accordion-bg: {{ accordion_bg }};
  --accordion-pl: {{ accordion_pl }}px;
  --accordion-pr: {{ accordion_pr }}px;
  --accordion-pt: {{ accordion_pt }}px;
  --accordion-pb: {{ accordion_pb }}px;
  --accordion-border-color: {{ accordion_border_color }};
"
{%- endcapture -%}

{%- capture tabs_controls_attr -%}
style="
  --border-bottom-bg: {{ border_bottom_bg }};
  --border-bottom-gap: {{ border_bottom_gap }}px;
  --border-active-tab-bg: {{ border_active_tab_bg }};
  --separator-color: {{ separator_color }};
"
{%- endcapture -%}

{%- capture accordion_attr -%}
style="
  --gap-x: {{ gap }}px;
  --accordion-gap: {{ accordion_gap }}px;
  --accordion-bg: {{ accordion_bg }};
  --accordion-pl: {{ accordion_pl }}px;
  --accordion-pr: {{ accordion_pr }}px;
  --accordion-pt: {{ accordion_pt }}px;
  --accordion-pb: {{ accordion_pb }}px;
  --accordion-border-color: {{ accordion_border_color }};
"
{%- endcapture -%}

{%- capture icon -%}
  {% if accordion_icon == 'plus' %}
    {{- 'icon-plus.svg' | inline_asset_content -}}
  {% elsif accordion_icon == 'right-arrow' %}
    {{- 'icon-right-arrow.svg' | inline_asset_content -}}
  {% else %}
    {{- 'icon-caret.svg' | inline_asset_content -}}
  {% endif %}
{%- endcapture -%}

{{ 'product-tabs.css' | asset_url | stylesheet_tag }}

{%- capture tab_title -%}
  {% liquid
    assign element = 'side-drawer-opener'
    if view_content == 'default'
      assign element = 'div'
    endif
  %}

  <{{ element }} {% if view_content == 'popup' %}data-side-drawer="#PopupModal-{{ section.id }}"{% else %}data-side-drawer="#Global-Drawer"{% endif %} class="toggle-title{% if view_content == 'default' %} isCheckingOpenDefault {% endif %}" data-view-content="{{ view_content }}">
    <button class="toggle-link cursor-pointer">
      <span class="text">Tab Title</span>
      <span class="svg-wrapper icon-caret-wrapper">{{- icon -}}</span>
    </button>
  </{{ element }}>
{%- endcapture -%}

<div class="section section-product-tabs section--{{ section.settings.section_width }} color-{{ section.settings.color_scheme }}"
  style="
    {% if section.settings.section_width == 'custom' %}
      --page-content-width: {{ section.settings.page_width_custom | divided_by: 10 }}rem;
      --page-width: calc(var(--page-content-width) + var(--page-margin) * 2);
    {% endif %}
    --alignment: {{ alignment }};
    --alignment-mb: {{ alignment_mb }};
  "
>
  {%- if section.blocks.size > 0 -%}
    {%- if tabs_design == 'tab' -%}
      <div class="product-tabs" {{ attr }}>
        <div class="product-tabs-wrapper">
          <div class="product-tabs-tab">
            <ul class="tabs-list list-unstyled flex flex-wrap justify-{{ alignment }} max-sm:justify-{{ alignment_mb }} show-border-bottom" {{ tabs_controls_attr }}>
              {%- for block in section.blocks -%}
                {%- liquid
                  assign title = block.settings.title
                  case block.type
                    when 'description'
                      if title == blank or product.description == blank
                        continue
                      endif
                    when 'review'
                      if title == blank
                        continue
                      endif
                    when 'html'
                      if title != blank
                        if block.settings.custom_content_type == 'all'
                          if block.settings.content == blank and block.settings.page.content == blank
                            continue
                          endif
                        elsif product.metafields.custom[block.settings.product_tab_key_metafield] == blank and product.metafields.c_f[block.settings.product_tab_key_metafield] == blank
                          continue
                        endif
                      else
                        continue
                      endif
                    when 'liquid'
                      if block.settings.title == blank or block.settings.custom_liquid == blank
                        continue
                      endif
                  endcase
                -%}
                <li class="tabs-item"><a class="tab-title{% if forloop.first %} is-active{% endif %}" href="#tabs-{{ block.id }}">{{ title | escape }}</a></li>
              {%- endfor -%}
            </ul>
            <div class="tabs-content" style="--pb: 20px; --pt: 20px;">
              {%- for block in section.blocks -%}
                {% assign title = block.settings.title %}
                {%- case block.type -%}
                  {%- when 'description' -%}
                    {%- if title == blank or product.description == blank -%}{%- continue -%}{%- endif -%}
                    <div class="tab-content{% if forloop.first %} is-active{% endif %} {% if accordion_border_style == 'accordion' %} border-{{ accordion_border_style }}{% endif %}">
                      {{ tab_title | replace: 'Tab Title', title }}
                      <div class="toggle-content">
                        {{ product.description }}
                      </div>
                    </div>
                  {%- when 'review' -%}
                    {%- if title == blank or product.reviews.rating_average == blank -%}{%- continue -%}{%- endif -%}
                    <div class="tab-content{% if forloop.first %} is-active{% endif %} {% if accordion_border_style == 'accordion' %} border-{{ accordion_border_style }}{% endif %}">
                      {{ tab_title | replace: 'Tab Title', title }}
                      <div class="toggle-content">
                        {{ product.reviews.rating_average }}
                      </div>
                    </div>
                  {% when 'html' %}
                    {%- assign page_title = title | default: block.settings.page.title -%}
                    {% liquid
                      assign custom_content_type = block.settings.custom_content_type
                      if custom_content_type == 'all'
                        if block.settings.content != blank or block.settings.page.content != blank
                          assign meta_ref = block.settings.content | prepend: '<div class="rte">' | append: '</div>' | append: block.settings.page.content
                        endif
                      else 
                        assign meta_ref = product.metafields.custom[block.settings.product_tab_key_metafield] | default : product.metafields.c_f[block.settings.product_tab_key_metafield]
                      endif
                    %}
                    {% if meta_ref != blank %}
                      <div class="tab-content{% if forloop.first %} is-active{% endif %}{% if accordion_border_style == 'accordion' %} border-{{ accordion_border_style }}{% endif %}">
                        {{ tab_title | replace: 'Tab Title', title }}
                        <div class="toggle-content">
                          {{ meta_ref }}
                        </div>
                      </div>
                    {% endif %}
                  {% when 'liquid' %}
                    {%- if block.settings.title == blank or block.settings.custom_liquid == blank -%}{%- continue -%}{%- endif -%}
                    <div class="tab-content{% if forloop.first %} is-active{% endif %}{% if accordion_border_style == 'accordion' %} border-{{ accordion_border_style }}{% endif %}">
                      {{ tab_title | replace: 'Tab Title', title }}
                      <div class="toggle-content">
                        {{ block.settings.custom_liquid }}
                      </div>
                    </div>
                {%- endcase -%}
              {%- endfor -%}
            </div>
          </div>
        </div>
      </div>
    {%- elsif tabs_design == 'accordion' -%}
      <div class="tabs-content style-accordion" {{ accordion_attr }}>
        {%- for block in section.blocks -%}
          {% liquid
            assign title = block.settings.title
            assign is_open_default = block.settings.open_by_default
          %}
          {%- case block.type -%}
            {%- when 'description' -%}
              {%- if title == blank or product.description == blank -%}{%- continue -%}{%- endif -%}
              <div class="tab-content{% if forloop.first %} is-active{% endif %}{% if accordion_border_style == 'accordion' %} border-{{ accordion_border_style }}{% endif %}">
                {% if is_open_default %}
                  {{ tab_title | replace: 'Tab Title', title | replace: 'isCheckingOpenDefault', 'is-open' }}
                {% else %}
                  {{ tab_title | replace: 'Tab Title', title }}
                {% endif %}
                <div class="toggle-content">
                  {{ product.description }}
                </div>
              </div>
            {%- when 'review' -%}
              {%- if title == blank or product.reviews.rating_average == blank -%}{%- continue -%}{%- endif -%}
              <div class="tab-content{% if forloop.first %} is-active{% endif %}{% if accordion_border_style == 'accordion' %} border-{{ accordion_border_style }}{% endif %}">
                {% if is_open_default %}
                  {{ tab_title | replace: 'Tab Title', title | replace: 'isCheckingOpenDefault', 'is-open' }}
                {% else %}
                  {{ tab_title | replace: 'Tab Title', title }}
                {% endif %}
                <div class="toggle-content">
                  {{ product.reviews.rating_average }}
                </div>
              </div>
            {% when 'html' %}
              {% liquid
                assign custom_content_type = block.settings.custom_content_type
                if custom_content_type == 'all'
                  if block.settings.content != blank or block.settings.page.content != blank
                    assign meta_ref = block.settings.content | prepend: '<div class="rte">' | append: '</div>' | append: block.settings.page.content
                  endif
                else 
                  assign meta_ref = product.metafields.custom[block.settings.product_tab_key_metafield] | default : product.metafields.c_f[block.settings.product_tab_key_metafield]
                endif
              %}
              {% if meta_ref != blank %}
                <div class="tab-content{% if forloop.first %} is-active{% endif %}{% if accordion_border_style == 'accordion' %} border-{{ accordion_border_style }}{% endif %}">
                  {% if is_open_default %}
                    {{ tab_title | replace: 'Tab Title', title | replace: 'isCheckingOpenDefault', 'is-open' }}
                  {% else %}
                    {{ tab_title | replace: 'Tab Title', title }}
                  {% endif %}
                  <div class="toggle-content">
                    {{ meta_ref }}
                  </div>
                </div>
              {% endif %}
            {% when 'liquid' %}
              {%- if block.settings.title == blank or block.settings.custom_liquid == blank -%}{%- continue -%}{%- endif -%}
              <div class="tab-content{% if forloop.first %} is-active{% endif %}{% if accordion_border_style == 'accordion' %} border-{{ accordion_border_style }}{% endif %}">
                {% if is_open_default %}
                  {{ tab_title | replace: 'Tab Title', title | replace: 'isCheckingOpenDefault', 'is-open' }}
                {% else %}
                  {{ tab_title | replace: 'Tab Title', title }}
                {% endif %}
                <div class="toggle-content">
                  {{ block.settings.custom_liquid }}
                </div>
              </div>
          {%- endcase -%}
        {%- endfor -%}
      </div>
    {%- endif -%}
  {%- endif -%}
</div>

{% if view_content == 'popup' %}
  {% render 'global-popup' %}
{% endif %}

{% if view_content == 'sidebar' %}
  {% render 'global-sidebar' %}
{% endif %}

{% javascript %}
  document.addEventListener('DOMContentLoaded', function() {
    const tabTitles = document.querySelectorAll('.tab-title');
    const tabContents = document.querySelectorAll('.tab-content');

    if (tabTitles.length && tabContents.length && tabTitles.length === tabContents.length) {
      tabTitles.forEach((title, i) => {
        title.addEventListener('click', function (e) {
          e.preventDefault();
          if (title.classList.contains('is-active')) return;
          tabTitles.forEach(t => t.classList.remove('is-active'));
          tabContents.forEach(c => c.classList.remove('is-active'));
          title.classList.add('is-active');
          setTimeout(() => {
            const content = tabContents[i];
            content.classList.add('is-animating');
            content.classList.add('is-active');
            content.addEventListener('transitionend', function handler() {
              content.classList.remove('is-animating');
              content.removeEventListener('transitionend', handler);
            });
          }, 10);
        });
      });
    }

    const toggleLinks = document.querySelectorAll('.toggle-link');

    toggleLinks.forEach(toggleLink => {
      toggleLink.addEventListener('click', function(e) {
        e.preventDefault();

        const toggleTitle = toggleLink.closest('.toggle-title');
        if (!toggleTitle) return;

        const tabTitleText = document.querySelector('.tab-title-text');
        if (tabTitleText) {
          tabTitleText.textContent = toggleLink.textContent;
        }

        const viewContentType = toggleTitle.dataset.viewContent;
        const content = toggleTitle.nextElementSibling;
        if (!content) return;

        switch (viewContentType) {
          case 'sidebar': {
            const drawerContent = document.querySelector('#Global-Drawer .drawer__wrapper');
            if (drawerContent) {
              drawerContent.innerHTML = '';
              drawerContent.appendChild(content.cloneNode(true));
              renderVideo();
            }
            break;
          }
          case 'popup': {
            const popupContent = document.querySelector('.popup-content-wrapper');
            if (popupContent) {
              popupContent.innerHTML = '';
              popupContent.appendChild(content.cloneNode(true));
              renderVideo();
            }
            break;
          }
          default:
            toggleTitle.classList.toggle('is-open');
        }
      });
    });
    const modalTemplate = `
      <side-drawer
        class="popup__content video-modal drawer fixed top-0 left-0 z-9 w-screen h-full flex justify-center no-js-hidden"
        element-s-popup=""
        id="PopupModal-AZDFEMWdKNDFCVHdoM__popup_link_desc_video"
        data-moved="true"
      >
        <div
          id="Drawer-Overlay-AZDFEMWdKNDFCVHdoM__popup_link_desc_video"
          class="drawer__overlay fixed inset-0 cursor-pointer"
          style="transform: translateX(0px)"
        ></div>
        <div
          class="popup__inner color-scheme-1 popup__inner--video w-auto h-full absolute-c-c flex flex-column global-settings-popup"
        >
          <div
            class="popup__inner--content relative w-full h-full overflow-auto cus-scrollbar"
          >
            <div class="video-modal__content-block">Video</div>
            <button
              onclick="this.closest('side-drawer').close()"
              class="button button-unstyled close-button popup__close minimum-touch-target-before drawer__close block t-button bor-none rounded-full cursor-pointer absolute"
              type="button"
              aria-label="Close dialog"
              style="--top: 0.3rem; --right: 0.3rem"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                class="icon icon-close"
                viewBox="0 0 18 17"
              >
                <path
                  fill="currentColor"
                  d="M.865 15.978a.5.5 0 0 0 .707.707l7.433-7.431 7.579 7.282a.501.501 0 0 0 .846-.37.5.5 0 0 0-.153-.351L9.712 8.546l7.417-7.416a.5.5 0 1 0-.707-.708L8.991 7.853 1.413.573a.5.5 0 1 0-.693.72l7.563 7.268z"
                ></path>
              </svg>
            </button>
          </div>
        </div>
      </side-drawer>
    `;
    document.body.insertAdjacentHTML('beforeend', modalTemplate);

    function renderVideo() {
      const videoOpenPopups = document.querySelectorAll('.video-open-popup');
    
      if (videoOpenPopups.length > 0) {
        videoOpenPopups.forEach(videoOpenPopup => {
          videoOpenPopup.addEventListener('click', function(e) {
            e.preventDefault();

            const videoId = videoOpenPopup.dataset.videoId;
            const videoWrapper = document.querySelector('.video-modal__content-block');

            const youtubeIframe = `
            <iframe width="100%" src="https://www.youtube.com/embed/${videoId}?si=6yJ56P_BJEG5d2Uq" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            `;

            videoWrapper.innerHTML = youtubeIframe;
          });
        });
      }
    }
    renderVideo();
  });
{% endjavascript %}

{% schema %}
{
  "name": "t:names.product_tabs",
  "enabled_on": {
    "templates": ["product"]
  },
  "settings": [
    {
      "type": "header",
      "content": "t:content.appearance"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:settings.color_scheme",
      "default": "scheme-1"
    },
    {
      "type": "select",
      "id": "tabs_design",
      "label": "t:settings.tabs_design",
      "options": [
        {
          "value": "tab",
          "label": "t:options.tab"
        },
        {
          "value": "accordion",
          "label": "t:options.accordion"
        }
      ],
      "default": "tab"
    },
    {
      "type": "header",
      "content": "t:content.tabs_settings",
      "visible_if": "{{ section.settings.tabs_design == 'tab' }}"
    },
    {
      "type": "color",
      "id": "border_bottom_bg",
      "label": "t:settings.border_bottom_background",
      "default": "#e6e6e6",
      "visible_if": "{{ section.settings.tabs_design == 'tab' }}"
    },
    {
      "type": "range",
      "id": "border_bottom_gap",
      "label": "t:settings.border_bottom_gap",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "default": 10,
      "visible_if": "{{ section.settings.tabs_design == 'tab' }}"
    },
    {
      "type": "color",
      "id": "border_active_tab_bg",
      "label": "t:settings.border_active_tab_background",
      "default": "#000000",
      "visible_if": "{{ section.settings.tabs_design == 'tab' }}"
    },
    {
      "type": "color",
      "id": "separator_color",
      "label": "t:settings.separator_color",
      "default": "#000000",
      "visible_if": "{{ section.settings.tabs_design == 'tab' }}"
    },
    {
      "type": "header",
      "content": "t:content.accordion_settings",
      "visible_if": "{{ section.settings.tabs_design == 'accordion' }}"
    },
    {
      "type": "range",
      "id": "accordion_gap",
      "label": "t:settings.gap",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "default": 10,
      "visible_if": "{{ section.settings.tabs_design == 'accordion' }}"
    },
    {
      "type": "select",
      "id": "accordion_icon",
      "label": "t:settings.icon",
      "options": [
        { "value": "none", "label": "t:options.none" },
        { "value": "caret", "label": "t:options.caret" },
        { "value": "plus", "label": "t:options.plus" },
        { "value": "right-arrow", "label": "t:options.right_arrow" }
      ],
      "default": "caret",
      "visible_if": "{{ section.settings.tabs_design == 'accordion' }}"
    },
    {
      "type": "color",
      "id": "accordion_bg",
      "label": "t:settings.background",
      "default": "transparent",
      "visible_if": "{{ section.settings.tabs_design == 'accordion' }}"
    },
    {
      "type": "range",
      "id": "accordion_pl",
      "label": "t:settings.padding_left",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "default": 0,
      "visible_if": "{{ section.settings.tabs_design == 'accordion' }}"
    },
    {
      "type": "range",
      "id": "accordion_pr",
      "label": "t:settings.padding_right",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "default": 45,
      "visible_if": "{{ section.settings.tabs_design == 'accordion' }}"
    },
    {
      "type": "range",
      "id": "accordion_pt",
      "label": "t:settings.padding_top",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "default": 15,
      "visible_if": "{{ section.settings.tabs_design == 'accordion' }}"
    },
    {
      "type": "range",
      "id": "accordion_pb",
      "label": "t:settings.padding_bottom",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "default": 15,
      "visible_if": "{{ section.settings.tabs_design == 'accordion' }}"
    },
    {
      "type": "select",
      "id": "accordion_border_style",
      "label": "t:settings.border_style",
      "options": [
        {
          "value": "none",
          "label": "t:options.none"
        },
        {
          "value": "top",
          "label": "t:options.top"
        },
        {
          "value": "bottom",
          "label": "t:options.bottom"
        },
        {
          "value": "top-bottom",
          "label": "t:options.top_bottom"
        },
        {
          "value": "full",
          "label": "t:options.full"
        }
      ],
      "default": "bottom",
      "visible_if": "{{ section.settings.tabs_design == 'accordion' }}"
    },
    {
      "type": "color",
      "id": "accordion_border_color",
      "label": "t:settings.border_color",
      "default": "#d3d3d3",
      "visible_if": "{{ section.settings.tabs_design == 'accordion' and section.settings.accordion_border_style != 'none' }}"
    },
    {
      "type": "select",
      "id": "view_content",
      "label": "t:settings.view_content",
      "options": [
        {
          "value": "default",
          "label": "t:options.default"
        },
        {
          "value": "sidebar",
          "label": "t:options.sidebar"
        },
        {
          "value": "popup",
          "label": "t:options.popup"
        }
      ],
      "visible_if": "{{ section.settings.tabs_design == 'accordion' }}",
      "default": "sidebar"
    },
    {
      "type": "header",
      "content": "t:settings.layout"
    },
    {
      "type": "select",
      "id": "alignment",
      "label": "t:settings.alignment",
      "options": [
        {
          "value": "start",
          "label": "t:options.left"
        },
        {
          "value": "center",
          "label": "t:options.center"
        },
        {
          "value": "end",
          "label": "t:options.right"
        }
      ],
      "default": "start"
    },
    {
      "type": "select",
      "id": "alignment_mb",
      "label": "t:settings.mobile_alignment",
      "options": [
        {
          "value": "start",
          "label": "t:options.left"
        },
        {
          "value": "center",
          "label": "t:options.center"
        },
        {
          "value": "end",
          "label": "t:options.right"
        }
      ],
      "default": "start"
    },
    {
      "type": "range",
      "id": "gap",
      "label": "t:settings.spacing_between_tabs",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 12
    },
    {
      "type": "select",
      "id": "font_size",
      "label": "t:settings.size",
      "options": [
        {
          "value": "",
          "label": "t:options.default"
        },
        {
          "value": "1.0rem",
          "label": "10px"
        },
        {
          "value": "1.2rem",
          "label": "12px"
        },
        {
          "value": "1.4rem",
          "label": "14px"
        },
        {
          "value": "1.6rem",
          "label": "16px"
        },
        {
          "value": "1.8rem",
          "label": "18px"
        },
        {
          "value": "2.0rem",
          "label": "20px"
        },
        {
          "value": "2.2rem",
          "label": "22px"
        },
        {
          "value": "2.4rem",
          "label": "24px"
        },
        {
          "value": "2.6rem",
          "label": "26px"
        },
        {
          "value": "2.8rem",
          "label": "28px"
        },
        {
          "value": "3.0rem",
          "label": "30px"
        },
        {
          "value": "3.2rem",
          "label": "32px"
        },
        {
          "value": "3.4rem",
          "label": "34px"
        },
        {
          "value": "3.6rem",
          "label": "36px"
        },
        {
          "value": "4.0rem",
          "label": "40px"
        }
      ],
      "default": "1.6rem"
    },
    {
      "type": "select",
      "id": "tab_title_weight",
      "label": "t:settings.button_text_weight",
      "options": [
        {
          "value": "default",
          "label": "t:options.default"
        },
        {
          "value": "400",
          "label": "t:options.regular"
        },
        {
          "value": "600",
          "label": "t:options.semibold"
        },
        {
          "value": "700",
          "label": "t:options.bold"
        }
      ],
      "default": "default"
    },
    {
      "type": "header",
      "content": "t:content.layout"
    },
    {
      "type": "select",
      "id": "section_width",
      "label": "t:settings.width",
      "options": [
        {
          "value": "page-width",
          "label": "t:options.page"
        },
        {
          "value": "full-width",
          "label": "t:options.full"
        },
        {
          "value": "custom",
          "label": "t:options.custom"
        }
      ],
      "default": "page-width"
    },
    {
      "type": "range",
      "id": "page_width_custom",
      "min": 1000,
      "max": 2000,
      "step": 10,
      "default": 1570,
      "unit": "px",
      "label": "t:settings.page_width",
      "visible_if": "{{ section.settings.section_width == 'custom' }}"
    },
    {
      "type":  "header",
      "content": "t:content.padding"
    },
    {
      "type": "range",
      "id": "padding_left",
      "label": "t:settings.left",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_right",
      "label": "t:settings.right",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "t:settings.top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "t:settings.bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "description",
      "name": "t:settings.description",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "t:settings.title",
          "default": "Description"
        },
        {
          "type": "checkbox",
          "id": "open_by_default",
          "label": "Open tab by default",
          "default": false,
          "info": "This setting only works if the tabs design is set to accordion with default view"
        }
      ]
    },
    {
      "type": "review",
      "name": "t:settings.review",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "t:settings.title",
          "default": "Reviews"
        },
        {
          "type": "checkbox",
          "id": "open_by_default",
          "label": "Open tab by default",
          "default": false,
          "info": "This setting only works if the tabs design is set to accordion with default view"
        }
      ]
    },
    {
      "type": "html",
      "name": "HTML",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "t:settings.title",
          "default": "Tab custom HTML"
        },
        {
          "type": "checkbox",
          "id": "open_by_default",
          "label": "Open tab by default",
          "default": false,
          "info": "This setting only works if the tabs design is set to accordion with default view"
        },
        {
          "type": "select",
          "id": "custom_content_type",
          "label": "Custom Content Type",
          "options": [
            {
              "value": "all",
              "label": "The same for all products"
            },
            {
              "value": "different",
              "label": "Different for each product with metafield"
            }
          ],
          "default": "all"
        },
        {
          "type": "header",
          "content": "Different for each product setting"
        },
        {
          "type": "text",
          "id": "product_tab_key_metafield",
          "label": "Product Tab Metafield 'Key'",
          "info": "Copy and paste the KEY in the Metafield settings of your store. This metafield-based content will only be applied for 'Different for each product with metafield'"
        },
        {
          "type": "header",
          "content": "The same for all products setting"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "t:settings.tab_content",
          "default": "<p>Tab custom HTML</p>"
        },
        {
          "type": "page",
          "id": "page",
          "label": "t:settings.tab_content_from_page"
        }
      ]
    },
    {
      "type": "liquid",
      "name": "Liquid",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "t:settings.title",
          "default": "Tab custom Liquid"
        },
        {
          "type": "checkbox",
          "id": "open_by_default",
          "label": "Open tab by default",
          "default": false,
          "info": "This setting only works if the tabs design is set to accordion with default view"
        },
        {
          "type": "liquid",
          "id": "custom_liquid",
          "label": "t:settings.tab_content"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:names.product_tabs",
      "blocks": {
        "description_KGH7xF": {
          "type": "description",
          "name": "t:settings.description",
          "settings": {
            "title": "Description",
            "open_by_default": false
          }
        },
        "html_bpg6VR": {
          "type": "html",
          "settings": {
            "title": "Tab custom HTML",
            "open_by_default": false,
            "content": "<p>Tab custom HTML</p>",
            "page": ""
          }
        }
      },
      "block_order": [
        "description_KGH7xF",
        "html_bpg6VR"
      ],
      "settings": {
        "color_scheme": "",
        "tabs_design": "tab",
        "border_bottom_bg": "#e6e6e6",
        "border_bottom_gap": 10,
        "border_active_tab_bg": "#000000",
        "separator_color": "#000000",
        "accordion_gap": 10,
        "accordion_icon": "caret",
        "accordion_bg": "rgba(0,0,0,0)",
        "accordion_pl": 0,
        "accordion_pr": 45,
        "accordion_pt": 15,
        "accordion_pb": 15,
        "accordion_border_style": "bottom",
        "accordion_border_color": "#d3d3d3",
        "view_content": "sidebar",
        "alignment": "start",
        "alignment_mb": "start",
        "gap": 30,
        "font_size": "1.6rem",
        "section_width": "page-width",
        "page_width_custom": 1570,
        "padding_left": 0,
        "padding_right": 0,
        "padding_top": 0,
        "padding_bottom": 0
      }
    }
  ]
}
{% endschema %}