<link rel="stylesheet" href="{{ 'toolbar-mobile.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>
  <link rel="stylesheet" href="{{ 'toolbar-mobile.css' | asset_url }}">
</noscript>

<toolbar-mobile
  class="toolbar-mobile toolbar-mobile-col--{{ section.blocks.size }} element-spacing-all fixed left-0 right-0 bottom-0 w-full flex z-3 color-{{ section.settings.color_scheme }} gradient lg:none no-js-hidden"
  style="
    --padding-top: {{ section.settings.padding_top }}px;
    --padding-bottom: {{ section.settings.padding_bottom }}px;
    --icon-size: {{ section.settings.icon_size }}px;
  "
>
  {%- capture class_toolbar_item -%}
    toolbar__item flex-grow shrink-0 flex justify-center items-center p-0 decoration-none color-foreground after-none
  {%- endcapture -%}

  {%- capture class_button -%}
    t-button flex justify-center items-center flex-column bor-none cursor-pointer p-0 color-foreground bg-transparent focus-inset no-js-hidden decoration-none link h-full
  {%- endcapture -%}

  {%- capture class_item_tag_a -%}
    toolbar__item flex-column shrink-0 flex justify-center items-center p-0 decoration-none color-foreground after-none
  {%- endcapture -%}

  {%- capture class_count_bubble -%}
    leading-none absolute rounded-full flex justify-center items-center
  {%- endcapture -%}

  {%- for block in section.blocks -%}
    {%- case block.type -%}
      {%- when 'search' -%}
        {%- if block.settings.action_type == 'drawer' -%}
          <side-drawer-opener
            class="{{ class_toolbar_item }}"
            data-side-drawer="#Drawer-Search"
          >
            <button
              class="{{ class_button }}"
              type="button"
              aria-haspopup="dialog"
              aria-label="{{ 'content.search' | t }}"
            >
              <span class="svg-wrapper">
                {%- if block.settings.icon != blank -%}
                  {{ block.settings.icon }}
                {%- else -%}
                  {{ 'icon-search.svg' | inline_asset_content }}
                {%- endif -%}
              </span>
              {%- if block.settings.title != blank -%}
                <span class="text">{{ block.settings.title | escape }}</span>
              {%- endif -%}
            </button>
          </side-drawer-opener>
        {%- else -%}
          <a
            href="{{ routes.search_url }}"
            class="{{ class_item_tag_a }}"
            aria-label="{{ block.settings.title | escape }}"
          >
            <span class="svg-wrapper">
              {%- if block.settings.icon != blank -%}
                {{ block.settings.icon }}
              {%- else -%}
                {{ 'icon-search.svg' | inline_asset_content }}
              {%- endif -%}
            </span>
            {%- if block.settings.title != blank -%}
              <span class="text">{{ block.settings.title | escape }}</span>
            {%- endif -%}
          </a>
        {%- endif -%}
      {%- when 'account' -%}
        {%- if block.settings.action_type == 'drawer' -%}
          <side-drawer-opener
            class="{{ class_toolbar_item }}"
            data-side-drawer="#Drawer-Account"
          >
            <button
              class="{{ class_button }}"
              type="button"
              aria-haspopup="dialog"
              aria-label="{% if customer %}{{ 'customer.account_fallback' | t }}{% else %}{{ 'customer.log_in' | t }}{% endif %}"
            >
              <span class="svg-wrapper">
                {%- if block.settings.icon != blank -%}
                  {{ block.settings.icon }}
                {%- else -%}
                  {{ 'icon-account.svg' | inline_asset_content }}
                {%- endif -%}
              </span>
              {%- if block.settings.title != blank -%}
                <span class="text">{{ block.settings.title | escape }}</span>
              {%- endif -%}
            </button>
          </side-drawer-opener>
        {%- else -%}
          <a
            href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}"
            class="{{ class_item_tag_a }}"
            aria-label="{{ block.settings.title | escape }}"
          >
            <span class="svg-wrapper">
              {%- if block.settings.icon != blank -%}
                {{ block.settings.icon }}
              {%- else -%}
                {{ 'icon-account.svg' | inline_asset_content }}
              {%- endif -%}
            </span>
            {%- if block.settings.title != blank -%}
              <span class="text">{{ block.settings.title | escape }}</span>
            {%- endif -%}
            <span class="visually-hidden">
              {%- liquid
                if customer
                  echo 'customer.account_fallback' | t
                else
                  echo 'customer.log_in' | t
                endif
              -%}
            </span>
          </a>
        {%- endif -%}
      {%- when 'cart' -%}
        {%- if block.settings.action_type == 'drawer' -%}
          <side-drawer-opener
            class="{{ class_toolbar_item }}"
            data-side-drawer="#Cart-Drawer"
          >
            <button
              class="{{ class_button }} relative"
              type="button"
              aria-haspopup="dialog"
              aria-label="{{ 'content.cart.cart_items' | t: count: cart.item_count }}"
            >
              <div class="count-bubble relative">
                <span class="svg-wrapper">
                  {%- if block.settings.icon != blank -%}
                    {{ block.settings.icon }}
                  {%- else -%}
                    {{ 'icon-cart_2.svg' | inline_asset_content }}
                  {%- endif -%}
                </span>
                {%- if cart.item_count < 100 -%}
                  <div class="{{ class_count_bubble }} cart-count-bubble cart-icon-bubble">
                    <span aria-hidden="true" data-cart-count>{{ cart.item_count }}</span>
                    <span class="visually-hidden" data-cart-text>{{ 'content.cart_count' | t: count: cart.item_count }}</span>
                  </div>
                {%- endif -%}
              </div>
              {%- if block.settings.title != blank -%}
                <span class="text">{{ block.settings.title | escape }}</span>
              {%- endif -%}
            </button>
          </side-drawer-opener>
        {%- else -%}
          <a
            href="{{ routes.cart_url }}"
            class="{{ class_item_tag_a }}"
          >
            <div class="count-bubble relative" style="line-height: 0;">
              <span class="svg-wrapper">
                {%- if block.settings.icon != blank -%}
                  {{ block.settings.icon }}
                {%- else -%}
                  {{ 'icon-cart_2.svg' | inline_asset_content }}
                {%- endif -%}
              </span>
              {%- if cart.item_count < 100 -%}
                <div class="{{ class_count_bubble }} cart-count-bubble cart-icon-bubble">
                  <span aria-hidden="true" data-cart-count>{{ cart.item_count }}</span>
                  <span class="visually-hidden" data-cart-text>{{ 'content.cart_count' | t: count: cart.item_count }}</span>
                </div>
              {%- endif -%}
            </div>
            {%- if block.settings.title != blank -%}
              <span class="text">{{ block.settings.title | escape }}</span>
            {%- endif -%}
          </a>
        {%- endif -%}
      {%- when 'wishlist' -%}
        <side-drawer-opener
          class="{{ class_toolbar_item }}"
          data-side-drawer="#Drawer-Wishlist"
        >
          <button
            class="{{ class_button }} relative"
            type="button"
            aria-haspopup="dialog"
            aria-label="{{ 'content.wishlist_items' | t: count: cart.item_count }}"
          >
            <div class="count-bubble relative">
              <span class="svg-wrapper">
                {%- if block.settings.icon != blank -%}
                  {{ block.settings.icon }}
                {%- else -%}
                  {{ 'icon-heart.svg' | inline_asset_content }}
                {%- endif -%}
              </span>
              <div class="{{ class_count_bubble }} wishlist-count-bubble">
                <span class="text loading" aria-hidden="true" data-wishlist-count>0</span><span class="visually-hidden">{{ 'content.wishlist' | t }}</span>
              </div>
            </div>
            {%- if block.settings.title != blank -%}
              <span class="text">{{ block.settings.title | escape }}</span>
            {%- endif -%}
          </button>
        </side-drawer-opener>
      {%- when 'link' -%}
        <a
          {% if block.settings.link == blank %}
            role="link" aria-disabled="true"
          {% else %}
            href="{{ block.settings.link }}"
          {% endif %}
          class="toolbar__item flex-grow shrink-0 flex justify-center items-center flex-column center decoration-none link linkfulltext"
          aria-label="{{ block.settings.title | escape }}"
        >
          <span class="svg-wrapper">
            {%- if block.settings.icon != blank -%}
              {{ block.settings.icon }}
            {%- else -%}
              {{ 'icon-collection.svg' | inline_asset_content }}
            {%- endif -%}
          </span>
          {%- if block.settings.title != blank -%}
            <span class="text">{{ block.settings.title | escape }}</span>
          {%- endif -%}
        </a>
    {%- endcase -%}
  {%- endfor -%}
</toolbar-mobile>

<script src="{{ 'toolbar-mobile.js' | asset_url }}" defer="defer"></script>

{% schema %}
{
  "name": "t:names.sticky_toolbar_mobile",
  "tag": "section",
  "class": "shopify-section--popup section--toolbar-mobile",
  "limit": 1,
  "enabled_on": {
    "groups": ["custom.popup"]
  },
  "settings": [
    {
      "type": "paragraph",
      "content": "t:content.sticky_toolbar_mobile_info"
    },
    {
      "type": "range",
      "id": "icon_size",
      "label": "t:settings.icon_size",
      "min": 10,
      "max": 25,
      "step": 1,
      "unit": "px",
      "default": 20
    },
    {
      "type": "header",
      "content": "t:content.colors"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:settings.color_scheme",
      "default": "background-1"
    },
    {
      "type": "header",
      "content": "t:content.section_padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 15,
      "step": 1,
      "unit": "px",
      "label": "t:settings.top",
      "default": 4
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 15,
      "step": 1,
      "unit": "px",
      "label": "t:settings.bottom",
      "default": 4
    }
  ],
  "blocks": [
    {
      "type": "search",
      "name": "t:names.search",
      "limit": 1,
      "settings": [
        {
          "type": "textarea",
          "id": "icon",
          "label": "t:settings.svg_icon"
        },
        {
          "type": "text",
          "id": "title",
          "label": "t:settings.title",
          "default": "Search"
        },
        {
          "type": "select",
          "id": "action_type",
          "options": [
            {
              "value": "drawer",
              "label": "t:options.drawer"
            },
            {
              "value": "page",
              "label": "t:options.page"
            }
          ],
          "default": "drawer",
          "label": "t:settings.action_type"
        }
      ]
    },
    {
      "type": "account",
      "name": "t:names.account",
      "limit": 1,
      "settings": [
        {
          "type": "textarea",
          "id": "icon",
          "label": "t:settings.svg_icon"
        },
        {
          "type": "text",
          "id": "title",
          "label": "t:settings.title",
          "default": "Account"
        },
        {
          "type": "select",
          "id": "action_type",
          "options": [
            {
              "value": "drawer",
              "label": "t:options.drawer"
            },
            {
              "value": "page",
              "label": "t:options.page"
            }
          ],
          "default": "drawer",
          "label": "t:settings.action_type"
        }
      ]
    },
    {
      "type": "cart",
      "name": "t:names.cart",
      "limit": 1,
      "settings": [
        {
          "type": "textarea",
          "id": "icon",
          "label": "t:settings.svg_icon"
        },
        {
          "type": "text",
          "id": "title",
          "label": "t:settings.title",
          "default": "Cart"
        },
        {
          "type": "select",
          "id": "action_type",
          "options": [
            {
              "value": "drawer",
              "label": "t:options.drawer"
            },
            {
              "value": "page",
              "label": "t:options.page"
            }
          ],
          "default": "drawer",
          "label": "t:settings.action_type"
        }
      ]
    },
    {
      "type": "wishlist",
      "name": "t:names.wishlist",
      "limit": 1,
      "settings": [
        {
          "type": "textarea",
          "id": "icon",
          "label": "t:settings.svg_icon"
        },
        {
          "type": "text",
          "id": "title",
          "label": "t:settings.title",
          "default": "Wishlist"
        }
      ]
    },
    {
      "type": "link",
      "name": "t:names.link",
      "limit": 2,
      "settings": [
        {
          "type": "textarea",
          "id": "icon",
          "label": "t:settings.svg_icon"
        },
        {
          "type": "text",
          "id": "title",
          "label": "t:settings.title",
          "default": "Shop"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:settings.link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:names.sticky_toolbar_mobile",
      "blocks": [
        {
          "type": "search"
        },
        {
          "type": "account"
        },
        {
          "type": "link",
          "settings": {
            "icon": "<svg aria-hidden=\"true\" focusable=\"false\" data-prefix=\"fal\" data-icon=\"home-lg-alt\" role=\"img\" xmlns=\"http://www.w3.org/2000/svg\" viewbox=\"0 0 576 512\" class=\"svg-inline--fa fa-home-lg-alt fa-w-18 fa-3x\"><path fill=\"currentColor\" d=\"M573.48 219.91L310.6 8a35.85 35.85 0 0 0-45.19 0L2.53 219.91a6.71 6.71 0 0 0-1 9.5l14.2 17.5a6.82 6.82 0 0 0 9.6 1L64 216.72V496a16 16 0 0 0 16 16h416a16 16 0 0 0 16-16V216.82l38.8 31.29a6.83 6.83 0 0 0 9.6-1l14.19-17.5a7.14 7.14 0 0 0-1.11-9.7zM240 480V320h96v160zm240 0H368V304a16 16 0 0 0-16-16H224a16 16 0 0 0-16 16v176H96V190.92l187.71-151.4a6.63 6.63 0 0 1 8.4 0L480 191z\" class=\"\"></path></svg>",
            "title": "Home",
            "link": "/"
          }
        },
        {
          "type": "cart"
        },
        {
          "type": "wishlist"
        }
      ]
    }
  ]
}
{% endschema %}
