{% layout none %}

<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
    <script src="{{ 'vendor/qrcode.js' | shopify_asset_url }}" defer></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="{{ settings.color_schemes.scheme-1.settings.background }}">
    <link rel="canonical" href="{{ canonical_url }}">

    {%- if settings.favicon != blank -%}
      <link
        rel="icon"
        type="image/png"
        href="{{ settings.favicon | image_url: width: 32, height: 32 }}"
      >
    {%- endif -%}

    {%- unless settings.type_header_font.system? and settings.type_body_font.system? and settings.type_subheading_font.system? -%}
      <link
        rel="preconnect"
        href="https://fonts.shopifycdn.com"
        crossorigin>
    {%- endunless -%}

    {%- assign formatted_balance = gift_card.balance | money_without_trailing_zeros | strip_html -%}

    <title>{{ 'gift_cards.issued.title' | t: value: formatted_balance, shop: shop.name }}</title>

    <meta
      name="description"
      content="{{ 'gift_cards.issued.subtext' | t }}"
    >

    {{ content_for_header }}

    {%- liquid
      render 'global-style'
      
      render 'global-css'

      render 'global-script'
    -%}
    {{ 'template-giftcard.css' | asset_url | stylesheet_tag }}
  </head>

  <body class="gift-card">
    <header>
      <div class="gift-card__text-wrapper">
        <h1>{{ shop.name }}</h1>

        <div class="gift-card__price">
          <h2>
            {{ gift_card.balance | money_with_currency }}
          </h2>
          {%- if gift_card.enabled == false or gift_card.expired -%}
            <p class="gift-card__badge gift-card__badge--expired">{{ 'gift_cards.issued.expired' | t }}</p>
          {%- endif -%}
        </div>
        {% if gift_card.expires_on %}
          {%- assign gift_card_expiration_date = gift_card.expires_on | date: '%B %e, %Y' -%}
          <h4 class="gift-card__text-wrapper">
            {{ 'gift_cards.issued.expiration_date' | t: expires_on: gift_card_expiration_date }}
          </h4>
        {% endif %}
      </div>
    </header>

    <main class="gift-card__main">
      <div class="gift-card__image-wrapper">
        {%- if settings.logo != blank -%}
          {%- assign logo_alt = settings.logo.alt | default: shop.name | escape -%}
          {{
            settings.logo
            | image_url: width: 570
            | image_tag: class: 'gift-card__image gift-card__image-border', alt: logo_alt
          }}
        {%- else %}
          <img
            class="gift-card__image"
            src="{{ 'gift-card/card.svg' | shopify_asset_url }}"
            alt=""
            height="{{ 570 | divided_by: 1.5 }}"
            width="570"
            loading="eager"
          >
        {%- endif %}
      </div>

      <div class="gift-card__qr-code" data-identifier="{{ gift_card.qr_identifier }}"></div>
      <div class="gift-card__text-wrapper">
        <h3 id="gift-card-code" class="gift-card__code">
          {{ gift_card.code | format_code }}
        </h3>

        <div class="gift-card__buttons buttons-container no-print">
          {%- if gift_card.pass_url -%}
            <a
              href="{{ gift_card.pass_url }}"
              class="gift-card__buttons-full-width"
            >
              <img
                src="{{ 'gift-card/add-to-apple-wallet.svg' | shopify_asset_url }}"
                width="120"
                height="40"
                alt="{{ 'gift_cards.issued.add_to_apple_wallet' | t }}"
                loading="lazy"
              >
            </a>
          {%- endif -%}
          <span class="gift-card__copy-success form__message flex items-center justify-center visually-hidden" role="status"></span>
          <template>
            <span class="svg-wrapper">
              {{- 'icon-success.svg' | inline_asset_content -}}
            </span>
            {{ 'gift_cards.issued.copy_code_success' | t }}
          </template>
          <button class="gift-card__copy-button link">{{ 'gift_cards.issued.copy_code' | t }}</button>
        </div>
      </div>

      <div class="gift-card__buttons buttons-container no-print">
        <a
          href="{{ shop.url }}"
          class="button"
          target="_blank"
          rel="noopener"
          aria-describedby="a11y-new-window-message"
        >
          {{ 'gift_cards.issued.shop_link' | t }}
        </a>
        <button
          class="button-secondary"
          onclick="window.print();"
        >
          {{ 'gift_cards.issued.print' | t }}
        </button>
      </div>
    </main>

    <div hidden>
      <span id="a11y-new-window-message">{{ 'accessibility.link_messages.new_window' | t }}</span>
    </div>
  </body>
</html>

<script>
  var string = { qrImageAlt: {{ 'gift_cards.issued.qr_image_alt' | t | json }} };
  document.addEventListener('DOMContentLoaded', function() {
    new QRCode( document.querySelector('.gift-card__qr-code'), {
    text: document.querySelector('.gift-card__qr-code').dataset.identifier,
    width: 120,
    height: 120,
    imageAltText: string.qrImageAlt
    });
  });
  var template = document.getElementsByTagName("template")[0];
  var clonedTemplate = template.content.cloneNode(true);
  var isMessageDisplayed = false
  document
  .querySelector('.gift-card__copy-button')
  .addEventListener('click', () => {
    navigator.clipboard.writeText(document.getElementById('gift-card-code').innerText).then(function () {
      if (!isMessageDisplayed) {
        document.querySelector('.gift-card__copy-success').classList.remove('visually-hidden');
        document.querySelector('.gift-card__copy-success').appendChild(clonedTemplate);
        isMessageDisplayed = true
      }
    });
  });
</script>
